In [1]:
from geopy.geocoders import Nominatim

In [2]:
geolocator = Nominatim()

In [3]:
location = geolocator.geocode("175 5th Avenue NYC")
print(location.address)

Flatiron Building, 175, 5th Avenue, Flatiron, New York, NYC, New York, 10010, United States of America

In [4]:
print location.address

Flatiron Building, 175, 5th Avenue, Flatiron, New York, NYC, New York, 10010, United States of America

In [5]:
print((location.latitude, location.longitude))

(40.7410861, -73.9896297241625)

In [7]:
print location.latitude, location.longitude

40.7410861 -73.9896297242

In [8]:
import pandas as pd
import numpy as np

In [9]:
pwd

u'C:\\Users\\andersrmr\\Documents\\Python Scripts\\galvanize_prep\\pothole_repair\\sandbox'

In [10]:
df = pd.read_csv('data/Pothole_Repairs_Seattle.csv')

In [11]:
df.ix[0,'ADDRDESC'], df.ix[0,'LOCATION']

('HOLDEN PL SW BETWEEN SW HOLDEN ST AND SW KENYON ST                                                                                                                                                                                                             ',
 'Holden pl SW bt  SW Kenyon Holden                                                                                                                                                                                                                              ')

In [12]:
df.ix[0, 'ADDRDESC']

'HOLDEN PL SW BETWEEN SW HOLDEN ST AND SW KENYON ST                                                                                                                                                                                                             '

In [14]:
geolocator.geocode(df.ix[0, 'ADDRDESC']) #gives nothing at all

In [15]:
https://maps.google.com/maps?q=Commonwealth+Avenue+at+Washington+street,+Boston,+MA&hl=en&sll=42.351351,-71.118573&sspn=0.054868,0.132093&t=h&hnear=Commonwealth+Ave+%26+Washington+St,+Boston,+Suffolk,+Massachusetts+02135&z=17

SyntaxError: invalid syntax (<ipython-input-15-0482f57ad101>, line 1)

In [21]:
%wget http://maps.googleapis.com/maps/api/geocode/json?address=market+and+4th,+san+francisco&sensor=false

ERROR: Line magic function `%wget` not found.

In [22]:
from geopy.geocoders import GoogleV3
geolocator = GoogleV3()

In [23]:
address, (latitude, longitude) = geolocator.geocode("market and 4th san francisco")

In [24]:
print address

Market St & 4th St, San Francisco, CA 94102, USA

In [25]:
print (latitude, longitude)

(37.7857158, -122.4059115)

In [26]:
address, (latitude, longitude) = geolocator.geocode(df.ix[0, 'ADDRDESC'])

TypeError: 'NoneType' object is not iterable

In [27]:
address, (latitude, longitude) = geolocator.geocode('SW HOLDEN ST AND SW KENYON ST seattle')

In [28]:
print address, (latitude, longitude)

SW Kenyon St & Holden Pl SW, Seattle, WA 98126, USA (47.5318997, -122.3717987)

In [29]:
df.ix[0,'ADDRDESC'], df.ix[0,'LOCATION']

('HOLDEN PL SW BETWEEN SW HOLDEN ST AND SW KENYON ST                                                                                                                                                                                                             ',
 'Holden pl SW bt  SW Kenyon Holden                                                                                                                                                                                                                              ')

In [30]:
df.ix[1,'ADDRDESC'], df.ix[1,'LOCATION']

('MONTLAKE BLVD NE AND NE PACIFIC ST                                                                                                                                                                                                                             ',
 'NE Pacific Street, one block west of Montlake Boulevard N                                                                                                                                                                                                      ')

In [31]:
df.columns

Index([u'OBJECTID', u'WOKEY', u'WO_STATUS', u'LAST90DAYRPRD', u'CURRENT_QTR',
       u'PREVIOUS_1QTR', u'PREVIOUS_2QTR', u'PREVIOUS_3QTR', u'PREVIOUS_4QTR',
       u'INITDT', u'FLDSTARTDT', u'FLDENDDT', u'LOCATION', u'ADDRDESC',
       u'SHAPE'],
      dtype='object')

In [34]:
latitude, longitude = geolocator.geocode('montlake blvd NE and NE pacific st seattle')
print latitude, longitude

Montlake Blvd NE & NE Pacific St, Seattle, WA 98105, USA (47.6490137, -122.3046552)

In [35]:
geolocator.geocode('montlake blvd NE and NE pacific st seattle')

Location((47.6490137, -122.3046552, 0.0))

In [36]:
print latitude

Montlake Blvd NE & NE Pacific St, Seattle, WA 98105, USA

In [37]:
print longitude

(47.6490137, -122.3046552)

In [39]:
address, geocoords = geolocator.geocode('montlake blvd NE and NE pacific st seattle')
print address, geocoords

Montlake Blvd NE & NE Pacific St, Seattle, WA 98105, USA (47.6490137, -122.3046552)

In [41]:
print longitude[0]

47.6490137

In [42]:
df.ix[0:5,'ADDRDESC']

0    HOLDEN PL SW BETWEEN SW HOLDEN ST AND SW KENYO...
1    MONTLAKE BLVD NE AND NE PACIFIC ST            ...
2    NE 135TH ST BETWEEN 32ND AVE NE AND LAKE CITY ...
3    S CHARLES ST BETWEEN 6TH AVE S AND MAYNARD AVE...
4    N 80TH ST BETWEEN CORLISS (W LEG) AVE N AND CO...
5    18TH AVE NE BETWEEN NE 52ND ST AND NE 55TH ST ...
Name: ADDRDESC, dtype: object

In [43]:
for idx in xrange(5):
    print df.ix[idx,'ADDRDESC']

HOLDEN PL SW BETWEEN SW HOLDEN ST AND SW KENYON ST
MONTLAKE BLVD NE AND NE PACIFIC ST
NE 135TH ST BETWEEN 32ND AVE NE AND LAKE CITY WAY NE
S CHARLES ST BETWEEN 6TH AVE S AND MAYNARD AVE S
N 80TH ST BETWEEN CORLISS (W LEG) AVE N AND CORLISS (E LEG) AVE N

In [44]:
for idx in xrange(15):
    print df.ix[idx,'ADDRDESC']

HOLDEN PL SW BETWEEN SW HOLDEN ST AND SW KENYON ST
MONTLAKE BLVD NE AND NE PACIFIC ST
NE 135TH ST BETWEEN 32ND AVE NE AND LAKE CITY WAY NE
S CHARLES ST BETWEEN 6TH AVE S AND MAYNARD AVE S
N 80TH ST BETWEEN CORLISS (W LEG) AVE N AND CORLISS (E LEG) AVE N
18TH AVE NE BETWEEN NE 52ND ST AND NE 55TH ST
3RD AVE NW BETWEEN NW 125TH ST AND NW 127TH ST
SW KENYON ST BETWEEN 15TH AVE SW AND 16TH AVE SW
35TH AVE SW AND SW JUNEAU ST
MINOR AVE N AND REPUBLICAN ST
17TH AVE W BETWEEN W DRAVUS ST AND W BERTONA ST
DAYTON AVE N AND N 104TH ST
PIKE ST BETWEEN 2ND AVE AND 3RD AVE
NE 45TH ST BETWEEN 15TH AVE NE AND 16TH AVE NE
HILLSIDE DR E AND LAKE WASHINGTON BLVD E

In [45]:
geolocator.geocode('HILLSIDE DR E AND LAKE WASHINGTON BLVD E')

Location((47.6224796, -122.2846636, 0.0))

In [46]:
geolocator.geocode('NE 45TH ST')

Location((47.661257, -122.2986688, 0.0))

In [47]:
geolocator.geocode ('NE 45TH ST Seattle')

Location((47.661257, -122.2986688, 0.0))

In [48]:
geolocator.geocode('HILLSIDE DR E AND LAKE WASHINGTON BLVD E seattle')

Location((47.6224796, -122.2846636, 0.0))

In [52]:
geolocator.geocode('HILLSIDE DR E AND LAKE WASHINGTON BLVD E seattle')[1]

(47.6224796, -122.2846636)

In [54]:
geolocator.geocode('NE 45TH ST BETWEEN 15TH AVE NE AND 16TH AVE NE seattle')

Location((47.6757999, -122.3108485, 0.0))

In [56]:
df.shape[0]

26738

In [63]:
def get_geocodes(df):
    new_locs = []
    for row in xrange(df.shape[0]):
        loc = df.ix[row,'ADDRDESC']
        new_locs.append(geolocator.geocode(loc))
        return new_locs

In [68]:
get_geocodes(df)

[None]

In [70]:
type(df.ix[0,'ADDRDESC'])

str

In [78]:
geolocator.geocode(df.ix[1,'ADDRDESC'])

Location((47.6490137, -122.3046552, 0.0))

In [79]:

df.ix[0:5,'ADDRDESC']

0    HOLDEN PL SW BETWEEN SW HOLDEN ST AND SW KENYO...
1    MONTLAKE BLVD NE AND NE PACIFIC ST            ...
2    NE 135TH ST BETWEEN 32ND AVE NE AND LAKE CITY ...
3    S CHARLES ST BETWEEN 6TH AVE S AND MAYNARD AVE...
4    N 80TH ST BETWEEN CORLISS (W LEG) AVE N AND CO...
5    18TH AVE NE BETWEEN NE 52ND ST AND NE 55TH ST ...
Name: ADDRDESC, dtype: object

In [ ]:
AIzaSyBpxr2Rx1WbYqrxpuUg_I819YuDw0Pvm_0

In [80]:
for idx in xrange(15):
    print df.ix[idx,'ADDRDESC']

HOLDEN PL SW BETWEEN SW HOLDEN ST AND SW KENYON ST
MONTLAKE BLVD NE AND NE PACIFIC ST
NE 135TH ST BETWEEN 32ND AVE NE AND LAKE CITY WAY NE
S CHARLES ST BETWEEN 6TH AVE S AND MAYNARD AVE S
N 80TH ST BETWEEN CORLISS (W LEG) AVE N AND CORLISS (E LEG) AVE N
18TH AVE NE BETWEEN NE 52ND ST AND NE 55TH ST
3RD AVE NW BETWEEN NW 125TH ST AND NW 127TH ST
SW KENYON ST BETWEEN 15TH AVE SW AND 16TH AVE SW
35TH AVE SW AND SW JUNEAU ST
MINOR AVE N AND REPUBLICAN ST
17TH AVE W BETWEEN W DRAVUS ST AND W BERTONA ST
DAYTON AVE N AND N 104TH ST
PIKE ST BETWEEN 2ND AVE AND 3RD AVE
NE 45TH ST BETWEEN 15TH AVE NE AND 16TH AVE NE
HILLSIDE DR E AND LAKE WASHINGTON BLVD E

In [83]:
df.ix[0,'ADDRDESC'] + ' Seattle'

'HOLDEN PL SW BETWEEN SW HOLDEN ST AND SW KENYON ST                                                                                                                                                                                                              Seattle'

In [91]:
def get_geocodes(df):
    new_locs = []
    for row in xrange(df.shape[0]):
        loc = df.ix[row,'ADDRDESC'] + ' Seattle'
        new_locs.append((row, geolocator.geocode(loc)))
    return new_locs
geo_codes = get_geocodes(df)

GeocoderQuotaExceeded: The given key has gone over the requests limit in the 24 hour period or has submitted too many requests in too short a period of time.

In [ ]:
print geo_codes[0:5]

In [92]:
geolocator = GoogleV3('AIzaSyBpxr2Rx1WbYqrxpuUg_I819YuDw0Pvm_0')

In [93]:
geolocator.geocode(df.ix[0,'ADDRDESC'] + ' Seattle')

Location((47.5318578, -122.3631857, 0.0))

In [98]:
def get_geocodes(df):
    new_locs = []
#     for row in xrange(df.shape[0]):
    for row in xrange(5):
        loc = df.ix[row,'ADDRDESC'] + ' Seattle'
        new_locs.append((row, geolocator.geocode(loc)))
#         new_locs.append(row)
#         new_locs.append(loc)
    return new_locs

In [99]:
get_geocodes(df)

[(0, Location((47.5318578, -122.3631857, 0.0))),
 (1, Location((47.6490137, -122.3046552, 0.0))),
 (2, Location((47.7074461, -122.3015663, 0.0))),
 (3, Location((47.5970845, -122.3250649, 0.0))),
 (4, Location((47.6062095, -122.3320708, 0.0)))]

In [102]:
def get_geocodes(df):
    new_locs = []
    for row in xrange(50):
        loc = df.ix[row,'ADDRDESC'] + ' Seattle'
        new_locs.append((row, geolocator.geocode(loc)))
    return new_locs

In [103]:
geocodes_1to50 = get_geocodes(df)

In [104]:
print geocodes_1to50

[(0, Location((47.5318578, -122.3631857, 0.0))), (1, Location((47.6490137, -122.3046552, 0.0))), (2, Location((47.7074461, -122.3015663, 0.0))), (3, Location((47.5970845, -122.3250649, 0.0))), (4, Location((47.6062095, -122.3320708, 0.0))), (5, Location((47.6685216, -122.2956295, 0.0))), (6, Location((47.7214758, -122.3649839, 0.0))), (7, Location((47.5158683, -122.3551443, 0.0))), (8, Location((47.55013, -122.3763528, 0.0))), (9, Location((47.6231312, -122.3330033, 0.0))), (10, Location((47.6503107, -122.3886039, 0.0))), (11, Location((47.7043612, -122.3527632, 0.0))), (12, Location((47.610741, -122.338703, 0.0))), (13, Location((47.6757999, -122.3108485, 0.0))), (14, Location((47.6224796, -122.2846636, 0.0))), (15, Location((47.5682933, -122.3018407, 0.0))), (16, Location((47.7086636, -122.3273083, 0.0))), (17, Location((47.6062095, -122.3320708, 0.0))), (18, Location((47.7290258, -122.343668, 0.0))), (19, Location((47.7305514, -122.3381845, 0.0))), (20, Location((47.693551, -122.3858196, 0.0))), (21, Location((47.5612212, -122.3242658, 0.0))), (22, Location((47.7043612, -122.3527632, 0.0))), (23, Location((47.6723653, -122.3811322, 0.0))), (24, Location((47.5182375, -122.2685077, 0.0))), (25, Location((47.5612212, -122.3242658, 0.0))), (26, Location((47.6432745, -122.3033453, 0.0))), (27, Location((47.5869391, -122.3052262, 0.0))), (28, Location((47.5983289, -122.3115737, 0.0))), (29, Location((47.6062095, -122.3320708, 0.0))), (30, Location((47.5732864, -122.322591, 0.0))), (31, Location((47.5191924, -122.3611037, 0.0))), (32, Location((47.7140486, -122.3125012, 0.0))), (33, Location((47.6062095, -122.3320708, 0.0))), (34, Location((47.5402254, -122.3683915, 0.0))), (35, Location((47.7320171, -122.3019443, 0.0))), (36, Location((47.6303968, -122.3112424, 0.0))), (37, Location((47.5837022, -122.3141117, 0.0))), (38, Location((47.7160022, -122.3609336, 0.0))), (39, Location((47.6322864, -122.3016042, 0.0))), (40, Location((47.5659929, -122.2978999, 0.0))), (41, Location((47.614951, -122.335297, 0.0))), (42, Location((47.7193567, -122.3059047, 0.0))), (43, Location((47.6359617, -122.3609521, 0.0))), (44, Location((47.5370234, -122.293035, 0.0))), (45, Location((47.6831194, -122.3897888, 0.0))), (46, Location((47.6149233, -122.3422156, 0.0))), (47, Location((47.7086636, -122.3273083, 0.0))), (48, Location((47.6115014, -122.34335, 0.0))), (49, Location((47.6244111, -122.3053542, 0.0)))]

In [107]:
def get_geocodes(df):
    new_locs = []
    for row in xrange(50,100):
        loc = df.ix[row,'ADDRDESC'] + ' Seattle'
        new_locs.append((row, geolocator.geocode(loc)))
    return new_locs

In [108]:
len(range(50,100))

50

In [109]:
geocodes_51to100 = get_geocodes(df)

In [115]:
geocodes_51to100[:10]

[(50, Location((47.6062095, -122.3320708, 0.0))),
 (51, Location((47.5509151, -122.2976812, 0.0))),
 (52, Location((47.7104453, -122.3313537, 0.0))),
 (53, Location((47.659178, -122.2900991, 0.0))),
 (54, Location((47.6340238, -122.3544058, 0.0))),
 (55, Location((47.6685216, -122.2956295, 0.0))),
 (56, Location((47.6231334, -122.326594, 0.0))),
 (57, Location((47.7212347, -122.3140735, 0.0))),
 (58, Location((47.666443, -122.3034441, 0.0))),
 (59, Location((47.6996341, -122.3473049, 0.0)))]

In [111]:
geocodes_51to100[-10:]

[(90, Location((47.6324363, -122.3556352, 0.0))),
 (91, Location((47.6297515, -122.3488124, 0.0))),
 (92, Location((47.6152216, -122.3261797, 0.0))),
 (93, Location((47.7160266, -122.3662914, 0.0))),
 (94, Location((47.5442208, -122.2797783, 0.0))),
 (95, Location((47.4966269, -122.276053, 0.0))),
 (96, Location((47.6062095, -122.3320708, 0.0))),
 (97, Location((47.669457, -122.2848171, 0.0))),
 (98, Location((47.7104453, -122.3313537, 0.0))),
 (99, Location((47.6208963, -122.3430313, 0.0)))]

In [112]:
df.shape[0]

26738

In [125]:
def get_geocodes(df):
    new_locs = []
    for row in xrange(100,500):
        loc = df.ix[row,'ADDRDESC'] + ' Seattle'
        new_locs.append((row, geolocator.geocode(loc, timeout=10)))
    return new_locs

In [126]:
geocodes_101to500 = get_geocodes(df)

In [187]:
lats, longs = [], []
for ind in xrange(len(geocodes_101to500)):
    lats.append(geocodes_101to500[ind][1].latitude)
    longs.append(geocodes_101to500[ind][1].longitude)

In [188]:
len(lats), len(set(lats)), len(set(longs)) #why am I not getting 400 unique latitudes?

(400, 275, 275)

In [158]:
geocodes_101to500[:100][0][1]

Location((47.6981806, -122.3446, 0.0))

In [193]:
geocodes_101to500[0][1].latitude, geocodes_101to500[0][1].longitude

(47.6981806, -122.3446)

In [195]:
geocodes_1to500_lat = geocodes_1to50[0][1].latitude + geocodes_51to100[0][1].latitude + geocodes_101to500[0][1].latitude

In [196]:
geocodes_1to500_long = geocodes_1to50[0][1].longitude + geocodes_51to100[0][1].longitude + geocodes_101to500[0][1].longitude

In [206]:
geocodes_1to500 = geocodes_1to50 + geocodes_51to100 + geocodes_101to500

In [209]:
type(geocodes_1to500)

list

In [220]:
lats, longs = [], []
for elem in geocodes_1to500:
    lats.append(elem[1].latitude)
    longs.append(elem[1].longitude)

In [221]:
lats = pd.Series(lats, name='lats')
longs = pd.Series(longs, name='longs')

In [222]:
len(lats)

500

In [237]:
df_first500 = df.loc[0:499,:].copy()

In [238]:
df_first500['latitude'] = lats
df_first500['longitude'] = longs

In [239]:
df_first500.head()

,OBJECTID,WOKEY,WO_STATUS,LAST90DAYRPRD,CURRENT_QTR,PREVIOUS_1QTR,PREVIOUS_2QTR,PREVIOUS_3QTR,PREVIOUS_4QTR,INITDT,FLDSTARTDT,FLDENDDT,LOCATION,ADDRDESC,SHAPE,latitude,longitude
0,1,2456,COMPLETED,0,0,0,0,0,0,03/29/2010 07:00:00 AM +0000,04/06/2010 07:00:00 AM +0000,04/06/2010 07:00:00 AM +0000,Holden pl SW bt SW Kenyon Holden ...,HOLDEN PL SW BETWEEN SW HOLDEN ST AND SW KENYO...,NaN,47.531858,-122.363186
1,2,2514,COMPLETED,0,0,0,0,0,0,03/30/2010 07:00:00 AM +0000,04/01/2010 07:00:00 AM +0000,04/01/2010 07:00:00 AM +0000,"NE Pacific Street, one block west of Montlake ...",MONTLAKE BLVD NE AND NE PACIFIC ST ...,NaN,47.649014,-122.304655
2,3,2649,COMPLETED,0,0,0,0,0,0,03/31/2010 07:00:00 AM +0000,04/01/2010 07:00:00 AM +0000,04/01/2010 07:00:00 AM +0000,32nd Ave NE and NE 135th ...,NE 135TH ST BETWEEN 32ND AVE NE AND LAKE CITY ...,NaN,47.707446,-122.301566
3,4,1591,COMPLETED,0,0,0,0,0,0,03/15/2010 07:00:00 AM +0000,03/16/2010 07:00:00 AM +0000,03/16/2010 07:00:00 AM +0000,Charles st & 6 Ave S pothole next to traffic l...,S CHARLES ST BETWEEN 6TH AVE S AND MAYNARD AVE...,NaN,47.597085,-122.325065
4,5,1680,COMPLETED,0,0,0,0,0,0,03/16/2010 07:00:00 AM +0000,03/17/2010 07:00:00 AM +0000,03/17/2010 07:00:00 AM +0000,N 80th St between Corliss Ave N and 2nd Ave NE...,N 80TH ST BETWEEN CORLISS (W LEG) AVE N AND CO...,NaN,47.606209,-122.332071

In [243]:
import cPickle as pickle

In [245]:
df_first500.to_pickle('df_first500.pkl')

In [246]:
def get_geocodes(df):
    new_locs = []
    for row in xrange(500,1000):
        loc = df.ix[row,'ADDRDESC'] + ' Seattle'
        new_locs.append((row, geolocator.geocode(loc, timeout=10)))
    return new_locs

In [247]:
geocodes_501to1000 = get_geocodes(df)

In [248]:
geocodes_501to1000

[(500, Location((47.5579035, -122.3134718, 0.0))),
 (501, Location((47.6208963, -122.3430313, 0.0))),
 (502, Location((47.5228588, -122.3688324, 0.0))),
 (503, Location((47.5366644, -122.3765918, 0.0))),
 (504, Location((47.6555592, -122.3706272, 0.0))),
 (505, Location((47.5355392, -122.3704759, 0.0))),
 (506, Location((47.6062095, -122.3320708, 0.0))),
 (507, Location((47.6176056, -122.3074067, 0.0))),
 (508, Location((47.6208963, -122.3430313, 0.0))),
 (509, Location((47.6062095, -122.3320708, 0.0))),
 (510, Location((47.6062095, -122.3320708, 0.0))),
 (511, Location((47.5392151, -122.2995882, 0.0))),
 (512, Location((47.6103624, -122.3075774, 0.0))),
 (513, Location((47.7158903, -122.3288386, 0.0))),
 (514, Location((47.6062095, -122.3320708, 0.0))),
 (515, Location((47.6920814, -122.3683148, 0.0))),
 (516, Location((47.6062095, -122.3320708, 0.0))),
 (517, Location((47.6176056, -122.3074067, 0.0))),
 (518, Location((47.5837022, -122.3141117, 0.0))),
 (519, Location((47.6062095, -122.3320708, 0.0))),
 (520, Location((47.6385502, -122.364941, 0.0))),
 (521, Location((47.6062095, -122.3320708, 0.0))),
 (522, Location((47.4814002, -122.2684085, 0.0))),
 (523, Location((47.744732, -122.32046, 0.0))),
 (524, Location((47.7310333, -122.3450752, 0.0))),
 (525, Location((47.6062095, -122.3320708, 0.0))),
 (526, Location((47.4928647, -122.3456748, 0.0))),
 (527, Location((47.6306024, -122.3035267, 0.0))),
 (528, Location((47.5428848, -122.3778143, 0.0))),
 (529, Location((47.5392151, -122.2995882, 0.0))),
 (530, Location((47.6868611, -122.3789411, 0.0))),
 (531, Location((47.6103826, -122.312833, 0.0))),
 (532, Location((47.582997, -122.3905562, 0.0))),
 (533, Location((47.6834856, -122.3767917, 0.0))),
 (534, Location((47.6286681, -122.30476, 0.0))),
 (535, Location((47.5481964, -122.2865028, 0.0))),
 (536, Location((47.717936, -122.307227, 0.0))),
 (537, Location((47.5794751, -122.3154, 0.0))),
 (538, Location((47.6777163, -122.3810544, 0.0))),
 (539, Location((47.639904, -122.3874179, 0.0))),
 (540, Location((47.6232358, -122.3430295, 0.0))),
 (541, Location((47.7123341, -122.3501869, 0.0))),
 (542, Location((47.6149233, -122.3422156, 0.0))),
 (543, Location((47.6204961, -122.3087482, 0.0))),
 (544, Location((47.582984, -122.3134129, 0.0))),
 (545, Location((47.6885201, -122.3045382, 0.0))),
 (546, Location((47.5730879, -122.3113652, 0.0))),
 (547, Location((47.6354033, -122.3254194, 0.0))),
 (548, Location((47.629764, -122.2827177, 0.0))),
 (549, Location((47.5674093, -122.3709461, 0.0))),
 (550, Location((47.6292767, -122.3016496, 0.0))),
 (551, Location((47.6062095, -122.3320708, 0.0))),
 (552, Location((47.7140812, -122.3568481, 0.0))),
 (553, Location((47.6966519, -122.3041868, 0.0))),
 (554, Location((47.4269473, -122.333367, 0.0))),
 (555, Location((47.7229808, -122.3072906, 0.0))),
 (556, Location((47.6981806, -122.3446, 0.0))),
 (557, Location((47.5664265, -122.4074568, 0.0))),
 (558, Location((47.696335, -122.2852394, 0.0))),
 (559, Location((47.66787, -122.2984892, 0.0))),
 (560, Location((47.7179322, -122.2912678, 0.0))),
 (561, Location((47.5863642, -122.3146907, 0.0))),
 (562, Location((47.684855, -122.294827, 0.0))),
 (563, Location((47.5605895, -122.2707165, 0.0))),
 (564, Location((47.6504494, -122.4036102, 0.0))),
 (565, Location((47.5428848, -122.3778143, 0.0))),
 (566, Location((47.5097272, -122.2517561, 0.0))),
 (567, Location((47.624495, -122.3430427, 0.0))),
 (568, Location((47.571566, -122.3160628, 0.0))),
 (569, Location((47.5732107, -122.3259808, 0.0))),
 (570, Location((47.7265893, -122.3050231, 0.0))),
 (571, Location((47.7046699, -122.3023171, 0.0))),
 (572, Location((47.6185574, -122.3431813, 0.0))),
 (573, Location((47.6171136, -122.3044689, 0.0))),
 (574, Location((47.6042161, -122.2958511, 0.0))),
 (575, Location((47.6062095, -122.3320708, 0.0))),
 (576, Location((47.6849863, -122.3864808, 0.0))),
 (577, Location((47.5264812, -122.3658228, 0.0))),
 (578, Location((47.5468267, -122.3597253, 0.0))),
 (579, Location((47.7167374, -122.3410696, 0.0))),
 (580, Location((47.696335, -122.2852394, 0.0))),
 (581, Location((47.5674093, -122.3709461, 0.0))),
 (582, Location((47.7340716, -122.3263431, 0.0))),
 (583, Location((47.551984, -122.3749029, 0.0))),
 (584, Location((47.7286801, -122.3436733, 0.0))),
 (585, Location((47.6204961, -122.3087482, 0.0))),
 (586, Location((47.5319962, -122.3711881, 0.0))),
 (587, Location((47.565758, -122.3322985, 0.0))),
 (588, Location((47.7338889, -122.3073379, 0.0))),
 (589, Location((47.7050173, -122.3451689, 0.0))),
 (590, Location((47.6062095, -122.3320708, 0.0))),
 (591, Location((47.6103642, -122.3088849, 0.0))),
 (592, Location((47.5560995, -122.2992013, 0.0))),
 (593, Location((47.553798, -122.2992644, 0.0))),
 (594, Location((47.5696571, -122.3558536, 0.0))),
 (595, Location((47.5481964, -122.2865028, 0.0))),
 (596, Location((47.6185085, -122.3073893, 0.0))),
 (597, Location((47.6062095, -122.3320708, 0.0))),
 (598, Location((47.5713261, -122.4038579, 0.0))),
 (599, Location((47.6008525, -122.3133497, 0.0))),
 (600, Location((47.5504241, -122.3295722, 0.0))),
 (601, Location((47.6100649, -122.3001195, 0.0))),
 (602, Location((47.7304995, -122.343958, 0.0))),
 (603, Location((47.715067, -122.3555109, 0.0))),
 (604, Location((47.6555592, -122.3706272, 0.0))),
 (605, Location((47.6115198, -122.2903768, 0.0))),
 (606, Location((47.734123, -122.3606397, 0.0))),
 (607, Location((47.7029866, -122.3025081, 0.0))),
 (608, Location((47.6399656, -122.3522494, 0.0))),
 (609, Location((47.6432145, -122.318495, 0.0))),
 (610, Location((47.6000076, -122.311577, 0.0))),
 (611, Location((47.6897474, -122.3089765, 0.0))),
 (612, Location((47.6555592, -122.3706272, 0.0))),
 (613, Location((47.6062095, -122.3320708, 0.0))),
 (614, Location((47.6624414, -122.4025538, 0.0))),
 (615, Location((47.714129, -122.3481913, 0.0))),
 (616, Location((47.5943858, -122.3090968, 0.0))),
 (617, Location((47.6268671, -122.3099708, 0.0))),
 (618, Location((47.6062095, -122.3320708, 0.0))),
 (619, Location((47.603162, -122.321035, 0.0))),
 (620, Location((47.6360034, -122.3225424, 0.0))),
 (621, Location((47.7250443, -122.3555543, 0.0))),
 (622, Location((47.6836248, -122.3740945, 0.0))),
 (623, Location((47.562041, -122.3787732, 0.0))),
 (624, Location((47.7214116, -122.3516034, 0.0))),
 (625, Location((47.714129, -122.3481913, 0.0))),
 (626, Location((47.6286681, -122.30476, 0.0))),
 (627, Location((47.68134, -122.3789158, 0.0))),
 (628, Location((47.5391665, -122.3671002, 0.0))),
 (629, Location((47.6115014, -122.34335, 0.0))),
 (630, Location((47.5737039, -122.3351242, 0.0))),
 (631, Location((47.7247796, -122.3072831, 0.0))),
 (632, Location((47.6942448, -122.3619799, 0.0))),
 (633, Location((47.6062095, -122.3320708, 0.0))),
 (634, Location((47.5765134, -122.2863495, 0.0))),
 (635, Location((47.6683212, -122.2741401, 0.0))),
 (636, Location((47.6838844, -122.3040162, 0.0))),
 (637, Location((47.5282753, -122.3671819, 0.0))),
 (638, Location((47.7158903, -122.3288386, 0.0))),
 (639, Location((47.6641309, -122.342095, 0.0))),
 (640, Location((47.5444635, -122.3613433, 0.0))),
 (641, Location((47.6281194, -122.2939988, 0.0))),
 (642, Location((47.7105153, -122.3501453, 0.0))),
 (643, Location((47.7068868, -122.343358, 0.0))),
 (644, Location((47.5509151, -122.2976812, 0.0))),
 (645, Location((47.6420373, -122.3246572, 0.0))),
 (646, Location((47.6484483, -122.386722, 0.0))),
 (647, Location((47.5295512, -122.2685442, 0.0))),
 (648, Location((47.6062095, -122.3320708, 0.0))),
 (649, Location((47.6580234, -122.3423047, 0.0))),
 (650, Location((47.624495, -122.3430427, 0.0))),
 (651, Location((47.7341859, -122.3439838, 0.0))),
 (652, Location((47.6813327, -122.3842962, 0.0))),
 (653, Location((47.570179, -122.3834757, 0.0))),
 (654, Location((47.6204915, -122.3073572, 0.0))),
 (655, Location((47.5613397, -122.3266858, 0.0))),
 (656, Location((47.6062095, -122.3320708, 0.0))),
 (657, Location((47.5173845, -122.3658995, 0.0))),
 (658, Location((47.6128968, -122.3081973, 0.0))),
 (659, Location((47.6876626, -122.3606185, 0.0))),
 (660, Location((47.5282888, -122.3550538, 0.0))),
 (661, Location((47.5884831, -122.3138141, 0.0))),
 (662, Location((47.5610361, -122.3762087, 0.0))),
 (663, Location((47.5513729, -122.320138, 0.0))),
 (664, Location((47.615883, -122.3317978, 0.0))),
 (665, Location((47.7015416, -122.374093, 0.0))),
 (666, Location((47.7195965, -122.3502902, 0.0))),
 (667, Location((47.6699873, -122.30393, 0.0))),
 (668, Location((47.5877506, -122.3094887, 0.0))),
 (669, Location((47.6244111, -122.3053542, 0.0))),
 (670, Location((47.7011772, -122.3012172, 0.0))),
 (671, Location((47.6062095, -122.3320708, 0.0))),
 (672, Location((47.6388102, -122.3091608, 0.0))),
 (673, Location((47.628423, -122.3156686, 0.0))),
 (674, Location((47.6865465, -122.3039913, 0.0))),
 (675, Location((47.6305007, -122.3085977, 0.0))),
 (676, Location((47.5810352, -122.3214077, 0.0))),
 (677, Location((47.616356, -122.3515499, 0.0))),
 (678, Location((47.6420248, -122.3707586, 0.0))),
 (679, Location((47.5666668, -122.3867537, 0.0))),
 (680, Location((47.7117972, -122.2776357, 0.0))),
 (681, Location((47.6942448, -122.3619799, 0.0))),
 (682, Location((47.5592663, -122.3773472, 0.0))),
 (683, Location((47.7011772, -122.3012172, 0.0))),
 (684, Location((47.6422696, -122.412756, 0.0))),
 (685, Location((47.7242144, -122.3609537, 0.0))),
 (686, Location((47.6268641, -122.3093035, 0.0))),
 (687, Location((47.5301455, -122.2953199, 0.0))),
 (688, Location((47.638712, -122.301795, 0.0))),
 (689, Location((47.6140856, -122.3255203, 0.0))),
 (690, Location((47.6348854, -122.3476387, 0.0))),
 (691, Location((47.5802868, -122.3812585, 0.0))),
 (692, Location((47.7175374, -122.3038105, 0.0))),
 (693, Location((47.6243, -122.3252992, 0.0))),
 (694, Location((47.6062095, -122.3320708, 0.0))),
 (695, Location((47.7013414, -122.3242477, 0.0))),
 (696, Location((47.5740435, -122.3050907, 0.0))),
 (697, Location((47.6095445, -122.316797, 0.0))),
 (698, Location((47.6200687, -122.3012119, 0.0))),
 (699, Location((47.7140486, -122.3125012, 0.0))),
 (700, Location((47.6062095, -122.3320708, 0.0))),
 (701, Location((47.6424592, -122.3060501, 0.0))),
 (702, Location((47.6741358, -122.333714, 0.0))),
 (703, Location((47.6680487, -122.379624, 0.0))),
 (704, Location((47.6527713, -122.3485764, 0.0))),
 (705, Location((47.6116414, -122.2870833, 0.0))),
 (706, Location((47.5453013, -122.2850432, 0.0))),
 (707, Location((47.5049483, -122.3577727, 0.0))),
 (708, Location((47.7122893, -122.3340378, 0.0))),
 (709, Location((47.6060638, -122.3282457, 0.0))),
 (710, Location((47.7084031, -122.3347488, 0.0))),
 (711, Location((47.6062095, -122.3320708, 0.0))),
 (712, Location((47.5168265, -122.2640925, 0.0))),
 (713, Location((47.6103835, -122.3141403, 0.0))),
 (714, Location((47.7220581, -122.3045976, 0.0))),
 (715, Location((47.712359, -122.3634733, 0.0))),
 (716, Location((47.6954768, -122.283602, 0.0))),
 (717, Location((47.5659929, -122.2978999, 0.0))),
 (718, Location((47.6920814, -122.3683148, 0.0))),
 (719, Location((47.7214758, -122.3649839, 0.0))),
 (720, Location((47.6393037, -122.3736145, 0.0))),
 (721, Location((47.523086, -122.3117788, 0.0))),
 (722, Location((47.5576808, -122.3895911, 0.0))),
 (723, Location((47.6924213, -122.3539362, 0.0))),
 (724, Location((47.6996895, -122.3785926, 0.0))),
 (725, Location((47.6062095, -122.3320708, 0.0))),
 (726, Location((47.6350739, -122.3180701, 0.0))),
 (727, Location((47.6152262, -122.2838902, 0.0))),
 (728, Location((47.6062095, -122.3320708, 0.0))),
 (729, Location((47.63027, -122.3009663, 0.0))),
 (730, Location((47.68134, -122.3789158, 0.0))),
 (731, Location((47.6062095, -122.3320708, 0.0))),
 (732, Location((47.5697448, -122.3558325, 0.0))),
 (733, Location((47.5100612, -122.3609058, 0.0))),
 (734, Location((47.6062095, -122.3320708, 0.0))),
 (735, Location((47.5085864, -122.2730842, 0.0))),
 (736, Location((47.5902805, -122.331766, 0.0))),
 (737, Location((47.5446761, -122.3757294, 0.0))),
 (738, Location((47.6062095, -122.3320708, 0.0))),
 (739, Location((47.6062095, -122.3320708, 0.0))),
 (740, Location((47.6062095, -122.3320708, 0.0))),
 (741, Location((47.6062095, -122.3320708, 0.0))),
 (742, Location((47.6062095, -122.3320708, 0.0))),
 (743, Location((47.6527328, -122.3492409, 0.0))),
 (744, Location((47.6868566, -122.3800152, 0.0))),
 (745, Location((47.7066763, -122.2961645, 0.0))),
 (746, Location((47.60748, -122.3295753, 0.0))),
 (747, Location((47.6228649, -122.2970753, 0.0))),
 (748, Location((47.6062095, -122.3320708, 0.0))),
 (749, Location((47.6292767, -122.3016496, 0.0))),
 (750, Location((47.7099888, -122.3222174, 0.0))),
 (751, Location((47.6322866, -122.3022998, 0.0))),
 (752, Location((47.7153143, -122.3354541, 0.0))),
 (753, Location((47.570179, -122.3834757, 0.0))),
 (754, Location((47.6185085, -122.3073893, 0.0))),
 (755, Location((47.5352726, -122.294361, 0.0))),
 (756, Location((47.744732, -122.32046, 0.0))),
 (757, Location((47.6694571, -122.38074, 0.0))),
 (758, Location((47.6171136, -122.3044689, 0.0))),
 (759, Location((47.6103642, -122.3088849, 0.0))),
 (760, Location((47.7103996, -122.2983605, 0.0))),
 (761, Location((47.7176335, -122.3161074, 0.0))),
 (762, Location((47.5228588, -122.3688324, 0.0))),
 (763, Location((47.5442741, -122.321136, 0.0))),
 (764, Location((47.684855, -122.294827, 0.0))),
 (765, Location((47.5944963, -122.3062273, 0.0))),
 (766, Location((47.638712, -122.301795, 0.0))),
 (767, Location((47.5052479, -122.2749139, 0.0))),
 (768, Location((47.571628, -122.3140549, 0.0))),
 (769, Location((47.5538065, -122.3743778, 0.0))),
 (770, Location((47.6503107, -122.3886039, 0.0))),
 (771, Location((47.5944963, -122.3062273, 0.0))),
 (772, Location((47.5682933, -122.3018407, 0.0))),
 (773, Location((47.6862034, -122.3606267, 0.0))),
 (774, Location((47.5429533, -122.3818813, 0.0))),
 (775, Location((47.7158903, -122.3288386, 0.0))),
 (776, Location((47.6924375, -122.3778782, 0.0))),
 (777, Location((47.6176056, -122.3074067, 0.0))),
 (778, Location((47.6642798, -122.3009344, 0.0))),
 (779, Location((47.6093864, -122.3321977, 0.0))),
 (780, Location((47.5391944, -122.3717945, 0.0))),
 (781, Location((47.7340711, -122.3608587, 0.0))),
 (782, Location((47.638712, -122.301795, 0.0))),
 (783, Location((47.7232916, -122.3649676, 0.0))),
 (784, Location((47.5428368, -122.3722545, 0.0))),
 (785, Location((47.6062095, -122.3320708, 0.0))),
 (786, Location((47.5202587, -122.2726931, 0.0))),
 (787, Location((47.6348693, -122.3519598, 0.0))),
 (788, Location((47.6924375, -122.3778782, 0.0))),
 (789, Location((47.6286703, -122.3072774, 0.0))),
 (790, Location((47.618246, -122.350789, 0.0))),
 (791, Location((47.7158415, -122.3207475, 0.0))),
 (792, Location((47.6910909, -122.3828155, 0.0))),
 (793, Location((47.6434685, -122.3876321, 0.0))),
 (794, Location((47.68134, -122.3789158, 0.0))),
 (795, Location((47.6062095, -122.3320708, 0.0))),
 (796, Location((47.5768591, -122.3120693, 0.0))),
 (797, Location((47.5884831, -122.3138141, 0.0))),
 (798, Location((47.6062095, -122.3320708, 0.0))),
 (799, Location((47.6062095, -122.3320708, 0.0))),
 (800, Location((47.6838844, -122.3040162, 0.0))),
 (801, Location((47.6306479, -122.3125174, 0.0))),
 (802, Location((47.6360034, -122.3225424, 0.0))),
 (803, Location((47.5428848, -122.3778143, 0.0))),
 (804, Location((47.6092035, -122.3102293, 0.0))),
 (805, Location((47.7068868, -122.343358, 0.0))),
 (806, Location((47.5537207, -122.2697966, 0.0))),
 (807, Location((47.5819017, -122.329986, 0.0))),
 (808, Location((47.6062095, -122.3320708, 0.0))),
 (809, Location((47.7160022, -122.3609336, 0.0))),
 (810, Location((47.6887178, -122.3832438, 0.0))),
 (811, Location((47.6062095, -122.3320708, 0.0))),
 (812, Location((47.6898313, -122.3057029, 0.0))),
 (813, Location((47.6062095, -122.3320708, 0.0))),
 (814, Location((47.6323205, -122.3583281, 0.0))),
 (815, Location((47.5460913, -122.2884678, 0.0))),
 (816, Location((47.565758, -122.3322985, 0.0))),
 (817, Location((47.5709586, -122.2947323, 0.0))),
 (818, Location((47.7103996, -122.2983605, 0.0))),
 (819, Location((47.5988888, -122.3276518, 0.0))),
 (820, Location((47.6053328, -122.3276034, 0.0))),
 (821, Location((47.6053328, -122.3276034, 0.0))),
 (822, Location((47.7064775, -122.3080905, 0.0))),
 (823, Location((47.6343548, -122.3211988, 0.0))),
 (824, Location((47.6304684, -122.3617856, 0.0))),
 (825, Location((47.6759492, -122.2728836, 0.0))),
 (826, Location((47.664887, -122.2956376, 0.0))),
 (827, Location((47.682283, -122.2836923, 0.0))),
 (828, Location((47.5592663, -122.3773472, 0.0))),
 (829, Location((47.5052479, -122.2749139, 0.0))),
 (830, Location((47.7123341, -122.3501869, 0.0))),
 (831, Location((47.715067, -122.3555109, 0.0))),
 (832, Location((47.5355392, -122.3704759, 0.0))),
 (833, Location((47.5355392, -122.3704759, 0.0))),
 (834, Location((47.5479025, -122.3145002, 0.0))),
 (835, Location((47.6928001, -122.3683461, 0.0))),
 (836, Location((47.6062095, -122.3320708, 0.0))),
 (837, Location((47.6946847, -122.3784284, 0.0))),
 (838, Location((47.6497521, -122.3447248, 0.0))),
 (839, Location((47.7122893, -122.3340378, 0.0))),
 (840, Location((47.6232324, -122.3073175, 0.0))),
 (841, Location((47.6100531, -122.294939, 0.0))),
 (842, Location((47.7086636, -122.3273083, 0.0))),
 (843, Location((47.6062095, -122.3320708, 0.0))),
 (844, Location((47.6960804, -122.3768133, 0.0))),
 (845, Location((47.6759487, -122.3295921, 0.0))),
 (846, Location((47.6177937, -122.3559883, 0.0))),
 (847, Location((47.6062095, -122.3320708, 0.0))),
 (848, Location((47.5666668, -122.3867537, 0.0))),
 (849, Location((47.7213141, -122.323623, 0.0))),
 (850, Location((47.5574579, -122.387559, 0.0))),
 (851, Location((47.7086, -122.339364, 0.0))),
 (852, Location((47.7238515, -122.3221961, 0.0))),
 (853, Location((47.5751097, -122.3118542, 0.0))),
 (854, Location((47.6176056, -122.3074067, 0.0))),
 (855, Location((47.717509, -122.3017914, 0.0))),
 (856, Location((47.6649299, -122.2708514, 0.0))),
 (857, Location((47.6591858, -122.3011364, 0.0))),
 (858, Location((47.63378, -122.2946563, 0.0))),
 (859, Location((47.6062095, -122.3320708, 0.0))),
 (860, Location((47.5924037, -122.3289415, 0.0))),
 (861, Location((47.6529673, -122.3576565, 0.0))),
 (862, Location((47.6268671, -122.3099708, 0.0))),
 (863, Location((47.6062095, -122.3320708, 0.0))),
 (864, Location((47.6197254, -122.3430409, 0.0))),
 (865, Location((47.6062095, -122.3320708, 0.0))),
 (866, Location((47.5460105, -122.314338, 0.0))),
 (867, Location((47.6292767, -122.3016496, 0.0))),
 (868, Location((47.6062095, -122.3320708, 0.0))),
 (869, Location((47.668672, -122.3796235, 0.0))),
 (870, Location((47.6204961, -122.3087482, 0.0))),
 (871, Location((47.5628236, -122.288807, 0.0))),
 (872, Location((47.6846567, -122.3875889, 0.0))),
 (873, Location((47.534793, -122.3607182, 0.0))),
 (874, Location((47.6171136, -122.3044689, 0.0))),
 (875, Location((47.5085866, -122.3577708, 0.0))),
 (876, Location((47.6062095, -122.3320708, 0.0))),
 (877, Location((47.5641439, -122.2828043, 0.0))),
 (878, Location((47.5716514, -122.4002439, 0.0))),
 (879, Location((47.6100304, -122.3037193, 0.0))),
 (880, Location((47.6850535, -122.377857, 0.0))),
 (881, Location((47.636562, -122.30292, 0.0))),
 (882, Location((47.6883885, -122.3431397, 0.0))),
 (883, Location((47.5173845, -122.3658995, 0.0))),
 (884, Location((47.7302483, -122.3071407, 0.0))),
 (885, Location((47.6641309, -122.342095, 0.0))),
 (886, Location((47.712325, -122.3447993, 0.0))),
 (887, Location((47.5610361, -122.3762087, 0.0))),
 (888, Location((47.4928647, -122.3456748, 0.0))),
 (889, Location((47.5988888, -122.3276518, 0.0))),
 (890, Location((47.6100531, -122.294939, 0.0))),
 (891, Location((47.5246853, -122.3631567, 0.0))),
 (892, Location((47.6767806, -122.265864, 0.0))),
 (893, Location((47.6395535, -122.32006, 0.0))),

In [285]:
def get_geocodes(df):
    new_locs = []
    for row in xrange(1000,1500):
        loc = df.ix[row,'ADDRDESC'] + ' Seattle'
        new_locs.append((row, geolocator.geocode(loc, timeout=10)))
    return new_locs

In [286]:
geocodes_1001to1500 = get_geocodes(df)

In [287]:
def get_geocodes(df):
    new_locs = []
    for row in xrange(1500,2000):
        loc = df.ix[row,'ADDRDESC'] + ' Seattle'
        new_locs.append((row, geolocator.geocode(loc, timeout=10)))
    return new_locs

In [288]:
geocodes_1501to2000 = get_geocodes(df)

In [289]:
geocodes_1to2000 = geocodes_1to500 + geocodes_501to1000 + geocodes_1001to1500 + geocodes_1501to2000

####These are geocodes for the first 2000 records.  Create df_first2000.  Then get reverse geocodes for records 501 to 2000, except that will exceed my quota for today.

In [290]:
#Create Series of lats, longs
lats, longs = [], []
for elem in geocodes_1to2000:
    lats.append(elem[1].latitude)
    longs.append(elem[1].longitude)
    
lats = pd.Series(lats, name='lats')
longs = pd.Series(longs, name='longs')

#Copy df
df_first2000 = df.loc[0:1999,:].copy()

df_first2000['latitude'] = lats
df_first2000['longitude'] = longs

#Extract non-specific addresses that are part of Location object and add to dataframe
addrs = []
for elem in geocodes_1to2000:
    addrs.append(elem[1].address)
addrs = pd.Series(addrs, name='addrs')
df_first2000['address'] = addrs

In [291]:
#Reverse geocode lat-longs. I only need to do so for the last 1500.  But I don't think I have room in my quota for today.
#Try 500.
def reverse_geocodes(df):
    rev_locs = []
    for row in xrange(500,2000,1):
        rev_loc = df.ix[row,'latitude'], df.ix[row,'longitude']
        addr = geolocator.reverse(rev_loc, exactly_one=True, timeout=10).address
        rev_locs.append((row, addr))
    return rev_locs

In [292]:
rev_geocodes_500to2000_addrs = reverse_geocodes(df_first2000) #Didn't work.  Quota exceeded.  Tomorrow, do all 1500

GeocoderQuotaExceeded: The given key has gone over the requests limit in the 24 hour period or has submitted too many requests in too short a period of time.

In [ ]:
#Create Series of specific addresses from reverse geocoding and add to df
addrs_dets = []
for elem in rev_geocodes_1to500_addrs:
    addrs_dets.append(elem[1])
addrs_dets = pd.Series(addrs_dets, name='addrs_det')

df_first2000['address_detail'] = addrs_dets

####Do I have the address?

In [251]:
geocodes_1to500[0]

(0, Location((47.5318578, -122.3631857, 0.0)))

In [252]:
geocodes_1to500[0][0]

0

In [253]:
geocodes_1to500[0][1]

Location((47.5318578, -122.3631857, 0.0))

In [254]:
geocodes_1to500[0][1].latitude

47.5318578

In [255]:
geocodes_1to500[0][1].longitude

-122.3631857

In [256]:
geocodes_1to500[0][1].address

u'SW Kenyon St, Seattle, WA, USA'

In [257]:
geocodes_1to500[1][1].address

u'Montlake Blvd NE & NE Pacific St, Seattle, WA 98105, USA'

In [258]:
geocodes_1to500[2][1].address

u'Lake City Way NE, Seattle, WA, USA'

In [259]:
geocodes_1to500[3][1].address

u'Maynard Ave S, Seattle, WA, USA'

####Add first 500 addresses to df

In [260]:
addrs = []
for elem in geocodes_1to500:
    addrs.append(elem[1].address)
addrs = pd.Series(addrs, name='addrs')
df_first500['address'] = addrs

In [261]:
df_first500.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 500 entries, 0 to 499
Data columns (total 18 columns):
OBJECTID         500 non-null int64
WOKEY            500 non-null int64
WO_STATUS        500 non-null object
LAST90DAYRPRD    500 non-null int64
CURRENT_QTR      500 non-null int64
PREVIOUS_1QTR    500 non-null int64
PREVIOUS_2QTR    500 non-null int64
PREVIOUS_3QTR    500 non-null int64
PREVIOUS_4QTR    500 non-null int64
INITDT           500 non-null object
FLDSTARTDT       494 non-null object
FLDENDDT         494 non-null object
LOCATION         500 non-null object
ADDRDESC         500 non-null object
SHAPE            0 non-null float64
latitude         500 non-null float64
longitude        500 non-null float64
address          500 non-null object
dtypes: float64(3), int64(8), object(7)
memory usage: 74.2+ KB

In [266]:
df_first500[['ADDRDESC','latitude','longitude','address']].head(50)

,ADDRDESC,latitude,longitude,address
0,HOLDEN PL SW BETWEEN SW HOLDEN ST AND SW KENYO...,47.531858,-122.363186,"SW Kenyon St, Seattle, WA, USA"
1,MONTLAKE BLVD NE AND NE PACIFIC ST ...,47.649014,-122.304655,"Montlake Blvd NE & NE Pacific St, Seattle, WA ..."
2,NE 135TH ST BETWEEN 32ND AVE NE AND LAKE CITY ...,47.707446,-122.301566,"Lake City Way NE, Seattle, WA, USA"
3,S CHARLES ST BETWEEN 6TH AVE S AND MAYNARD AVE...,47.597085,-122.325065,"Maynard Ave S, Seattle, WA, USA"
4,N 80TH ST BETWEEN CORLISS (W LEG) AVE N AND CO...,47.606209,-122.332071,"Seattle, WA, USA"
5,18TH AVE NE BETWEEN NE 52ND ST AND NE 55TH ST ...,47.668522,-122.295630,"NE 55th St, Seattle, WA 98105, USA"
6,3RD AVE NW BETWEEN NW 125TH ST AND NW 127TH ST...,47.721476,-122.364984,"NW 127th St, Seattle, WA 98177, USA"
7,SW KENYON ST BETWEEN 15TH AVE SW AND 16TH AVE ...,47.515868,-122.355144,"16th Ave SW, Seattle, WA, USA"
8,35TH AVE SW AND SW JUNEAU ST ...,47.550130,-122.376353,"35th Ave SW & SW Juneau St, Seattle, WA 98126,..."
9,MINOR AVE N AND REPUBLICAN ST ...,47.623131,-122.333003,"Republican St & Minor Ave N, Seattle, WA 98109..."
10,17TH AVE W BETWEEN W DRAVUS ST AND W BERTONA S...,47.650311,-122.388604,"W Bertona St, Seattle, WA, USA"
11,DAYTON AVE N AND N 104TH ST ...,47.704361,-122.352763,"Dayton Ave N & N 104th St, Seattle, WA 98133, USA"
12,PIKE ST BETWEEN 2ND AVE AND 3RD AVE ...,47.610741,-122.338703,"3rd Ave, Seattle, WA, USA"
13,NE 45TH ST BETWEEN 15TH AVE NE AND 16TH AVE NE...,47.675800,-122.310849,"16th Ave NE, Seattle, WA, USA"
14,HILLSIDE DR E AND LAKE WASHINGTON BLVD E ...,47.622480,-122.284664,"Lake Washington Blvd E & Hillside Dr E, Seattl..."
15,2ND AVE S BETWEEN S SPOKANE (S RD) ST AND S AN...,47.568293,-122.301841,"S Andover St, Seattle, WA, USA"
16,NE 92ND ST BETWEEN 1ST AVE NE AND 2ND AVE NE ...,47.708664,-122.327308,"2nd Ave NE, Seattle, WA, USA"
17,AURORA AVE N AND N 103RD (S LEG) ST ...,47.606209,-122.332071,"Seattle, WA, USA"
18,N 85TH ST BETWEEN NESBIT AVE N AND MIDVALE AVE...,47.729026,-122.343668,"Midvale Ave N, Seattle, WA, USA"
19,N 105TH ST BETWEEN N NORTHGATE (E LEG) WAY AND...,47.730551,-122.338184,"Densmore Ave N, Seattle, WA, USA"
20,JONES AVE NW BETWEEN NW 87TH ST AND NW 89TH PL...,47.693551,-122.385820,"NW 89th Pl, Seattle, WA 98117, USA"
21,S ELMGROVE ST BETWEEN 5TH AVE S AND 7TH AVE S ...,47.561221,-122.324266,"7th Ave S, Seattle, WA, USA"
22,GREENWOOD AVE N BETWEEN N 103RD ST AND N 104TH...,47.704361,-122.352763,"N 104th St, Seattle, WA, USA"
23,14TH AVE NW BETWEEN NW 59TH ST AND NW 60TH ST ...,47.672365,-122.381132,"NW 60th St, Seattle, WA 98107, USA"
24,RAINIER AVE S BETWEEN 51ST AVE S AND STURTEVAN...,47.518237,-122.268508,"Sturtevant Ave S, Seattle, WA 98118, USA"
25,S LANE ST BETWEEN MAYNARD AVE S AND 7TH AVE S ...,47.561221,-122.324266,"7th Ave S, Seattle, WA, USA"
26,24TH AVE E BETWEEN E MILLER ST AND EAST MONTLA...,47.643274,-122.303345,"E Montlake Pl E, Seattle, WA 98112, USA"
27,28TH AVE S BETWEEN S MASSACHUSETTS ST AND S GR...,47.586939,-122.305226,"S Grand St, Seattle, WA 98144, USA"
28,5TH AVE S BETWEEN S JACKSON ST AND S KING ST ...,47.598329,-122.311574,"S King St, Seattle, WA, USA"
29,3RD AVE NW BETWEEN NW 86TH ST AND NW 87TH (S L...,47.606209,-122.332071,"Seattle, WA, USA"
30,S DIRECTOR ST BETWEEN 7TH (E LEG) AVE S AND 8T...,47.573286,-122.322591,"8th Ave S, Seattle, WA 98134, USA"
31,SW CAMBRIDGE ST BETWEEN 21ST AVE SW AND KELSEY...,47.519192,-122.361104,"Kelsey Ln SW, Seattle, WA 98106, USA"
32,NE PACIFIC ST BETWEEN UNIVERSITY WAY NE AND 15...,47.714049,-122.312501,"15th Ave NE, Seattle, WA, USA"
33,32ND AVE NW AND NW 68TH (S LEG) ST ...,47.606209,-122.332071,"Seattle, WA, USA"
34,SYLVAN WAY SW BETWEEN SW SYLVAN HEIGHTS DR AND...,47.540225,-122.368392,"SW Orchard St, Seattle, WA, USA"
35,LAKE CITY WAY NE BETWEEN NE 140TH ST AND NE 14...,47.732017,-122.301944,"NE 143rd St, Seattle, WA 98125, USA"
36,E MERCER ST BETWEEN 15TH (N LEG) AVE E AND 16T...,47.630397,-122.311242,"16th Ave E, Seattle, WA 98112, USA"
37,22ND AVE S BETWEEN S HILL ST AND S WALKER ST ...,47.583702,-122.314112,"S Walker St, Seattle, WA, USA"
38,NW 140TH ST BETWEEN 2ND AVE NW AND 3RD AVE NW ...,47.716002,-122.360934,"3rd Ave NW, Seattle, WA, USA"
39,E HAMLIN ST BETWEEN MONTLAKE BLVD E AND 24TH A...,47.632286,-122.301604,"24th Ave E, Seattle, WA 98112, USA"
40,37TH AVE S BETWEEN S ANDOVER ST AND S DAKOTA S...,47.565993,-122.297900,"S Dakota St, Seattle, WA, USA"
41,6TH AVE BETWEEN OLIVE WAY AND STEWART ST ...,47.614951,-122.335297,"Stewart St, Seattle, WA, USA"
42,NE 133RD ST BETWEEN 20TH AVE NE AND 22ND AVE N...,47.719357,-122.305905,"22nd Ave NE, Seattle, WA, USA"
43,W CREMONA ST BETWEEN QUEEN ANNE AVE N AND 3RD ...,47.635962,-122.360952,"3rd Ave W, Seattle, WA 98119, USA"
44,BEACON (E RD) AVE S BETWEEN S MYRTLE ST AND S ...,47.537023,-122.293035,"S Othello St, Seattle, WA, USA"
45,NW MARKET ST BETWEEN 24TH AVE NW AND 26TH AVE ...,47.683119,-122.389789,"26th Ave NW, Seattle, WA, USA"
46,ALASKAN WAY BETWEEN LENORA ST AND BLANCHARD ST...,47.614923,-122.342216,"Blanchard St, Seattle, WA 98121, USA"
47,NE 140TH ST BETWEEN 1ST AVE NE AND 2ND AVE NE ...,47.708664,-122.327308,"2nd Ave NE, Seattle, WA, USA"
48,BATTERY ST BETWEEN WESTERN AVE AND 1ST AVE ...,47.611501,-122.343350,"1st Ave, Seattle, WA, USA"
49,HARVARD AVE E BETWEEN E REPUBLICAN ST AND E ME...,47.624411,-122.305354,"E Mercer St, Seattle, WA, USA"

####This also provides a diagnostic on quality of geocoding.  Later, clean ADDRDESC to get better geocodes.
####Need to associate socio-economics with address

In [268]:
df_first500.ix[0,'latitude'], df_first500.ix[0,'longitude']

(47.531857799999997, -122.3631857)

In [271]:
rev_loc = df_first500.ix[0,'latitude'], df_first500.ix[0,'longitude']
geolocator.reverse(rev_loc, exactly_one=True, timeout=10).address

u'2438 SW Kenyon St, Seattle, WA 98106, USA'

####This seems to work.  Now try for the first 500.  Actual API calls.

In [272]:
def reverse_geocodes(df):
    rev_locs = []
    for row in xrange(500):
        rev_loc = df.ix[row,'latitude'], df.ix[row,'longitude']
        addr = geolocator.reverse(rev_loc, exactly_one=True, timeout=10).address
        rev_locs.append((row, addr))
    return rev_locs

In [273]:
rev_geocodes_1to500_addrs = reverse_geocodes(df_first500)

In [274]:
rev_geocodes_1to500_addrs[:10]

[(0, u'2438 SW Kenyon St, Seattle, WA 98106, USA'),
 (1, u'3705-3707 Montlake Blvd NE, Seattle, WA 98105, USA'),
 (2, u'10754-10850 Lake City Way NE, Seattle, WA 98125, USA'),
 (3, u'608 Maynard Ave S, Seattle, WA 98104, USA'),
 (4, u'909 5th Ave, Seattle, WA 98164, USA'),
 (5, u'2914 NE 55th St, Seattle, WA 98105, USA'),
 (6, u'12701 7th Ave NW, Seattle, WA 98177, USA'),
 (7, u'9767 16th Ave SW, Seattle, WA 98106, USA'),
 (8, u'3503 SW Juneau St, Seattle, WA 98126, USA'),
 (9, u'500 Minor Ave N, Seattle, WA 98109, USA')]

####This seemed to work.  Add 'address_detailed' to df

In [277]:
addrs_dets = []
for elem in rev_geocodes_1to500_addrs:
    addrs_dets.append(elem[1])
addrs_dets = pd.Series(addrs_dets, name='addrs_det')

In [280]:
df_first500['address_detail'] = addrs_dets

In [281]:
df_first500[['ADDRDESC','latitude','longitude','address','address_detail']].head(50)

,ADDRDESC,latitude,longitude,address,address_detail
0,HOLDEN PL SW BETWEEN SW HOLDEN ST AND SW KENYO...,47.531858,-122.363186,"SW Kenyon St, Seattle, WA, USA","2438 SW Kenyon St, Seattle, WA 98106, USA"
1,MONTLAKE BLVD NE AND NE PACIFIC ST ...,47.649014,-122.304655,"Montlake Blvd NE & NE Pacific St, Seattle, WA ...","3705-3707 Montlake Blvd NE, Seattle, WA 98105,..."
2,NE 135TH ST BETWEEN 32ND AVE NE AND LAKE CITY ...,47.707446,-122.301566,"Lake City Way NE, Seattle, WA, USA","10754-10850 Lake City Way NE, Seattle, WA 9812..."
3,S CHARLES ST BETWEEN 6TH AVE S AND MAYNARD AVE...,47.597085,-122.325065,"Maynard Ave S, Seattle, WA, USA","608 Maynard Ave S, Seattle, WA 98104, USA"
4,N 80TH ST BETWEEN CORLISS (W LEG) AVE N AND CO...,47.606209,-122.332071,"Seattle, WA, USA","909 5th Ave, Seattle, WA 98164, USA"
5,18TH AVE NE BETWEEN NE 52ND ST AND NE 55TH ST ...,47.668522,-122.295630,"NE 55th St, Seattle, WA 98105, USA","2914 NE 55th St, Seattle, WA 98105, USA"
6,3RD AVE NW BETWEEN NW 125TH ST AND NW 127TH ST...,47.721476,-122.364984,"NW 127th St, Seattle, WA 98177, USA","12701 7th Ave NW, Seattle, WA 98177, USA"
7,SW KENYON ST BETWEEN 15TH AVE SW AND 16TH AVE ...,47.515868,-122.355144,"16th Ave SW, Seattle, WA, USA","9767 16th Ave SW, Seattle, WA 98106, USA"
8,35TH AVE SW AND SW JUNEAU ST ...,47.550130,-122.376353,"35th Ave SW & SW Juneau St, Seattle, WA 98126,...","3503 SW Juneau St, Seattle, WA 98126, USA"
9,MINOR AVE N AND REPUBLICAN ST ...,47.623131,-122.333003,"Republican St & Minor Ave N, Seattle, WA 98109...","500 Minor Ave N, Seattle, WA 98109, USA"
10,17TH AVE W BETWEEN W DRAVUS ST AND W BERTONA S...,47.650311,-122.388604,"W Bertona St, Seattle, WA, USA","2500 W Bertona St, Seattle, WA 98199, USA"
11,DAYTON AVE N AND N 104TH ST ...,47.704361,-122.352763,"Dayton Ave N & N 104th St, Seattle, WA 98133, USA","10401 Dayton Ave N, Seattle, WA 98133, USA"
12,PIKE ST BETWEEN 2ND AVE AND 3RD AVE ...,47.610741,-122.338703,"3rd Ave, Seattle, WA, USA","299 Pine St, Seattle, WA 98101, USA"
13,NE 45TH ST BETWEEN 15TH AVE NE AND 16TH AVE NE...,47.675800,-122.310849,"16th Ave NE, Seattle, WA, USA","1599 NE 65th St, Seattle, WA 98115, USA"
14,HILLSIDE DR E AND LAKE WASHINGTON BLVD E ...,47.622480,-122.284664,"Lake Washington Blvd E & Hillside Dr E, Seattl...","391 Lake Washington Blvd E, Seattle, WA 98112,..."
15,2ND AVE S BETWEEN S SPOKANE (S RD) ST AND S AN...,47.568293,-122.301841,"S Andover St, Seattle, WA, USA","2416 S Andover St, Seattle, WA 98108, USA"
16,NE 92ND ST BETWEEN 1ST AVE NE AND 2ND AVE NE ...,47.708664,-122.327308,"2nd Ave NE, Seattle, WA, USA","216 NE Northgate Way, Seattle, WA 98125, USA"
17,AURORA AVE N AND N 103RD (S LEG) ST ...,47.606209,-122.332071,"Seattle, WA, USA","909 5th Ave, Seattle, WA 98164, USA"
18,N 85TH ST BETWEEN NESBIT AVE N AND MIDVALE AVE...,47.729026,-122.343668,"Midvale Ave N, Seattle, WA, USA","13701-13749 Midvale Ave N, Seattle, WA 98133, USA"
19,N 105TH ST BETWEEN N NORTHGATE (E LEG) WAY AND...,47.730551,-122.338184,"Densmore Ave N, Seattle, WA, USA","13935 Roosevelt Way N, Seattle, WA 98133, USA"
20,JONES AVE NW BETWEEN NW 87TH ST AND NW 89TH PL...,47.693551,-122.385820,"NW 89th Pl, Seattle, WA 98117, USA","2324-2398 NW 89th Pl, Seattle, WA 98117, USA"
21,S ELMGROVE ST BETWEEN 5TH AVE S AND 7TH AVE S ...,47.561221,-122.324266,"7th Ave S, Seattle, WA, USA","4623 7th Ave S, Seattle, WA 98108, USA"
22,GREENWOOD AVE N BETWEEN N 103RD ST AND N 104TH...,47.704361,-122.352763,"N 104th St, Seattle, WA, USA","10401 Dayton Ave N, Seattle, WA 98133, USA"
23,14TH AVE NW BETWEEN NW 59TH ST AND NW 60TH ST ...,47.672365,-122.381132,"NW 60th St, Seattle, WA 98107, USA","1749-1751 NW 60th St, Seattle, WA 98107, USA"
24,RAINIER AVE S BETWEEN 51ST AVE S AND STURTEVAN...,47.518237,-122.268508,"Sturtevant Ave S, Seattle, WA 98118, USA","9324 Sturtevant Ave S, Seattle, WA 98118, USA"
25,S LANE ST BETWEEN MAYNARD AVE S AND 7TH AVE S ...,47.561221,-122.324266,"7th Ave S, Seattle, WA, USA","4623 7th Ave S, Seattle, WA 98108, USA"
26,24TH AVE E BETWEEN E MILLER ST AND EAST MONTLA...,47.643274,-122.303345,"E Montlake Pl E, Seattle, WA 98112, USA","2619 E Montlake Pl E, Seattle, WA 98112, USA"
27,28TH AVE S BETWEEN S MASSACHUSETTS ST AND S GR...,47.586939,-122.305226,"S Grand St, Seattle, WA 98144, USA","2105 S Grand St, Seattle, WA 98144, USA"
28,5TH AVE S BETWEEN S JACKSON ST AND S KING ST ...,47.598329,-122.311574,"S King St, Seattle, WA, USA","500 16th Ave S, Seattle, WA 98144, USA"
29,3RD AVE NW BETWEEN NW 86TH ST AND NW 87TH (S L...,47.606209,-122.332071,"Seattle, WA, USA","909 5th Ave, Seattle, WA 98164, USA"
30,S DIRECTOR ST BETWEEN 7TH (E LEG) AVE S AND 8T...,47.573286,-122.322591,"8th Ave S, Seattle, WA 98134, USA","8th Ave S, Seattle, WA 98134, USA"
31,SW CAMBRIDGE ST BETWEEN 21ST AVE SW AND KELSEY...,47.519192,-122.361104,"Kelsey Ln SW, Seattle, WA 98106, USA","9400 Kelsey Ln SW, Seattle, WA 98106, USA"
32,NE PACIFIC ST BETWEEN UNIVERSITY WAY NE AND 15...,47.714049,-122.312501,"15th Ave NE, Seattle, WA, USA","11702 15th Ave NE, Seattle, WA 98125, USA"
33,32ND AVE NW AND NW 68TH (S LEG) ST ...,47.606209,-122.332071,"Seattle, WA, USA","909 5th Ave, Seattle, WA 98164, USA"
34,SYLVAN WAY SW BETWEEN SW SYLVAN HEIGHTS DR AND...,47.540225,-122.368392,"SW Orchard St, Seattle, WA, USA","6994 SW Orchard St, Seattle, WA 98106, USA"
35,LAKE CITY WAY NE BETWEEN NE 140TH ST AND NE 14...,47.732017,-122.301944,"NE 143rd St, Seattle, WA 98125, USA","14301 25th Ave NE, Seattle, WA 98125, USA"
36,E MERCER ST BETWEEN 15TH (N LEG) AVE E AND 16T...,47.630397,-122.311242,"16th Ave E, Seattle, WA 98112, USA","1161 16th Ave E, Seattle, WA 98112, USA"
37,22ND AVE S BETWEEN S HILL ST AND S WALKER ST ...,47.583702,-122.314112,"S Walker St, Seattle, WA, USA","1400-1498 S Walker St, Seattle, WA 98144, USA"
38,NW 140TH ST BETWEEN 2ND AVE NW AND 3RD AVE NW ...,47.716002,-122.360934,"3rd Ave NW, Seattle, WA, USA","11999 3rd Ave NW, Seattle, WA 98177, USA"
39,E HAMLIN ST BETWEEN MONTLAKE BLVD E AND 24TH A...,47.632286,-122.301604,"24th Ave E, Seattle, WA 98112, USA","1502 24th Ave E, Seattle, WA 98112, USA"
40,37TH AVE S BETWEEN S ANDOVER ST AND S DAKOTA S...,47.565993,-122.297900,"S Dakota St, Seattle, WA, USA","2901 S Dakota St, Seattle, WA 98108, USA"
41,6TH AVE BETWEEN OLIVE WAY AND STEWART ST ...,47.614951,-122.335297,"Stewart St, Seattle, WA, USA","800 Stewart St, Seattle, WA 98101, USA"
42,NE 133RD ST BETWEEN 20TH AVE NE AND 22ND AVE N...,47.719357,-122.305905,"22nd Ave NE, Seattle, WA, USA","2198 NE 125th St, Seattle, WA 98125, USA"
43,W CREMONA ST BETWEEN QUEEN ANNE AVE N AND 3RD ...,47.635962,-122.360952,"3rd Ave W, Seattle, WA 98119, USA","1898 3rd Ave W, Seattle, WA 98119, USA"
44,BEACON (E RD) AVE S BETWEEN S MYRTLE ST AND S ...,47.537023,-122.293035,"S Othello St, Seattle, WA, USA","3025-3199 S Othello St, Seattle, WA 98118, USA"
45,NW MARKET ST BETWEEN 24TH AVE NW AND 26TH AVE ...,47.683119,-122.389789,"26th Ave NW, Seattle, WA, USA","7498 26th Ave NW, Seattle, WA 98117, USA"
46,ALASKAN WAY BETWEEN LENORA ST AND BLANCHARD ST...,47.614923,-122.342216,"Blanchard St, Seattle, WA 98121, USA","453 Blanchard St, Seattle, WA 98121, USA"
47,NE 140TH ST BETWEEN 1ST AVE NE AND 2ND AVE NE ...,47.708664,-122.327308,"2nd Ave NE, Seattle, WA, USA","216 NE Northgate Way, Seattle, WA 98125, USA"
48,BATTERY ST BETWEEN WESTERN AVE AND 1ST AVE ...,47.611501,-122.343350,"1st Ave, Seattle, WA, USA","2056 1st Ave, Seattle, WA 98121, USA"
49,HARVARD AVE E BETWEEN E REPUBLICAN ST AND E ME...,47.624411,-122.305354,"E Mercer St, Seattle, WA, USA","2009 E Mercer St, Seattle, WA 98112, USA"

In [282]:
df_first500[['ADDRDESC','latitude','longitude','address','address_detail']].tail(50)

,ADDRDESC,latitude,longitude,address,address_detail
450,11TH AVE BETWEEN E OLIVE ST AND E HOWELL ST ...,47.617606,-122.307407,"E Howell St, Seattle, WA 98122, USA","1899 E Howell St, Seattle, WA 98122, USA"
451,ALOHA ST BETWEEN 2ND AVE N AND 3RD AVE N ...,47.636026,-122.351942,"3rd Ave N, Seattle, WA 98109, USA","1909 3rd Ave N, Seattle, WA 98109, USA"
452,30TH AVE S BETWEEN S MCCLELLAN ST AND S MOUNT ...,47.606209,-122.332071,"Seattle, WA, USA","909 5th Ave, Seattle, WA 98164, USA"
453,NW 96TH ST BETWEEN 23RD AVE NW AND 24TH AVE NW...,47.684657,-122.387589,"24th Ave NW, Seattle, WA, USA","7662 24th Ave NW, Seattle, WA 98117, USA"
454,3RD AVE W BETWEEN W BERTONA ST AND W NICKERSON...,47.653279,-122.369132,"W Nickerson St, Seattle, WA, USA","854 W Nickerson St, Seattle, WA 98119, USA"
455,8TH AVE N BETWEEN THOMAS ST AND HARRISON ST ...,47.622089,-122.343036,"Harrison St, Seattle, WA 98109, USA","723 Harrison St, Seattle, WA 98109, USA"
456,N 88TH ST BETWEEN LINDEN AVE N AND AURORA (N L...,47.606209,-122.332071,"Seattle, WA, USA","909 5th Ave, Seattle, WA 98164, USA"
457,HARVARD AVE BETWEEN E PIKE ST AND E PINE ST ...,47.615290,-122.304892,"E Pine St, Seattle, WA 98122, USA","2099 E Pine St, Seattle, WA 98122, USA"
458,W EWING ST BETWEEN 6TH AVE W AND W EWING PL ...,47.655559,-122.370627,"W Ewing Pl, Seattle, WA 98119, USA","1000 W Ewing Pl, Seattle, WA 98119, USA"
459,1ST AVE NE BETWEEN CORLISS AVE N AND N 128TH S...,47.722057,-122.339568,"N 128th St, Seattle, WA 98133, USA","12801 Ashworth Ave N, Seattle, WA 98133, USA"
460,JAMES ST BETWEEN 6TH AVE AND 7TH AVE ...,47.607480,-122.329575,"7th Ave, Seattle, WA, USA","700 Madison St, Seattle, WA 98104, USA"
461,33RD AVE S BETWEEN S OREGON (E LEG) ST AND REN...,47.520259,-122.272693,"Renton Ave S, Seattle, WA, USA","9237-9241 Renton Ave S, Seattle, WA 98118, USA"
462,PERKINS LN W BETWEEN DEAD END AND W RAYE ST ...,47.643468,-122.387632,"W Raye St, Seattle, WA, USA","2402 W Raye St, Seattle, WA 98199, USA"
463,22ND AVE E BETWEEN E HIGHLAND DR AND E GALER S...,47.632287,-122.302300,"E Galer St, Seattle, WA, USA","2299 E Galer St, Seattle, WA 98112, USA"
464,RAINIER AVE S BETWEEN S CLOVERDALE ST AND S HE...,47.523086,-122.311779,"S Henderson St, Seattle, WA, USA","1799 S Henderson St, Seattle, WA 98108, USA"
465,COLORADO AVE S BETWEEN S HINDS ST AND S SPOKAN...,47.606209,-122.332071,"Seattle, WA, USA","909 5th Ave, Seattle, WA 98164, USA"
466,BOREN AVE S BETWEEN 12TH AVE S AND S MAIN ST ...,47.600008,-122.311577,"S Main St, Seattle, WA, USA","305 16th Ave S, Seattle, WA 98144, USA"
467,4TH AVE S BETWEEN S HENDERSON (S LEG) ST AND S...,47.521386,-122.287151,"S Barton St, Seattle, WA, USA","3604 S Barton St, Seattle, WA 98118, USA"
468,2ND AVE S BETWEEN DIAGONAL AVE S AND DEAD END ...,47.606209,-122.332071,"Seattle, WA, USA","909 5th Ave, Seattle, WA 98164, USA"
469,E OLIVE ST BETWEEN 13TH AVE AND 14TH AVE ...,47.610383,-122.314140,"14th Ave, Seattle, WA, USA","1400 E Marion St, Seattle, WA 98122, USA"
470,NW MARKET ST BETWEEN NW 54TH ST AND 30TH AVE N...,47.680941,-122.395704,"30th Ave NW, Seattle, WA, USA","2856 NW 72nd St, Seattle, WA 98117, USA"
471,MERIDIAN AVE N BETWEEN N 105TH ST AND N 106TH ...,47.705969,-122.332569,"N 106th St, Seattle, WA 98133, USA","2200 N 106th St, Seattle, WA 98133, USA"
472,EVANSTON AVE N BETWEEN N 117TH ST AND N 120TH ...,47.715943,-122.339496,"N 120th St, Seattle, WA 98133, USA","12001 Ashworth Ave N, Seattle, WA 98133, USA"
473,ALOHA ST BETWEEN WARREN AVE N AND 2ND AVE N ...,47.632701,-122.353203,"2nd Ave N, Seattle, WA 98109, USA","1511 2nd Ave N, Seattle, WA 98109, USA"
474,SW ROXBURY ST BETWEEN 27TH AVE SW AND 28TH AVE...,47.531882,-122.368532,"28th Ave SW, Seattle, WA, USA","7900 28th Ave SW, Seattle, WA 98126, USA"
475,23RD AVE BETWEEN E CHERRY ST AND E COLUMBIA ST...,47.609018,-122.300828,"E Columbia St, Seattle, WA 98122, USA","2408 E Columbia St, Seattle, WA 98122, USA"
476,E JEFFERSON ST BETWEEN BROADWAY AND 10TH AVE ...,47.606207,-122.319427,"10th Ave, Seattle, WA 98122, USA","1000 E Jefferson St, Seattle, WA 98122, USA"
477,NE 65TH ST BETWEEN 58TH AVE NE AND SAND POINT ...,47.693053,-122.271752,"Sand Point Way NE, Seattle, WA, USA","8920-8998 Sand Point Way NE, Seattle, WA 98115..."
478,1ST AVE NW BETWEEN NW 125TH ST AND NW 127TH ST...,47.721476,-122.364984,"NW 127th St, Seattle, WA 98177, USA","12701 7th Ave NW, Seattle, WA 98177, USA"
479,15TH AVE W BETWEEN 15TH (NB OFF RP) AVE W AND ...,47.650311,-122.388604,"W Bertona St, Seattle, WA, USA","2500 W Bertona St, Seattle, WA 98199, USA"
480,N 127TH ST BETWEEN PHINNEY AVE N AND DAYTON AV...,47.714813,-122.352861,"Dayton Ave N, Seattle, WA, USA","11811 Dayton Ave N, Seattle, WA 98133, USA"
481,JAMES ST BETWEEN 3RD AVE AND 4TH AVE ...,47.610800,-122.337217,"4th Ave, Seattle, WA, USA","1550-1596 4th Ave, Seattle, WA 98101, USA"
482,23RD AVE BETWEEN E FIR ST AND E SPRUCE ST ...,47.603510,-122.303735,"E Spruce St, Seattle, WA 98122, USA","172 22nd Ave, Seattle, WA 98122, USA"
483,E BOSTON ST BETWEEN 11TH AVE E AND 12TH AVE E ...,47.628440,-122.316775,"12th Ave E, Seattle, WA 98102, USA","1098 12th Ave E, Seattle, WA 98102, USA"
484,EARL AVE NW BETWEEN NW 88TH ST AND NW 90TH ST ...,47.694685,-122.378428,"NW 90th St, Seattle, WA 98117, USA","1537 NW 90th St, Seattle, WA 98117, USA"
485,43RD AVE NE BETWEEN NE 38TH ST AND NE 41ST ST ...,47.658628,-122.290708,"NE 41st St, Seattle, WA 98105, USA","3500 NE 41st St, Seattle, WA 98105, USA"
486,23RD AVE BETWEEN E TERRACE ST AND E JEFFERSON ...,47.606171,-122.303803,"E Jefferson St, Seattle, WA, USA","2200 E Jefferson St, Seattle, WA 98122, USA"
487,E VALLEY ST BETWEEN 26TH AVE E AND 28TH AVE E ...,47.626641,-122.296394,"28th Ave E, Seattle, WA 98112, USA","2799 E Aloha St, Seattle, WA 98112, USA"
488,S HOLLY ST BETWEEN 46TH AVE S AND RAINIER AVE ...,47.544847,-122.274497,"Rainier Ave S, Seattle, WA, USA","6346-6498 Rainier Ave S, Seattle, WA 98118, USA"
489,INTERLAKE AVE N BETWEEN N 137TH ST AND N 140TH...,47.606209,-122.332071,"Seattle, WA, USA","909 5th Ave, Seattle, WA 98164, USA"
490,LAKE PARK DR S BETWEEN SHORELAND DR S AND S MC...,47.578355,-122.301287,"S McClellan St, Seattle, WA 98144, USA","2363 S McClellan St, Seattle, WA 98144, USA"
491,28TH AVE S BETWEEN S WALKER ST AND S COLLEGE S...,47.582954,-122.305583,"S College St, Seattle, WA, USA","2300 21st Ave S, Seattle, WA 98144, USA"
492,27TH AVE NE BETWEEN NE 97TH ST AND NE 98TH ST ...,47.700282,-122.303333,"NE 98th St, Seattle, WA, USA","9801 Lake City Way NE, Seattle, WA 98115, USA"
493,S DAWSON ST BETWEEN 37TH AVE S AND 39TH AVE S ...,47.534773,-122.283611,"39th Ave S, Seattle, WA, USA","7601 39th Ave S, Seattle, WA 98118, USA"
494,S JACKSON ST BETWEEN 1ST AVE S AND OCCIDENTAL ...,47.587816,-122.333248,"Occidental Ave S, Seattle, WA, USA","1726 Occidental Ave S, Seattle, WA 98134, USA"
495,SW BARTON ST BETWEEN 35TH AVE SW AND 36TH AVE ...,47.542885,-122.377814,"36th Ave SW, Seattle, WA, USA","6699 36th Ave SW, Seattle, WA 98126, USA"
496,2ND AVE S BETWEEN S SPOKANE (S RD) ST AND S AN...,47.568293,-122.301841,"S Andover St, Seattle, WA, USA","2416 S Andover St, Seattle, WA 98108, USA"
497,E SHELBY ST BETWEEN BOYER AVE E AND DEAD END 3...,47.606209,-122.332071,"Seattle, WA, USA","909 5th Ave, Seattle, WA 98164, USA"
498,NE 63RD ST BETWEEN 16TH AVE NE AND 17TH AVE NE...,47.699426,-122.309494,"17th Ave NE, Seattle, WA, USA","1700 NE 97th St, Seattle, WA 98115, USA"
499,MERIDIAN AVE N BETWEEN COLLEGE WAY N AND N 105...,47.705017,-122.345169,"N 105th St, Seattle, WA 98133, USA","1035 N 105th St, Seattle, WA 98133, USA"

####Overwrite the pickle

In [283]:
df_first500_addr = df_first500.copy()

In [284]:
df_first500_addr.to_pickle('df_first500_addr.pkl')

This updated pickled df has geocodes, address, and detailed address for the first 500 rows.  In some cases, geocoding fails and only returns Seattle, WA.

Ran into quota limits again.  Need to solve this problem tomorrow, either: (1) Work with multiple keys and/or (2) go to AWS

####Let's try Nominatim again.  It has no query limits.  If it's quality is ok, then go with it.

In [293]:
geolocator2 = Nominatim()

In [294]:
location = geolocator2.geocode("market and 4th san francisco")

In [295]:
print(location.address)

San Francisco 4th & King Street Station, 4th Street, South Beach, SF, California, 94107, United States of America

In [296]:
print((location.latitude, location.longitude))

(37.7765767, -122.394827912059)

In [297]:
print(location.raw)

{u'display_name': u'San Francisco 4th & King Street Station, 4th Street, South Beach, SF, California, 94107, United States of America', u'importance': 0.61490776660872, u'place_id': u'61306801', u'lon': u'-122.394827912059', u'lat': u'37.7765767', u'osm_type': u'way', u'licence': u'Data \xa9 OpenStreetMap contributors, ODbL 1.0. http://www.openstreetmap.org/copyright', u'osm_id': u'28295229', u'boundingbox': [u'37.7762267', u'37.776876', u'-122.3951705', u'-122.3945376'], u'type': u'station', u'class': u'railway', u'icon': u'https://nominatim.openstreetmap.org/images/mapicons/transport_train_station2.p.20.png'}

In [301]:
location = geolocator2.geocode('SW HOLDEN ST AND SW KENYON ST seattle WA')

In [302]:
print location.latitude, location.longitude

AttributeError: 'NoneType' object has no attribute 'latitude'

In [303]:
location = geolocator2.geocode('montlake blvd NE and NE pacific st seattle')

In [304]:
print location.latitude, location.longitude

AttributeError: 'NoneType' object has no attribute 'latitude'

It doesn't work on examples that GoogleV3 works on.

####Need to create most basic of features, a categorical variable on neighborhood that the pothole falls in.  I might need to do that in a separate notebook.  Yes.  I can use the same approach to get the socio-economics, hopefully.

####Also, Ben suggested doing NLP on the "location" column.