In [17]:
import pandas as pd
import numpy as np
import fiona
from shapely.geometry import shape, Polygon, MultiPolygon, Point, MultiPoint
import cPickle as pickle

In [2]:
df = pd.read_pickle('df_neighborhoods_dists_seasons.pkl')

In [3]:
pd.set_option('display.max_columns', 500)

In [4]:
df.head(2)

,OBJECTID,WOKEY,LOCATION,ADDRDESC,INITDT_dt,FLDSTARTDT_dt,FLDENDDT_dt,DURATION,DURATION_td,latitude,longitude,address,address_detail,neighborhood_cat,Seattle_dist,Space_Needle_dist,Pike_Place_dist,Convention_Center_dist,Woodland_Park_dist,Queene_Anne_dist,INIT_Quarter,days_end_FY
0,1,2456,Holden pl SW bt SW Kenyon Holden ...,HOLDEN PL SW BETWEEN SW HOLDEN ST AND SW KENYO...,2010-03-29 07:00:00,2010-04-06 07:00:00,2010-04-06 07:00:00,8 days,8,47.531858,-122.363186,"SW Kenyon St, Seattle, WA, USA","2438 SW Kenyon St, Seattle, WA 98106, USA",93,5.338641,6.158729,5.467939,5.688451,9.453253,7.300465,1,3
1,2,2514,"NE Pacific Street, one block west of Montlake ...",MONTLAKE BLVD NE AND NE PACIFIC ST ...,2010-03-30 07:00:00,2010-04-01 07:00:00,2010-04-01 07:00:00,2 days,2,47.649014,-122.304655,"Montlake Blvd NE & NE Pacific St, Seattle, WA ...","3705-3707 Montlake Blvd NE, Seattle, WA 98105,...",42,3.222458,2.867154,3.231487,2.889531,2.654837,2.610214,1,3

In [6]:
# Read in shapefile
shapefilename = 'data/tl_2013_53_bg_Seattle'
shp = fiona.open(shapefilename+'.shp')

In [7]:
# Get neighborhood polys and their indices
polys = [shape(pol['geometry']) for pol in shp]
#shp.close()

In [8]:
len(polys)

576

In [9]:
shp.schema

{'geometry': 'Polygon',
 'properties': OrderedDict([(u'STATEFP', 'str:2'), (u'COUNTYFP', 'str:3'), (u'TRACTCE', 'str:6'), (u'BLKGRPCE', 'str:1'), (u'GEOID', 'str:12'), (u'NAMELSAD', 'str:13'), (u'MTFCC', 'str:5'), (u'FUNCSTAT', 'str:1'), (u'ALAND', 'float:14'), (u'AWATER', 'float:14'), (u'INTPTLAT', 'str:11'), (u'INTPTLON', 'str:12')])}

In [10]:
total=0
aList = []
for feature in shp:
    total +=1
    print total, feature['properties']['GEOID'], feature['properties']['NAMELSAD']
    aList.append(feature['properties']['GEOID'])

1 530330119003 Block Group 3
2 530330222031 Block Group 1
3 530330012002 Block Group 2
4 530330079005 Block Group 5
5 530330275002 Block Group 2
6 530330046002 Block Group 2
7 530330069001 Block Group 1
8 530330114012 Block Group 2
9 530330047001 Block Group 1
10 530330213002 Block Group 2
11 530330097021 Block Group 1
12 530330013002 Block Group 2
13 530330034002 Block Group 2
14 530330061003 Block Group 3
15 530330030004 Block Group 4
16 530330028002 Block Group 2
17 530330001001 Block Group 1
18 530330001004 Block Group 4
19 530330002001 Block Group 1
20 530330002002 Block Group 2
21 530330002003 Block Group 3
22 530330002006 Block Group 6
23 530330002005 Block Group 5
24 530330003001 Block Group 1
25 530330003002 Block Group 2
26 530330004011 Block Group 1
27 530330004012 Block Group 2
28 530330004013 Block Group 3
29 530330004021 Block Group 1
30 530330004022 Block Group 2
31 530330004023 Block Group 3
32 530330004024 Block Group 4
33 530330261001 Block Group 1
34 530330268011 Block Group 1
35 530330005002 Block Group 2
36 530330007004 Block Group 4
37 530330007003 Block Group 3
38 530330008001 Block Group 1
39 530330008002 Block Group 2
40 530330009001 Block Group 1
41 530330009002 Block Group 2
42 530330010001 Block Group 1
43 530330010002 Block Group 2
44 530330011001 Block Group 1
45 530330011002 Block Group 2
46 530330012003 Block Group 3
47 530330012004 Block Group 4
48 530330012005 Block Group 5
49 530330005003 Block Group 3
50 530330006001 Block Group 1
51 530330006003 Block Group 3
52 530330006004 Block Group 4
53 530330006006 Block Group 6
54 530330007001 Block Group 1
55 530330006005 Block Group 5
56 530330007002 Block Group 2
57 530330081001 Block Group 1
58 530330041003 Block Group 3
59 530330098005 Block Group 5
60 530330012001 Block Group 1
61 530330021001 Block Group 1
62 530330027002 Block Group 2
63 530330027003 Block Group 3
64 530330027004 Block Group 4
65 530330028003 Block Group 3
66 530330029002 Block Group 2
67 530330029003 Block Group 3
68 530330030003 Block Group 3
69 530330030002 Block Group 2
70 530330031001 Block Group 1
71 530330031003 Block Group 3
72 530330031004 Block Group 4
73 530330034003 Block Group 3
74 530330035001 Block Group 1
75 530330035002 Block Group 2
76 530330035003 Block Group 3
77 530330034001 Block Group 1
78 530330036004 Block Group 4
79 530330038001 Block Group 1
80 530330074014 Block Group 4
81 530330111021 Block Group 1
82 530330022003 Block Group 3
83 530330025001 Block Group 1
84 530330223001 Block Group 1
85 530330039002 Block Group 2
86 530330039001 Block Group 1
87 530330242002 Block Group 2
88 530330050001 Block Group 1
89 530330061002 Block Group 2
90 530330063004 Block Group 4
91 530330095002 Block Group 2
92 530330102002 Block Group 2
93 530330101005 Block Group 5
94 530330246013 Block Group 3
95 530330104023 Block Group 3
96 530330104012 Block Group 2
97 530330107022 Block Group 2
98 530330001005 Block Group 5
99 530330014004 Block Group 4
100 530330016001 Block Group 1
101 530330208004 Block Group 4
102 530330209003 Block Group 3
103 530330096005 Block Group 5
104 530330080013 Block Group 3
105 530330265002 Block Group 2
106 530330120002 Block Group 2
107 530330119001 Block Group 1
108 530330031005 Block Group 5
109 530330015002 Block Group 2
110 530330043013 Block Group 3
111 530330056003 Block Group 3
112 530330057001 Block Group 1
113 530330058023 Block Group 3
114 530330032006 Block Group 6
115 530330084001 Block Group 1
116 530330080015 Block Group 5
117 530330081003 Block Group 3
118 530330084003 Block Group 3
119 530330242001 Block Group 1
120 530330261004 Block Group 4
121 530330114013 Block Group 3
122 530330110011 Block Group 1
123 530330110022 Block Group 2
124 530330114011 Block Group 1
125 530330110012 Block Group 2
126 530330271002 Block Group 2
127 530330005001 Block Group 1
128 530330032001 Block Group 1
129 530330032002 Block Group 2
130 530330032003 Block Group 3
131 530330032004 Block Group 4
132 530330031002 Block Group 2
133 530330032007 Block Group 7
134 530330033001 Block Group 1
135 530330033002 Block Group 2
136 530330033003 Block Group 3
137 530330033004 Block Group 4
138 530330033005 Block Group 5
139 530330056002 Block Group 2
140 530330014001 Block Group 1
141 530330014002 Block Group 2
142 530330014003 Block Group 3
143 530330015001 Block Group 1
144 530330016002 Block Group 2
145 530330016003 Block Group 3
146 530330017011 Block Group 1
147 530330017023 Block Group 3
148 530330018001 Block Group 1
149 530330018002 Block Group 2
150 530330018003 Block Group 3
151 530330019002 Block Group 2
152 530330019003 Block Group 3
153 530330019001 Block Group 1
154 530330020001 Block Group 1
155 530330021003 Block Group 3
156 530330022001 Block Group 1
157 530330022002 Block Group 2
158 530330022004 Block Group 4
159 530330024001 Block Group 1
160 530330024002 Block Group 2
161 530330024003 Block Group 3
162 530330026004 Block Group 4
163 530330027001 Block Group 1
164 530330040002 Block Group 2
165 530330040001 Block Group 1
166 530330038002 Block Group 2
167 530330265003 Block Group 3
168 530330078002 Block Group 2
169 530330078003 Block Group 3
170 530330078004 Block Group 4
171 530330079001 Block Group 1
172 530330079004 Block Group 4
173 530330080021 Block Group 1
174 530330074021 Block Group 1
175 530330102001 Block Group 1
176 530330103001 Block Group 1
177 530330103004 Block Group 4
178 530330103005 Block Group 5
179 530330104011 Block Group 1
180 530330104021 Block Group 1
181 530330104022 Block Group 2
182 530330105001 Block Group 1
183 530330105005 Block Group 5
184 530330105003 Block Group 3
185 530330105004 Block Group 4
186 530330106001 Block Group 1
187 530330113004 Block Group 4
188 530330113005 Block Group 5
189 530330114021 Block Group 1
190 530330114023 Block Group 3
191 530330113002 Block Group 2
192 530330113003 Block Group 3
193 530330115001 Block Group 1
194 530330106003 Block Group 3
195 530330106004 Block Group 4
196 530330106005 Block Group 5
197 530330106006 Block Group 6
198 530330107011 Block Group 1
199 530330107012 Block Group 2
200 530330107021 Block Group 1
201 530330108001 Block Group 1
202 530330108002 Block Group 2
203 530330108003 Block Group 3
204 530330109001 Block Group 1
205 530330109002 Block Group 2
206 530330110013 Block Group 3
207 530330110021 Block Group 1
208 530330110023 Block Group 3
209 530330111011 Block Group 1
210 530330111012 Block Group 2
211 530330111013 Block Group 3
212 530330111022 Block Group 2
213 530330112001 Block Group 1
214 530330112002 Block Group 2
215 530330112003 Block Group 3
216 530330113001 Block Group 1
217 530330243001 Block Group 1
218 530330243002 Block Group 2
219 530330243003 Block Group 3
220 530330243005 Block Group 5
221 530330243004 Block Group 4
222 530330241002 Block Group 2
223 530330245003 Block Group 3
224 530330246022 Block Group 2
225 530330013001 Block Group 1
226 530330221011 Block Group 1
227 530330222032 Block Group 2
228 530330221012 Block Group 2
229 530330221013 Block Group 3
230 530330222033 Block Group 3
231 530330223002 Block Group 2
232 530330221014 Block Group 4
233 530330221022 Block Group 2
234 530330221023 Block Group 3
235 530330222013 Block Group 3
236 530330222014 Block Group 4
237 530330267001 Block Group 1
238 530330266001 Block Group 1
239 530330088001 Block Group 1
240 530330114022 Block Group 2
241 530330020002 Block Group 2
242 530330070005 Block Group 5
243 530330111024 Block Group 4
244 530330075001 Block Group 1
245 530330074012 Block Group 2
246 530330058011 Block Group 1
247 530330067003 Block Group 3
248 530330268012 Block Group 2
249 530330017012 Block Group 2
250 530330028001 Block Group 1
251 530330107023 Block Group 3
252 530330070006 Block Group 6
253 530330042005 Block Group 5
254 530330001003 Block Group 3
255 530330029001 Block Group 1
256 530330209001 Block Group 1
257 530330063003 Block Group 3
258 530330064002 Block Group 2
259 530330065001 Block Group 1
260 530330065003 Block Group 3
261 530330065002 Block Group 2
262 530330066001 Block Group 1
263 530330066002 Block Group 2
264 530330067001 Block Group 1
265 530330067002 Block Group 2
266 530330067004 Block Group 4
267 530330069002 Block Group 2
268 530330088003 Block Group 3
269 530330089001 Block Group 1
270 530330062001 Block Group 1
271 530330062003 Block Group 3
272 530330062002 Block Group 2
273 530330063001 Block Group 1
274 530330063002 Block Group 2
275 530330069003 Block Group 3
276 530330069004 Block Group 4
277 530330085002 Block Group 2
278 530330085003 Block Group 3
279 530330086003 Block Group 3
280 530330087003 Block Group 3
281 530330088002 Block Group 2
282 530330085001 Block Group 1
283 530330089004 Block Group 4
284 530330089003 Block Group 3
285 530330090001 Block Group 1
286 530330091001 Block Group 1
287 530330091002 Block Group 2
288 530330092001 Block Group 1
289 530330092002 Block Group 2
290 530330093001 Block Group 1
291 530330093002 Block Group 2
292 530330093003 Block Group 3
293 530330094002 Block Group 2
294 530330082001 Block Group 1
295 530330082002 Block Group 2
296 530330082003 Block Group 3
297 530330083001 Block Group 1
298 530330083002 Block Group 2
299 530330095003 Block Group 3
300 530330094003 Block Group 3
301 530330096002 Block Group 2
302 530330096003 Block Group 3
303 530330095004 Block Group 4
304 530330094005 Block Group 5
305 530330095001 Block Group 1
306 530330089002 Block Group 2
307 530330094004 Block Group 4
308 530330080022 Block Group 2
309 530330081002 Block Group 2
310 530330097011 Block Group 1
311 530330097012 Block Group 2
312 530330097013 Block Group 3
313 530330097014 Block Group 4
314 530330097022 Block Group 2
315 530330078001 Block Group 1
316 530330071001 Block Group 1
317 530330071002 Block Group 2
318 530330072001 Block Group 1
319 530330073001 Block Group 1
320 530330070002 Block Group 2
321 530330070003 Block Group 3
322 530330073002 Block Group 2
323 530330073003 Block Group 3
324 530330074011 Block Group 1
325 530330074013 Block Group 3
326 530330075002 Block Group 2
327 530330075003 Block Group 3
328 530330075004 Block Group 4
329 530330075005 Block Group 5
330 530330076001 Block Group 1
331 530330076002 Block Group 2
332 530330076003 Block Group 3
333 530330101002 Block Group 2
334 530330101003 Block Group 3
335 530330101004 Block Group 4
336 530330097024 Block Group 4
337 530330097025 Block Group 5
338 530330098001 Block Group 1
339 530330098003 Block Group 3
340 530330099001 Block Group 1
341 530330097023 Block Group 3
342 530330099004 Block Group 4
343 530330099002 Block Group 2
344 530330099003 Block Group 3
345 530330077003 Block Group 3
346 530330077001 Block Group 1
347 530330077004 Block Group 4
348 530330077002 Block Group 2
349 530330100011 Block Group 1
350 530330100013 Block Group 3
351 530330100012 Block Group 2
352 530330101001 Block Group 1
353 530330100021 Block Group 1
354 530330100023 Block Group 3
355 530330100024 Block Group 4
356 530330080011 Block Group 1
357 530330268013 Block Group 3
358 530330211004 Block Group 4
359 530330013003 Block Group 3
360 530330049005 Block Group 5
361 530330103003 Block Group 3
362 530330068001 Block Group 1
363 530330268024 Block Group 4
364 530330118005 Block Group 5
365 530330047002 Block Group 2
366 530330211002 Block Group 2
367 530330210002 Block Group 2
368 530330032005 Block Group 5
369 530330053011 Block Group 1
370 530330086001 Block Group 1
371 530330045002 Block Group 2
372 530330046003 Block Group 3
373 530330048003 Block Group 3
374 530330048004 Block Group 4
375 530330049002 Block Group 2
376 530330049003 Block Group 3
377 530330262001 Block Group 1
378 530330045001 Block Group 1
379 530330041006 Block Group 6
380 530330064001 Block Group 1
381 530330105002 Block Group 2
382 530330056005 Block Group 5
383 530330080014 Block Group 4
384 530330072003 Block Group 3
385 530330072002 Block Group 2
386 530330104013 Block Group 3
387 530330115003 Block Group 3
388 530330026002 Block Group 2
389 530330090002 Block Group 2
390 530330102004 Block Group 4
391 530330043022 Block Group 2
392 530330214001 Block Group 1
393 530330214002 Block Group 2
394 530330268023 Block Group 3
395 530330205003 Block Group 3
396 530330209002 Block Group 2
397 530330210004 Block Group 4
398 530330207001 Block Group 1
399 530330086002 Block Group 2
400 530330261005 Block Group 5
401 530330041002 Block Group 2
402 530330052001 Block Group 1
403 530330070001 Block Group 1
404 530330021002 Block Group 2
405 530330118003 Block Group 3
406 530330266002 Block Group 2
407 530330074023 Block Group 3
408 530330119004 Block Group 4
409 530330098004 Block Group 4
410 530330053014 Block Group 4
411 530330017021 Block Group 1
412 530330049004 Block Group 4
413 530330050003 Block Group 3
414 530330050002 Block Group 2
415 530330115002 Block Group 2
416 530330049001 Block Group 1
417 530330102003 Block Group 3
418 530330051001 Block Group 1
419 530330064003 Block Group 3
420 530330079003 Block Group 3
421 530330017022 Block Group 2
422 530330100022 Block Group 2
423 530330026003 Block Group 3
424 530330044004 Block Group 4
425 530330111014 Block Group 4
426 530330098002 Block Group 2
427 530330051002 Block Group 2
428 530330017013 Block Group 3
429 530330074022 Block Group 2
430 530330036002 Block Group 2
431 530330036003 Block Group 3
432 530330036001 Block Group 1
433 530330042001 Block Group 1
434 530330275001 Block Group 1
435 530330051003 Block Group 3
436 530330096004 Block Group 4
437 530330084002 Block Group 2
438 530330210003 Block Group 3
439 530330111023 Block Group 3
440 530330268014 Block Group 4
441 530330020003 Block Group 3
442 530330103002 Block Group 2
443 530330211001 Block Group 1
444 530330070004 Block Group 4
445 530330079002 Block Group 2
446 530330028004 Block Group 4
447 530330094001 Block Group 1
448 530330080012 Block Group 2
449 530330106002 Block Group 2
450 530330104024 Block Group 4
451 530330057004 Block Group 4
452 530330006002 Block Group 2
453 530330017024 Block Group 4
454 530330087002 Block Group 2
455 530330026001 Block Group 1
456 530330043021 Block Group 1
457 530330044001 Block Group 1
458 530330044003 Block Group 3
459 530330044002 Block Group 2
460 530330046001 Block Group 1
461 530330047003 Block Group 3
462 530330047004 Block Group 4
463 530330048001 Block Group 1
464 530330043011 Block Group 1
465 530330058012 Block Group 2
466 530330096001 Block Group 1
467 530330206003 Block Group 3
468 530330207003 Block Group 3
469 530330052003 Block Group 3
470 530330206002 Block Group 2
471 530330210001 Block Group 1
472 530330030001 Block Group 1
473 530330052002 Block Group 2
474 530330211003 Block Group 3
475 530330002004 Block Group 4
476 530330025002 Block Group 2
477 530330087001 Block Group 1
478 530330001002 Block Group 2
479 530330053013 Block Group 3
480 530330052004 Block Group 4
481 530330052005 Block Group 5
482 530330053012 Block Group 2
483 530330053021 Block Group 1
484 530330053022 Block Group 2
485 530330053023 Block Group 3
486 530330054001 Block Group 1
487 530330054002 Block Group 2
488 530330054003 Block Group 3
489 530330054004 Block Group 4
490 530330056001 Block Group 1
491 530330056004 Block Group 4
492 530330057002 Block Group 2
493 530330059002 Block Group 2
494 530330059004 Block Group 4
495 530330059005 Block Group 5
496 530330059003 Block Group 3
497 530330060001 Block Group 1
498 530330060002 Block Group 2
499 530330060003 Block Group 3
500 530330060004 Block Group 4
501 530330061001 Block Group 1
502 530330061004 Block Group 4
503 530330057003 Block Group 3
504 530330057006 Block Group 6
505 530330057005 Block Group 5
506 530330058013 Block Group 3
507 530330058014 Block Group 4
508 530330058021 Block Group 1
509 530330058022 Block Group 2
510 530330041001 Block Group 1
511 530330041004 Block Group 4
512 530330041005 Block Group 5
513 530330042002 Block Group 2
514 530330042003 Block Group 3
515 530330042004 Block Group 4
516 530330043012 Block Group 2
517 530330048002 Block Group 2
518 530330059001 Block Group 1
519 530330116006 Block Group 6
520 530330117001 Block Group 1
521 530330116001 Block Group 1
522 530330116002 Block Group 2
523 530330116003 Block Group 3
524 530330116004 Block Group 4
525 530330116005 Block Group 5
526 530330068002 Block Group 2
527 530330117002 Block Group 2
528 530330117003 Block Group 3
529 530330119005 Block Group 5
530 530330120001 Block Group 1
531 530330120003 Block Group 3
532 530330121001 Block Group 1
533 530330121002 Block Group 2
534 530330118006 Block Group 6
535 530330119002 Block Group 2
536 530330117004 Block Group 4
537 530330118001 Block Group 1
538 530330118002 Block Group 2
539 530330118004 Block Group 4
540 530330253022 Block Group 2
541 530330260011 Block Group 1
542 530330260012 Block Group 2
543 530330260013 Block Group 3
544 530330260014 Block Group 4
545 530330260015 Block Group 5
546 530330261002 Block Group 2
547 530330261003 Block Group 3
548 530330263001 Block Group 1
549 530330263002 Block Group 2
550 530330246023 Block Group 3
551 530330264001 Block Group 1
552 530330264002 Block Group 2
553 530330264003 Block Group 3
554 530330264004 Block Group 4
555 530330264005 Block Group 5
556 530330265001 Block Group 1
557 530330267002 Block Group 2
558 530330268022 Block Group 2
559 530330267003 Block Group 3
560 530330267004 Block Group 4
561 530330268021 Block Group 1
562 530330270001 Block Group 1
563 530330270002 Block Group 2
564 530330270003 Block Group 3
565 530330271001 Block Group 1
566 530330272001 Block Group 1
567 530330272002 Block Group 2
568 530330273004 Block Group 4
569 530330274002 Block Group 2
570 530330274001 Block Group 1
571 530330274004 Block Group 4
572 530330276001 Block Group 1
573 530330276002 Block Group 2
574 530330210005 Block Group 5
575 530330213001 Block Group 1
576 530330213003 Block Group 3

In [11]:
# Associate each block group polygon with its GEOID
block_group_tup = []
idx = 0
for feature in shp:
    print MultiPolygon(polys)[idx]
    idx += 1
    if idx == 1:
        break
#     print feature['properties']['GEOID']

POLYGON ((-122.263118 47.504886, -122.263105 47.506122, -122.261288 47.506116, -122.259464 47.506108, -122.259446 47.507681, -122.259439 47.508218, -122.25943 47.509692, -122.258751 47.509697, -122.257075 47.5097, -122.255897 47.509704, -122.255907 47.508198, -122.255917 47.507642, -122.254753 47.506561, -122.254539 47.506351, -122.253306 47.505218, -122.251624 47.503657, -122.251151 47.50321899999999, -122.250865 47.502903, -122.250814 47.502831, -122.251413 47.502801, -122.251642 47.50282499999999, -122.25362 47.502729, -122.259515 47.502537, -122.259529 47.501306, -122.262399 47.501345, -122.262364 47.502523, -122.261325 47.502509, -122.261335 47.502714, -122.262496 47.503313, -122.263137 47.503313, -122.263118 47.504886))

In [12]:
# Associate each block group polygon with its GEOID
block_group_tup = []
idx = 0
for feature in shp:
    block_group_tup.append((MultiPolygon(polys)[idx],\
    feature['properties']['GEOID']))
    idx += 1

In [13]:
# Get potholes
all_potholes = MultiPoint([Point(x, y) for x, y in zip(df['longitude'],\
    df['latitude'])])

In [14]:
# Associate each pothole with its df index
potholes_tup = []
for hole in xrange(df.shape[0]):
    potholes_tup.append((all_potholes[hole], df.index.tolist()[hole]))

In [18]:
with open('city_potholes.pkl') as f:
        city_potholes = pickle.load(f)

In [35]:
# Extract the neighborhood index associated with each pothole
block_group_label = []
for hole in xrange(len(city_potholes[0])):
    found = False
    for group in xrange(len(block_group_tup)):
        if block_group_tup[group][0].contains(city_potholes[0][hole]):
            block_group_label.append(block_group_tup[group][1])
            found = True
    if found == False:
        block_group_label.append('')

In [36]:
len(block_group_label), len(city_potholes[0])

(732, 732)

In [37]:
# Add block group to dataframe
df['GEOID'] = pd.Series(block_group_label,\
    index = city_potholes[1])

In [43]:
df[df.GEOID=='']

,OBJECTID,WOKEY,LOCATION,ADDRDESC,INITDT_dt,FLDSTARTDT_dt,FLDENDDT_dt,DURATION,DURATION_td,latitude,longitude,address,address_detail,neighborhood_cat,Seattle_dist,Space_Needle_dist,Pike_Place_dist,Convention_Center_dist,Woodland_Park_dist,Queene_Anne_dist,INIT_Quarter,days_end_FY,GEOID
688,689,270417,2035 FEDERAL AVE E ...,FEDERAL AVE E BETWEEN E NEWTON ST AND E BOSTON...,2014-04-21 07:00:00,2014-04-23 07:00:00,2014-04-23 07:00:00,2 days,2,47.638712,-122.301795,"E Boston St, Seattle, WA, USA","2410 E Boston St, Seattle, WA 98112, USA",98,2.653638,2.549343,2.7517,2.34763,3.178725,2.620598,2,2,
766,767,267533,Description:\n\npothole in E Newton Street bet...,FAIRVIEW AVE E BETWEEN E NEWTON ST AND E BOSTO...,2014-04-03 07:00:00,2014-04-08 07:00:00,2014-04-08 07:00:00,5 days,5,47.638712,-122.301795,"E Boston St, Seattle, WA, USA","2410 E Boston St, Seattle, WA 98112, USA",98,2.653638,2.549343,2.7517,2.34763,3.178725,2.620598,2,2,
782,783,200928,2003 Eastlake E ...,EASTLAKE AVE E BETWEEN E NEWTON ST AND E BOSTO...,2013-05-24 07:00:00,2013-05-25 07:00:00,2013-05-25 07:00:00,1 days,1,47.638712,-122.301795,"E Boston St, Seattle, WA, USA","2410 E Boston St, Seattle, WA 98112, USA",98,2.653638,2.549343,2.7517,2.34763,3.178725,2.620598,2,1,

In [41]:
df.head(2)

,OBJECTID,WOKEY,LOCATION,ADDRDESC,INITDT_dt,FLDSTARTDT_dt,FLDENDDT_dt,DURATION,DURATION_td,latitude,longitude,address,address_detail,neighborhood_cat,Seattle_dist,Space_Needle_dist,Pike_Place_dist,Convention_Center_dist,Woodland_Park_dist,Queene_Anne_dist,INIT_Quarter,days_end_FY,GEOID
0,1,2456,Holden pl SW bt SW Kenyon Holden ...,HOLDEN PL SW BETWEEN SW HOLDEN ST AND SW KENYO...,2010-03-29 07:00:00,2010-04-06 07:00:00,2010-04-06 07:00:00,8 days,8,47.531858,-122.363186,"SW Kenyon St, Seattle, WA, USA","2438 SW Kenyon St, Seattle, WA 98106, USA",93,5.338641,6.158729,5.467939,5.688451,9.453253,7.300465,1,3,530330114011
1,2,2514,"NE Pacific Street, one block west of Montlake ...",MONTLAKE BLVD NE AND NE PACIFIC ST ...,2010-03-30 07:00:00,2010-04-01 07:00:00,2010-04-01 07:00:00,2 days,2,47.649014,-122.304655,"Montlake Blvd NE & NE Pacific St, Seattle, WA ...","3705-3707 Montlake Blvd NE, Seattle, WA 98105,...",42,3.222458,2.867154,3.231487,2.889531,2.654837,2.610214,1,3,530330053022

In [42]:
df.tail(2)

,OBJECTID,WOKEY,LOCATION,ADDRDESC,INITDT_dt,FLDSTARTDT_dt,FLDENDDT_dt,DURATION,DURATION_td,latitude,longitude,address,address_detail,neighborhood_cat,Seattle_dist,Space_Needle_dist,Pike_Place_dist,Convention_Center_dist,Woodland_Park_dist,Queene_Anne_dist,INIT_Quarter,days_end_FY,GEOID
998,999,218595,2318 N 56th ...,N 56TH ST BETWEEN KENSINGTON PL N AND 1ST AVE ...,2013-08-21 07:00:00,2013-08-22 07:00:00,2013-08-22 07:00:00,1 days,1,47.715890,-122.328839,"1st Ave NE, Seattle, WA, USA","111 NE 120th St, Seattle, WA 98125, USA",114,7.578949,6.658412,7.361355,7.220836,3.469924,5.584768,3,-2,530330006004
1000,1001,239747,E Roy St between 18th Ave E and 19th Ave E.\n\...,E ROY ST BETWEEN 18TH AVE E AND 19TH AVE E ...,2013-12-06 08:00:00,2013-12-09 08:00:00,2013-12-09 08:00:00,3 days,3,47.632238,-122.307250,"19th Ave E, Seattle, WA 98112, USA","1252 19th Ave E, Seattle, WA 98112, USA",101,2.139560,2.123592,2.254777,1.837588,3.313671,2.392088,4,-6,530330064003

In [39]:
print df['GEOID']

0       530330114011
1       530330053022
2       530330011001
3       530330091002
4       530330081002
5       530330042005
6       530330005002
9       530330073001
10      530330058012
12      530330081002
13      530330026003
14      530330078001
15      530330100011
16      530330012004
18      530330003002
19      530330003002
20      530330016002
21      530330093003
23      530330033003
24      530330118004
25      530330093003
26      530330062002
28      530330090002
29      530330081002
32      530330007004
37      530330094004
38      530330005002
39      530330062001
41      530330073003
43      530330068002
            ...
954     530330093003
955     530330094003
961     530330003002
962     530330001005
964     530330064001
965     530330064001
966     530330006004
968     530330073001
970     530330107021
971     530330081002
972     530330062003
973     530330087003
974     530330017012
975     530330081002
976     530330058012
977     530330043011
978     530330064001
979     530330047004
980     530330057004
981     530330070002
983     530330074022
985     530330081002
988     530330105001
990     530330110011
992     530330064002
993     530330030004
994     530330017012
996     530330010002
998     530330006004
1000    530330064003
Name: GEOID, dtype: object

In [29]:
len(set(block_group_label))

235

Now read in and join the csv file

In [51]:
df_econ = pd.read_csv('data/ACS_13_5YR_B25077_with_ann.csv', skiprows=range(1,2))

In [52]:
df_econ.head(3)

,GEO.id,GEO.id2,GEO.display-label,HD01_VD01,HD02_VD01
0,1500000US530330001001,530330001001,"Block Group 1, Census Tract 1, King County, Wa...",527700,93650
1,1500000US530330001002,530330001002,"Block Group 2, Census Tract 1, King County, Wa...",321200,44352
2,1500000US530330001003,530330001003,"Block Group 3, Census Tract 1, King County, Wa...",400700,56335

In [55]:
df_econ.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1422 entries, 0 to 1421
Data columns (total 5 columns):
GEO.id               1422 non-null object
GEO.id2              1422 non-null int64
GEO.display-label    1422 non-null object
HD01_VD01            1422 non-null object
HD02_VD01            1422 non-null object
dtypes: int64(1), object(4)
memory usage: 66.7+ KB

In [53]:
df_econ.columns

Index([u'GEO.id', u'GEO.id2', u'GEO.display-label', u'HD01_VD01',
       u'HD02_VD01'],
      dtype='object')

In [54]:
df_econ.shape

(1422, 5)

In [44]:
shp.close()
len(city_potholes)