In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
%matplotlib inline

In [2]:
df = pd.read_pickle('df_neighborhoods_dists.pkl')

In [3]:
df.head(3)

,OBJECTID,WOKEY,LOCATION,ADDRDESC,INITDT_dt,FLDSTARTDT_dt,FLDENDDT_dt,DURATION,DURATION_td,latitude,longitude,address,address_detail,neighborhood_cat,Seattle_dist,Space_Needle_dist,Pike_Place_dist,Convention_Center_dist,Woodland_Park_dist,Queene_Anne_dist
0,1,2456,Holden pl SW bt SW Kenyon Holden ...,HOLDEN PL SW BETWEEN SW HOLDEN ST AND SW KENYO...,2010-03-29 07:00:00,2010-04-06 07:00:00,2010-04-06 07:00:00,8 days,8,47.531858,-122.363186,"SW Kenyon St, Seattle, WA, USA","2438 SW Kenyon St, Seattle, WA 98106, USA",93,5.338641,6.158729,5.467939,5.688451,9.453253,7.300465
1,2,2514,"NE Pacific Street, one block west of Montlake ...",MONTLAKE BLVD NE AND NE PACIFIC ST ...,2010-03-30 07:00:00,2010-04-01 07:00:00,2010-04-01 07:00:00,2 days,2,47.649014,-122.304655,"Montlake Blvd NE & NE Pacific St, Seattle, WA ...","3705-3707 Montlake Blvd NE, Seattle, WA 98105,...",42,3.222458,2.867154,3.231487,2.889531,2.654837,2.610214
2,3,2649,32nd Ave NE and NE 135th ...,NE 135TH ST BETWEEN 32ND AVE NE AND LAKE CITY ...,2010-03-31 07:00:00,2010-04-01 07:00:00,2010-04-01 07:00:00,1 days,1,47.707446,-122.301566,"Lake City Way NE, Seattle, WA, USA","10754-10850 Lake City Way NE, Seattle, WA 9812...",105,7.137526,6.405817,7.012778,6.783446,3.623119,5.502601

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 732 entries, 0 to 1000
Data columns (total 20 columns):
OBJECTID                  732 non-null int64
WOKEY                     732 non-null int64
LOCATION                  732 non-null object
ADDRDESC                  732 non-null object
INITDT_dt                 732 non-null datetime64[ns]
FLDSTARTDT_dt             732 non-null datetime64[ns]
FLDENDDT_dt               732 non-null datetime64[ns]
DURATION                  732 non-null timedelta64[ns]
DURATION_td               732 non-null float64
latitude                  732 non-null float64
longitude                 732 non-null float64
address                   732 non-null object
address_detail            732 non-null object
neighborhood_cat          732 non-null float64
Seattle_dist              732 non-null float64
Space_Needle_dist         732 non-null float64
Pike_Place_dist           732 non-null float64
Convention_Center_dist    732 non-null float64
Woodland_Park_dist        732 non-null float64
Queene_Anne_dist          732 non-null float64
dtypes: datetime64[ns](3), float64(10), int64(2), object(4), timedelta64[ns](1)
memory usage: 120.1+ KB

In [12]:
def get_quarter(df):
    quarters = [df.ix[row, 'INITDT_dt'].quarter for row in df.index.tolist()]
    return pd.Series(quarters, index = df.index)

In [14]:
df['INIT_Quarter'] = get_quarter(df)

####Add months to end of FY, assuming June.

In [15]:
def get_days_till_FY(df):
    days = [6 - df.ix[row, 'INITDT_dt'].month for row in df.index.tolist()]
    return pd.Series(days, index = df.index)

In [17]:
df['days_end_FY'] = get_days_till_FY(df)

In [18]:
df.to_pickle('df_neighborhoods_dists_seasons.pkl')