In [1]:
import pandas as pd
import numpy as np
import fiona
from shapely.geometry import shape, Polygon, MultiPolygon, Point, MultiPoint
import cPickle as pickle

In [2]:
pd.set_option('display.max_columns', 500)

In [3]:
df = pd.read_pickle('df_1to1999_geo_cleaned.pkl')

In [4]:
df.head(2)

,OBJECTID,WOKEY,LOCATION,ADDRDESC,INITDT_dt,FLDSTARTDT_dt,FLDENDDT_dt,DURATION,DURATION_td,latitude,longitude,address
0,1,2456,Holden pl SW bt SW Kenyon Holden ...,HOLDEN PL SW BETWEEN SW HOLDEN ST AND SW KENYO...,2010-03-29 07:00:00,2010-04-06 07:00:00,2010-04-06 07:00:00,8 days,8,47.531858,-122.363186,"SW Kenyon St, Seattle, WA, USA"
1,2,2514,"NE Pacific Street, one block west of Montlake ...",MONTLAKE BLVD NE AND NE PACIFIC ST ...,2010-03-30 07:00:00,2010-04-01 07:00:00,2010-04-01 07:00:00,2 days,2,47.649014,-122.304655,"Montlake Blvd NE & NE Pacific St, Seattle, WA ..."

In [5]:
# Read in shapefile
shapefilename = 'data/tl_2013_53_bg_Seattle'
shp = fiona.open(shapefilename+'.shp')

In [6]:
# Get neighborhood polys and their indices
polys = [shape(pol['geometry']) for pol in shp] #This might have been an unnecessary step; 
                                                #I might have gone straight to MultiPolygon
#shp.close()

In [7]:
len(polys)

576

In [8]:
print polys[0]

POLYGON ((-122.263118 47.504886, -122.263105 47.506122, -122.261288 47.506116, -122.259464 47.506108, -122.259446 47.507681, -122.259439 47.508218, -122.25943 47.509692, -122.258751 47.509697, -122.257075 47.5097, -122.255897 47.509704, -122.255907 47.508198, -122.255917 47.507642, -122.254753 47.506561, -122.254539 47.506351, -122.253306 47.505218, -122.251624 47.503657, -122.251151 47.50321899999999, -122.250865 47.502903, -122.250814 47.502831, -122.251413 47.502801, -122.251642 47.50282499999999, -122.25362 47.502729, -122.259515 47.502537, -122.259529 47.501306, -122.262399 47.501345, -122.262364 47.502523, -122.261325 47.502509, -122.261335 47.502714, -122.262496 47.503313, -122.263137 47.503313, -122.263118 47.504886))

In [9]:
polys[2]

In [10]:
shp.schema

{'geometry': 'Polygon',
 'properties': OrderedDict([(u'STATEFP', 'str:2'), (u'COUNTYFP', 'str:3'), (u'TRACTCE', 'str:6'), (u'BLKGRPCE', 'str:1'), (u'GEOID', 'str:12'), (u'NAMELSAD', 'str:13'), (u'MTFCC', 'str:5'), (u'FUNCSTAT', 'str:1'), (u'ALAND', 'float:14'), (u'AWATER', 'float:14'), (u'INTPTLAT', 'str:11'), (u'INTPTLON', 'str:12')])}

In [11]:
total=0
aList = []
for feature in shp:
    total +=1
    print total, feature['properties']['GEOID'], feature['properties']['NAMELSAD'], feature['geometry']['type']
    aList.append(feature['properties']['GEOID'])

1 530330119003 Block Group 3 Polygon
2 530330222031 Block Group 1 Polygon
3 530330012002 Block Group 2 Polygon
4 530330079005 Block Group 5 Polygon
5 530330275002 Block Group 2 Polygon
6 530330046002 Block Group 2 Polygon
7 530330069001 Block Group 1 Polygon
8 530330114012 Block Group 2 Polygon
9 530330047001 Block Group 1 Polygon
10 530330213002 Block Group 2 Polygon
11 530330097021 Block Group 1 Polygon
12 530330013002 Block Group 2 Polygon
13 530330034002 Block Group 2 Polygon
14 530330061003 Block Group 3 Polygon
15 530330030004 Block Group 4 Polygon
16 530330028002 Block Group 2 Polygon
17 530330001001 Block Group 1 Polygon
18 530330001004 Block Group 4 Polygon
19 530330002001 Block Group 1 Polygon
20 530330002002 Block Group 2 Polygon
21 530330002003 Block Group 3 Polygon
22 530330002006 Block Group 6 Polygon
23 530330002005 Block Group 5 Polygon
24 530330003001 Block Group 1 Polygon
25 530330003002 Block Group 2 Polygon
26 530330004011 Block Group 1 Polygon
27 530330004012 Block Group 2 Polygon
28 530330004013 Block Group 3 Polygon
29 530330004021 Block Group 1 Polygon
30 530330004022 Block Group 2 Polygon
31 530330004023 Block Group 3 Polygon
32 530330004024 Block Group 4 Polygon
33 530330261001 Block Group 1 Polygon
34 530330268011 Block Group 1 Polygon
35 530330005002 Block Group 2 Polygon
36 530330007004 Block Group 4 Polygon
37 530330007003 Block Group 3 Polygon
38 530330008001 Block Group 1 Polygon
39 530330008002 Block Group 2 Polygon
40 530330009001 Block Group 1 Polygon
41 530330009002 Block Group 2 Polygon
42 530330010001 Block Group 1 Polygon
43 530330010002 Block Group 2 Polygon
44 530330011001 Block Group 1 Polygon
45 530330011002 Block Group 2 Polygon
46 530330012003 Block Group 3 Polygon
47 530330012004 Block Group 4 Polygon
48 530330012005 Block Group 5 Polygon
49 530330005003 Block Group 3 Polygon
50 530330006001 Block Group 1 Polygon
51 530330006003 Block Group 3 Polygon
52 530330006004 Block Group 4 Polygon
53 530330006006 Block Group 6 Polygon
54 530330007001 Block Group 1 Polygon
55 530330006005 Block Group 5 Polygon
56 530330007002 Block Group 2 Polygon
57 530330081001 Block Group 1 Polygon
58 530330041003 Block Group 3 Polygon
59 530330098005 Block Group 5 Polygon
60 530330012001 Block Group 1 Polygon
61 530330021001 Block Group 1 Polygon
62 530330027002 Block Group 2 Polygon
63 530330027003 Block Group 3 Polygon
64 530330027004 Block Group 4 Polygon
65 530330028003 Block Group 3 Polygon
66 530330029002 Block Group 2 Polygon
67 530330029003 Block Group 3 Polygon
68 530330030003 Block Group 3 Polygon
69 530330030002 Block Group 2 Polygon
70 530330031001 Block Group 1 Polygon
71 530330031003 Block Group 3 Polygon
72 530330031004 Block Group 4 Polygon
73 530330034003 Block Group 3 Polygon
74 530330035001 Block Group 1 Polygon
75 530330035002 Block Group 2 Polygon
76 530330035003 Block Group 3 Polygon
77 530330034001 Block Group 1 Polygon
78 530330036004 Block Group 4 Polygon
79 530330038001 Block Group 1 Polygon
80 530330074014 Block Group 4 Polygon
81 530330111021 Block Group 1 Polygon
82 530330022003 Block Group 3 Polygon
83 530330025001 Block Group 1 Polygon
84 530330223001 Block Group 1 Polygon
85 530330039002 Block Group 2 Polygon
86 530330039001 Block Group 1 Polygon
87 530330242002 Block Group 2 Polygon
88 530330050001 Block Group 1 Polygon
89 530330061002 Block Group 2 Polygon
90 530330063004 Block Group 4 Polygon
91 530330095002 Block Group 2 Polygon
92 530330102002 Block Group 2 Polygon
93 530330101005 Block Group 5 Polygon
94 530330246013 Block Group 3 Polygon
95 530330104023 Block Group 3 Polygon
96 530330104012 Block Group 2 Polygon
97 530330107022 Block Group 2 Polygon
98 530330001005 Block Group 5 Polygon
99 530330014004 Block Group 4 Polygon
100 530330016001 Block Group 1 Polygon
101 530330208004 Block Group 4 Polygon
102 530330209003 Block Group 3 Polygon
103 530330096005 Block Group 5 Polygon
104 530330080013 Block Group 3 Polygon
105 530330265002 Block Group 2 Polygon
106 530330120002 Block Group 2 Polygon
107 530330119001 Block Group 1 Polygon
108 530330031005 Block Group 5 Polygon
109 530330015002 Block Group 2 Polygon
110 530330043013 Block Group 3 Polygon
111 530330056003 Block Group 3 Polygon
112 530330057001 Block Group 1 Polygon
113 530330058023 Block Group 3 Polygon
114 530330032006 Block Group 6 Polygon
115 530330084001 Block Group 1 Polygon
116 530330080015 Block Group 5 Polygon
117 530330081003 Block Group 3 Polygon
118 530330084003 Block Group 3 Polygon
119 530330242001 Block Group 1 Polygon
120 530330261004 Block Group 4 Polygon
121 530330114013 Block Group 3 Polygon
122 530330110011 Block Group 1 Polygon
123 530330110022 Block Group 2 Polygon
124 530330114011 Block Group 1 Polygon
125 530330110012 Block Group 2 Polygon
126 530330271002 Block Group 2 Polygon
127 530330005001 Block Group 1 Polygon
128 530330032001 Block Group 1 Polygon
129 530330032002 Block Group 2 Polygon
130 530330032003 Block Group 3 Polygon
131 530330032004 Block Group 4 Polygon
132 530330031002 Block Group 2 Polygon
133 530330032007 Block Group 7 Polygon
134 530330033001 Block Group 1 Polygon
135 530330033002 Block Group 2 Polygon
136 530330033003 Block Group 3 Polygon
137 530330033004 Block Group 4 Polygon
138 530330033005 Block Group 5 Polygon
139 530330056002 Block Group 2 Polygon
140 530330014001 Block Group 1 Polygon
141 530330014002 Block Group 2 Polygon
142 530330014003 Block Group 3 Polygon
143 530330015001 Block Group 1 Polygon
144 530330016002 Block Group 2 Polygon
145 530330016003 Block Group 3 Polygon
146 530330017011 Block Group 1 Polygon
147 530330017023 Block Group 3 Polygon
148 530330018001 Block Group 1 Polygon
149 530330018002 Block Group 2 Polygon
150 530330018003 Block Group 3 Polygon
151 530330019002 Block Group 2 Polygon
152 530330019003 Block Group 3 Polygon
153 530330019001 Block Group 1 Polygon
154 530330020001 Block Group 1 Polygon
155 530330021003 Block Group 3 Polygon
156 530330022001 Block Group 1 Polygon
157 530330022002 Block Group 2 Polygon
158 530330022004 Block Group 4 Polygon
159 530330024001 Block Group 1 Polygon
160 530330024002 Block Group 2 Polygon
161 530330024003 Block Group 3 Polygon
162 530330026004 Block Group 4 Polygon
163 530330027001 Block Group 1 Polygon
164 530330040002 Block Group 2 Polygon
165 530330040001 Block Group 1 Polygon
166 530330038002 Block Group 2 Polygon
167 530330265003 Block Group 3 Polygon
168 530330078002 Block Group 2 Polygon
169 530330078003 Block Group 3 Polygon
170 530330078004 Block Group 4 Polygon
171 530330079001 Block Group 1 Polygon
172 530330079004 Block Group 4 Polygon
173 530330080021 Block Group 1 Polygon
174 530330074021 Block Group 1 Polygon
175 530330102001 Block Group 1 Polygon
176 530330103001 Block Group 1 Polygon
177 530330103004 Block Group 4 Polygon
178 530330103005 Block Group 5 Polygon
179 530330104011 Block Group 1 Polygon
180 530330104021 Block Group 1 Polygon
181 530330104022 Block Group 2 Polygon
182 530330105001 Block Group 1 Polygon
183 530330105005 Block Group 5 Polygon
184 530330105003 Block Group 3 Polygon
185 530330105004 Block Group 4 Polygon
186 530330106001 Block Group 1 Polygon
187 530330113004 Block Group 4 Polygon
188 530330113005 Block Group 5 Polygon
189 530330114021 Block Group 1 Polygon
190 530330114023 Block Group 3 Polygon
191 530330113002 Block Group 2 Polygon
192 530330113003 Block Group 3 Polygon
193 530330115001 Block Group 1 Polygon
194 530330106003 Block Group 3 Polygon
195 530330106004 Block Group 4 Polygon
196 530330106005 Block Group 5 Polygon
197 530330106006 Block Group 6 Polygon
198 530330107011 Block Group 1 Polygon
199 530330107012 Block Group 2 Polygon
200 530330107021 Block Group 1 Polygon
201 530330108001 Block Group 1 Polygon
202 530330108002 Block Group 2 Polygon
203 530330108003 Block Group 3 Polygon
204 530330109001 Block Group 1 Polygon
205 530330109002 Block Group 2 Polygon
206 530330110013 Block Group 3 Polygon
207 530330110021 Block Group 1 Polygon
208 530330110023 Block Group 3 Polygon
209 530330111011 Block Group 1 Polygon
210 530330111012 Block Group 2 Polygon
211 530330111013 Block Group 3 Polygon
212 530330111022 Block Group 2 Polygon
213 530330112001 Block Group 1 Polygon
214 530330112002 Block Group 2 Polygon
215 530330112003 Block Group 3 Polygon
216 530330113001 Block Group 1 Polygon
217 530330243001 Block Group 1 Polygon
218 530330243002 Block Group 2 Polygon
219 530330243003 Block Group 3 Polygon
220 530330243005 Block Group 5 Polygon
221 530330243004 Block Group 4 Polygon
222 530330241002 Block Group 2 Polygon
223 530330245003 Block Group 3 Polygon
224 530330246022 Block Group 2 Polygon
225 530330013001 Block Group 1 Polygon
226 530330221011 Block Group 1 Polygon
227 530330222032 Block Group 2 Polygon
228 530330221012 Block Group 2 Polygon
229 530330221013 Block Group 3 Polygon
230 530330222033 Block Group 3 Polygon
231 530330223002 Block Group 2 Polygon
232 530330221014 Block Group 4 Polygon
233 530330221022 Block Group 2 Polygon
234 530330221023 Block Group 3 Polygon
235 530330222013 Block Group 3 Polygon
236 530330222014 Block Group 4 Polygon
237 530330267001 Block Group 1 Polygon
238 530330266001 Block Group 1 Polygon
239 530330088001 Block Group 1 Polygon
240 530330114022 Block Group 2 Polygon
241 530330020002 Block Group 2 Polygon
242 530330070005 Block Group 5 Polygon
243 530330111024 Block Group 4 Polygon
244 530330075001 Block Group 1 Polygon
245 530330074012 Block Group 2 Polygon
246 530330058011 Block Group 1 Polygon
247 530330067003 Block Group 3 Polygon
248 530330268012 Block Group 2 Polygon
249 530330017012 Block Group 2 Polygon
250 530330028001 Block Group 1 Polygon
251 530330107023 Block Group 3 Polygon
252 530330070006 Block Group 6 Polygon
253 530330042005 Block Group 5 Polygon
254 530330001003 Block Group 3 Polygon
255 530330029001 Block Group 1 Polygon
256 530330209001 Block Group 1 Polygon
257 530330063003 Block Group 3 Polygon
258 530330064002 Block Group 2 Polygon
259 530330065001 Block Group 1 Polygon
260 530330065003 Block Group 3 Polygon
261 530330065002 Block Group 2 Polygon
262 530330066001 Block Group 1 Polygon
263 530330066002 Block Group 2 Polygon
264 530330067001 Block Group 1 Polygon
265 530330067002 Block Group 2 Polygon
266 530330067004 Block Group 4 Polygon
267 530330069002 Block Group 2 Polygon
268 530330088003 Block Group 3 Polygon
269 530330089001 Block Group 1 Polygon
270 530330062001 Block Group 1 Polygon
271 530330062003 Block Group 3 Polygon
272 530330062002 Block Group 2 Polygon
273 530330063001 Block Group 1 Polygon
274 530330063002 Block Group 2 Polygon
275 530330069003 Block Group 3 Polygon
276 530330069004 Block Group 4 Polygon
277 530330085002 Block Group 2 Polygon
278 530330085003 Block Group 3 Polygon
279 530330086003 Block Group 3 Polygon
280 530330087003 Block Group 3 Polygon
281 530330088002 Block Group 2 Polygon
282 530330085001 Block Group 1 Polygon
283 530330089004 Block Group 4 Polygon
284 530330089003 Block Group 3 Polygon
285 530330090001 Block Group 1 Polygon
286 530330091001 Block Group 1 Polygon
287 530330091002 Block Group 2 Polygon
288 530330092001 Block Group 1 Polygon
289 530330092002 Block Group 2 Polygon
290 530330093001 Block Group 1 Polygon
291 530330093002 Block Group 2 Polygon
292 530330093003 Block Group 3 Polygon
293 530330094002 Block Group 2 Polygon
294 530330082001 Block Group 1 Polygon
295 530330082002 Block Group 2 Polygon
296 530330082003 Block Group 3 Polygon
297 530330083001 Block Group 1 Polygon
298 530330083002 Block Group 2 Polygon
299 530330095003 Block Group 3 Polygon
300 530330094003 Block Group 3 Polygon
301 530330096002 Block Group 2 Polygon
302 530330096003 Block Group 3 Polygon
303 530330095004 Block Group 4 Polygon
304 530330094005 Block Group 5 Polygon
305 530330095001 Block Group 1 Polygon
306 530330089002 Block Group 2 Polygon
307 530330094004 Block Group 4 Polygon
308 530330080022 Block Group 2 Polygon
309 530330081002 Block Group 2 Polygon
310 530330097011 Block Group 1 Polygon
311 530330097012 Block Group 2 Polygon
312 530330097013 Block Group 3 Polygon
313 530330097014 Block Group 4 Polygon
314 530330097022 Block Group 2 Polygon
315 530330078001 Block Group 1 Polygon
316 530330071001 Block Group 1 Polygon
317 530330071002 Block Group 2 Polygon
318 530330072001 Block Group 1 Polygon
319 530330073001 Block Group 1 Polygon
320 530330070002 Block Group 2 Polygon
321 530330070003 Block Group 3 Polygon
322 530330073002 Block Group 2 Polygon
323 530330073003 Block Group 3 Polygon
324 530330074011 Block Group 1 Polygon
325 530330074013 Block Group 3 Polygon
326 530330075002 Block Group 2 Polygon
327 530330075003 Block Group 3 Polygon
328 530330075004 Block Group 4 Polygon
329 530330075005 Block Group 5 Polygon
330 530330076001 Block Group 1 Polygon
331 530330076002 Block Group 2 Polygon
332 530330076003 Block Group 3 Polygon
333 530330101002 Block Group 2 Polygon
334 530330101003 Block Group 3 Polygon
335 530330101004 Block Group 4 Polygon
336 530330097024 Block Group 4 Polygon
337 530330097025 Block Group 5 Polygon
338 530330098001 Block Group 1 Polygon
339 530330098003 Block Group 3 Polygon
340 530330099001 Block Group 1 Polygon
341 530330097023 Block Group 3 Polygon
342 530330099004 Block Group 4 Polygon
343 530330099002 Block Group 2 Polygon
344 530330099003 Block Group 3 Polygon
345 530330077003 Block Group 3 Polygon
346 530330077001 Block Group 1 Polygon
347 530330077004 Block Group 4 Polygon
348 530330077002 Block Group 2 Polygon
349 530330100011 Block Group 1 Polygon
350 530330100013 Block Group 3 Polygon
351 530330100012 Block Group 2 Polygon
352 530330101001 Block Group 1 Polygon
353 530330100021 Block Group 1 Polygon
354 530330100023 Block Group 3 Polygon
355 530330100024 Block Group 4 Polygon
356 530330080011 Block Group 1 Polygon
357 530330268013 Block Group 3 Polygon
358 530330211004 Block Group 4 Polygon
359 530330013003 Block Group 3 Polygon
360 530330049005 Block Group 5 Polygon
361 530330103003 Block Group 3 Polygon
362 530330068001 Block Group 1 Polygon
363 530330268024 Block Group 4 Polygon
364 530330118005 Block Group 5 Polygon
365 530330047002 Block Group 2 Polygon
366 530330211002 Block Group 2 Polygon
367 530330210002 Block Group 2 Polygon
368 530330032005 Block Group 5 Polygon
369 530330053011 Block Group 1 Polygon
370 530330086001 Block Group 1 Polygon
371 530330045002 Block Group 2 Polygon
372 530330046003 Block Group 3 Polygon
373 530330048003 Block Group 3 Polygon
374 530330048004 Block Group 4 Polygon
375 530330049002 Block Group 2 Polygon
376 530330049003 Block Group 3 Polygon
377 530330262001 Block Group 1 Polygon
378 530330045001 Block Group 1 Polygon
379 530330041006 Block Group 6 Polygon
380 530330064001 Block Group 1 Polygon
381 530330105002 Block Group 2 Polygon
382 530330056005 Block Group 5 Polygon
383 530330080014 Block Group 4 Polygon
384 530330072003 Block Group 3 Polygon
385 530330072002 Block Group 2 Polygon
386 530330104013 Block Group 3 Polygon
387 530330115003 Block Group 3 Polygon
388 530330026002 Block Group 2 Polygon
389 530330090002 Block Group 2 Polygon
390 530330102004 Block Group 4 Polygon
391 530330043022 Block Group 2 Polygon
392 530330214001 Block Group 1 Polygon
393 530330214002 Block Group 2 Polygon
394 530330268023 Block Group 3 Polygon
395 530330205003 Block Group 3 Polygon
396 530330209002 Block Group 2 Polygon
397 530330210004 Block Group 4 Polygon
398 530330207001 Block Group 1 Polygon
399 530330086002 Block Group 2 Polygon
400 530330261005 Block Group 5 Polygon
401 530330041002 Block Group 2 Polygon
402 530330052001 Block Group 1 Polygon
403 530330070001 Block Group 1 Polygon
404 530330021002 Block Group 2 Polygon
405 530330118003 Block Group 3 Polygon
406 530330266002 Block Group 2 Polygon
407 530330074023 Block Group 3 Polygon
408 530330119004 Block Group 4 Polygon
409 530330098004 Block Group 4 Polygon
410 530330053014 Block Group 4 Polygon
411 530330017021 Block Group 1 Polygon
412 530330049004 Block Group 4 Polygon
413 530330050003 Block Group 3 Polygon
414 530330050002 Block Group 2 Polygon
415 530330115002 Block Group 2 Polygon
416 530330049001 Block Group 1 Polygon
417 530330102003 Block Group 3 Polygon
418 530330051001 Block Group 1 Polygon
419 530330064003 Block Group 3 Polygon
420 530330079003 Block Group 3 Polygon
421 530330017022 Block Group 2 Polygon
422 530330100022 Block Group 2 Polygon
423 530330026003 Block Group 3 Polygon
424 530330044004 Block Group 4 Polygon
425 530330111014 Block Group 4 Polygon
426 530330098002 Block Group 2 Polygon
427 530330051002 Block Group 2 Polygon
428 530330017013 Block Group 3 Polygon
429 530330074022 Block Group 2 Polygon
430 530330036002 Block Group 2 Polygon
431 530330036003 Block Group 3 Polygon
432 530330036001 Block Group 1 Polygon
433 530330042001 Block Group 1 Polygon
434 530330275001 Block Group 1 Polygon
435 530330051003 Block Group 3 Polygon
436 530330096004 Block Group 4 Polygon
437 530330084002 Block Group 2 Polygon
438 530330210003 Block Group 3 Polygon
439 530330111023 Block Group 3 Polygon
440 530330268014 Block Group 4 Polygon
441 530330020003 Block Group 3 Polygon
442 530330103002 Block Group 2 Polygon
443 530330211001 Block Group 1 Polygon
444 530330070004 Block Group 4 Polygon
445 530330079002 Block Group 2 Polygon
446 530330028004 Block Group 4 Polygon
447 530330094001 Block Group 1 Polygon
448 530330080012 Block Group 2 Polygon
449 530330106002 Block Group 2 Polygon
450 530330104024 Block Group 4 Polygon
451 530330057004 Block Group 4 Polygon
452 530330006002 Block Group 2 Polygon
453 530330017024 Block Group 4 Polygon
454 530330087002 Block Group 2 Polygon
455 530330026001 Block Group 1 Polygon
456 530330043021 Block Group 1 Polygon
457 530330044001 Block Group 1 Polygon
458 530330044003 Block Group 3 Polygon
459 530330044002 Block Group 2 Polygon
460 530330046001 Block Group 1 Polygon
461 530330047003 Block Group 3 Polygon
462 530330047004 Block Group 4 Polygon
463 530330048001 Block Group 1 Polygon
464 530330043011 Block Group 1 Polygon
465 530330058012 Block Group 2 Polygon
466 530330096001 Block Group 1 Polygon
467 530330206003 Block Group 3 Polygon
468 530330207003 Block Group 3 Polygon
469 530330052003 Block Group 3 Polygon
470 530330206002 Block Group 2 Polygon
471 530330210001 Block Group 1 Polygon
472 530330030001 Block Group 1 Polygon
473 530330052002 Block Group 2 Polygon
474 530330211003 Block Group 3 Polygon
475 530330002004 Block Group 4 Polygon
476 530330025002 Block Group 2 Polygon
477 530330087001 Block Group 1 Polygon
478 530330001002 Block Group 2 Polygon
479 530330053013 Block Group 3 Polygon
480 530330052004 Block Group 4 Polygon
481 530330052005 Block Group 5 Polygon
482 530330053012 Block Group 2 Polygon
483 530330053021 Block Group 1 Polygon
484 530330053022 Block Group 2 Polygon
485 530330053023 Block Group 3 Polygon
486 530330054001 Block Group 1 Polygon
487 530330054002 Block Group 2 Polygon
488 530330054003 Block Group 3 Polygon
489 530330054004 Block Group 4 Polygon
490 530330056001 Block Group 1 Polygon
491 530330056004 Block Group 4 Polygon
492 530330057002 Block Group 2 Polygon
493 530330059002 Block Group 2 Polygon
494 530330059004 Block Group 4 Polygon
495 530330059005 Block Group 5 Polygon
496 530330059003 Block Group 3 Polygon
497 530330060001 Block Group 1 Polygon
498 530330060002 Block Group 2 Polygon
499 530330060003 Block Group 3 Polygon
500 530330060004 Block Group 4 Polygon
501 530330061001 Block Group 1 Polygon
502 530330061004 Block Group 4 Polygon
503 530330057003 Block Group 3 Polygon
504 530330057006 Block Group 6 Polygon
505 530330057005 Block Group 5 Polygon
506 530330058013 Block Group 3 Polygon
507 530330058014 Block Group 4 Polygon
508 530330058021 Block Group 1 Polygon
509 530330058022 Block Group 2 Polygon
510 530330041001 Block Group 1 Polygon
511 530330041004 Block Group 4 Polygon
512 530330041005 Block Group 5 Polygon
513 530330042002 Block Group 2 Polygon
514 530330042003 Block Group 3 Polygon
515 530330042004 Block Group 4 Polygon

In [12]:
# Associate each block group polygon with its GEOID
block_group_tup = []
idx = 0
mpolys = MultiPolygon(polys)
for feature in shp:
    print mpolys[idx] #What is this step doing?  All this is doing is making polys into a GeometryCollection
    idx += 1
    if idx == 1:
        break
#     print feature['properties']['GEOID']

POLYGON ((-122.263118 47.504886, -122.263105 47.506122, -122.261288 47.506116, -122.259464 47.506108, -122.259446 47.507681, -122.259439 47.508218, -122.25943 47.509692, -122.258751 47.509697, -122.257075 47.5097, -122.255897 47.509704, -122.255907 47.508198, -122.255917 47.507642, -122.254753 47.506561, -122.254539 47.506351, -122.253306 47.505218, -122.251624 47.503657, -122.251151 47.50321899999999, -122.250865 47.502903, -122.250814 47.502831, -122.251413 47.502801, -122.251642 47.50282499999999, -122.25362 47.502729, -122.259515 47.502537, -122.259529 47.501306, -122.262399 47.501345, -122.262364 47.502523, -122.261325 47.502509, -122.261335 47.502714, -122.262496 47.503313, -122.263137 47.503313, -122.263118 47.504886))

In [13]:
type(MultiPolygon(polys))

shapely.geometry.multipolygon.MultiPolygon

In [14]:
type(polys)

list

OK, now I see.  polys is just a list of shapely polygon geometries, while MultiPolygon is itself a shapely geometry.  Other than that, the difference may not be important.

In [15]:
len(MultiPolygon(polys).geoms)

576

In [16]:
len(MultiPolygon(polys))

576

In [17]:
type(MultiPolygon(polys)[1])

shapely.geometry.polygon.Polygon

In [18]:
type(MultiPolygon(polys))

shapely.geometry.multipolygon.MultiPolygon

In [19]:
mpolys[1]

In [20]:
MultiPolygon(polys)[1]

In [21]:
polys[1]

In [22]:
len(mpolys)

576

In [23]:
# Associate each block group polygon with its GEOID
block_group_tup = []
idx = 0
for feature in shp:
    block_group_tup.append((mpolys[idx],\
    feature['properties']['GEOID']))
    idx += 1

In [24]:
#shp.close()

In [25]:
with open('all_potholes.pkl') as f:
        all_potholes = pickle.load(f)

In [26]:
# Extract the block group label associated with each pothole
block_group_label = []
for hole in xrange(len(all_potholes[0])):
    found = False
    for group in xrange(len(block_group_tup)):
        if block_group_tup[group][0].contains(all_potholes[0][hole]):
            block_group_label.append(block_group_tup[group][1])
            found = True
    if not found:   
#     if found == False:
        block_group_label.append('')

In [27]:
len(block_group_label), len(all_potholes[0]) #Notice different number of potholes, since I have more of them now.

(1320, 1320)

In [28]:
# Add block group to dataframe
df['GEOID'] = pd.Series(block_group_label,\
    index = df.index.tolist())

In [29]:
df.GEOID.shape

(1320L,)

In [30]:
df.shape

(1320, 13)

In [31]:
len(all_potholes[1]) #My problem is that this list is shorter because it was created with df_geo_cleaned, a shorter list of potholes

1320

In [32]:
df[df.GEOID=='']

,OBJECTID,WOKEY,LOCATION,ADDRDESC,INITDT_dt,FLDSTARTDT_dt,FLDENDDT_dt,DURATION,DURATION_td,latitude,longitude,address,GEOID
322,323,360163,117 S WASHINGTON ST ...,S WASHINGTON ST BETWEEN OCCIDENTAL AVE S AND 2...,2015-06-29 07:00:00,2015-06-30 07:00:00,2015-06-30 07:00:00,1 days,1,47.426947,-122.333367,"2nd Ave S, Seattle, WA, USA",
367,368,332082,S KENYON ST BETWEEN 2ND AVE S AND OCCIDENTAL A...,S KENYON ST BETWEEN OCCIDENTAL AVE S AND 2ND A...,2015-02-13 08:00:00,2015-02-18 08:00:00,2015-02-18 08:00:00,5 days,5,47.426947,-122.333367,"2nd Ave S, Seattle, WA, USA",
554,555,351330,S KENYON ST BETWEEN OCCIDENTAL AVE S AND 2ND A...,S KENYON ST BETWEEN OCCIDENTAL AVE S AND 2ND A...,2015-05-11 07:00:00,2015-05-13 07:00:00,2015-05-13 07:00:00,2 days,2,47.426947,-122.333367,"2nd Ave S, Seattle, WA, USA",
688,689,270417,2035 FEDERAL AVE E ...,FEDERAL AVE E BETWEEN E NEWTON ST AND E BOSTON...,2014-04-21 07:00:00,2014-04-23 07:00:00,2014-04-23 07:00:00,2 days,2,47.638712,-122.301795,"E Boston St, Seattle, WA, USA",
766,767,267533,Description:\n\npothole in E Newton Street bet...,FAIRVIEW AVE E BETWEEN E NEWTON ST AND E BOSTO...,2014-04-03 07:00:00,2014-04-08 07:00:00,2014-04-08 07:00:00,5 days,5,47.638712,-122.301795,"E Boston St, Seattle, WA, USA",
782,783,200928,2003 Eastlake E ...,EASTLAKE AVE E BETWEEN E NEWTON ST AND E BOSTO...,2013-05-24 07:00:00,2013-05-25 07:00:00,2013-05-25 07:00:00,1 days,1,47.638712,-122.301795,"E Boston St, Seattle, WA, USA",
1338,1339,48460,5200-5298 S. Wallace st. seattle ...,S WALLACE ST BETWEEN 56TH PL S AND 53RD AVE S ...,2011-01-13 08:00:00,2011-03-04 08:00:00,2011-03-04 08:00:00,50 days,50,47.481400,-122.268409,"53rd Ave S, Seattle, WA, USA",
1600,1601,77960,51st Ave S from Rainier Ave S to S Hazel St. ...,S HAZEL ST BETWEEN 51ST AVE S AND 53RD AVE S ...,2011-08-25 07:00:00,2011-08-31 07:00:00,2011-08-31 07:00:00,6 days,6,47.481400,-122.268409,"53rd Ave S, Seattle, WA, USA",
1717,1718,49509,Webster Ave S and 44th Ave S ...,S WEBSTER ST BETWEEN 44TH AVE S AND 45TH AVE S...,2011-01-19 08:00:00,2011-02-01 08:00:00,2011-02-01 08:00:00,13 days,13,47.458872,-122.276804,"45th Ave S, Seattle, WA, USA",

In [33]:
df.head(2)

,OBJECTID,WOKEY,LOCATION,ADDRDESC,INITDT_dt,FLDSTARTDT_dt,FLDENDDT_dt,DURATION,DURATION_td,latitude,longitude,address,GEOID
0,1,2456,Holden pl SW bt SW Kenyon Holden ...,HOLDEN PL SW BETWEEN SW HOLDEN ST AND SW KENYO...,2010-03-29 07:00:00,2010-04-06 07:00:00,2010-04-06 07:00:00,8 days,8,47.531858,-122.363186,"SW Kenyon St, Seattle, WA, USA",530330114011
1,2,2514,"NE Pacific Street, one block west of Montlake ...",MONTLAKE BLVD NE AND NE PACIFIC ST ...,2010-03-30 07:00:00,2010-04-01 07:00:00,2010-04-01 07:00:00,2 days,2,47.649014,-122.304655,"Montlake Blvd NE & NE Pacific St, Seattle, WA ...",530330053022

In [34]:
df['GEOID']

0       530330114011
1       530330053022
2       530330011001
3       530330091002
5       530330042005
6       530330005002
9       530330073001
10      530330058012
12      530330081002
13      530330026003
14      530330078001
15      530330100011
16      530330012004
18      530330003002
19      530330003002
20      530330016002
21      530330093003
23      530330033003
24      530330118004
25      530330093003
26      530330062002
28      530330090002
32      530330007004
37      530330094004
38      530330005002
39      530330062001
41      530330073003
43      530330068002
44      530330110021
45      530330031002
            ...
1957    530330006004
1958    530330014002
1959    530330107012
1960    530330094005
1962    530330065001
1963    530330104012
1965    530330118003
1966    530330062003
1967    530330006003
1968    530330100013
1970    530330011002
1972    530330012005
1973    530330012005
1974    530330077002
1977    530330085003
1979    530330064001
1980    530330002006
1981    530330107012
1982    530330021003
1984    530330012003
1986    530330094002
1987    530330015001
1988    530330097021
1989    530330043011
1990    530330058021
1991    530330006003
1992    530330053022
1995    530330114011
1997    530330264001
1998    530330067001
Name: GEOID, dtype: object

In [35]:
len(set(block_group_label))

322

Now read in and join the csv file

In [36]:
df_econ = pd.read_csv('data/ACS_13_5YR_B25077_with_ann.csv', skiprows=range(1,2))

In [37]:
df_econ.head(3)

,GEO.id,GEO.id2,GEO.display-label,HD01_VD01,HD02_VD01
0,1500000US530330001001,530330001001,"Block Group 1, Census Tract 1, King County, Wa...",527700,93650
1,1500000US530330001002,530330001002,"Block Group 2, Census Tract 1, King County, Wa...",321200,44352
2,1500000US530330001003,530330001003,"Block Group 3, Census Tract 1, King County, Wa...",400700,56335

In [38]:
df_econ.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1422 entries, 0 to 1421
Data columns (total 5 columns):
GEO.id               1422 non-null object
GEO.id2              1422 non-null int64
GEO.display-label    1422 non-null object
HD01_VD01            1422 non-null object
HD02_VD01            1422 non-null object
dtypes: int64(1), object(4)
memory usage: 66.7+ KB

In [39]:
df_econ.columns

Index([u'GEO.id', u'GEO.id2', u'GEO.display-label', u'HD01_VD01',
       u'HD02_VD01'],
      dtype='object')

In [40]:
df_econ.shape

(1422, 5)

In [41]:
df.shape

(1320, 13)

In [42]:
df_econ.rename(columns={'GEO.id2':'GEOID'}, inplace=True)

In [43]:
df_econ.columns

Index([u'GEO.id', u'GEOID', u'GEO.display-label', u'HD01_VD01', u'HD02_VD01'], dtype='object')

In [44]:
df_econ.head(2)

,GEO.id,GEOID,GEO.display-label,HD01_VD01,HD02_VD01
0,1500000US530330001001,530330001001,"Block Group 1, Census Tract 1, King County, Wa...",527700,93650
1,1500000US530330001002,530330001002,"Block Group 2, Census Tract 1, King County, Wa...",321200,44352

In [45]:
df_econ[df_econ['GEOID'] == 530330114011]

,GEO.id,GEOID,GEO.display-label,HD01_VD01,HD02_VD01
442,1500000US530330114011,530330114011,"Block Group 1, Census Tract 114.01, King Count...",307500,53269

In [46]:
df_econ.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1422 entries, 0 to 1421
Data columns (total 5 columns):
GEO.id               1422 non-null object
GEOID                1422 non-null int64
GEO.display-label    1422 non-null object
HD01_VD01            1422 non-null object
HD02_VD01            1422 non-null object
dtypes: int64(1), object(4)
memory usage: 66.7+ KB

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1320 entries, 0 to 1998
Data columns (total 13 columns):
OBJECTID         1320 non-null int64
WOKEY            1320 non-null int64
LOCATION         1320 non-null object
ADDRDESC         1320 non-null object
INITDT_dt        1320 non-null datetime64[ns]
FLDSTARTDT_dt    1320 non-null datetime64[ns]
FLDENDDT_dt      1320 non-null datetime64[ns]
DURATION         1320 non-null timedelta64[ns]
DURATION_td      1320 non-null float64
latitude         1320 non-null float64
longitude        1320 non-null float64
address          1320 non-null object
GEOID            1320 non-null object
dtypes: datetime64[ns](3), float64(3), int64(2), object(4), timedelta64[ns](1)
memory usage: 144.4+ KB

In [48]:
type(df['GEOID'][0])

unicode

In [49]:
df['GEOID'][0]

u'530330114011'

In [50]:
type(df_econ['GEOID'][0].astype('unicode'))

numpy.unicode_

In [51]:
df_econ['GEOID'][0].astype('unicode')

u'530330001001'

In [52]:
df_econ['GEOID'] = df_econ['GEOID'].astype('unicode')

In [53]:
df.head(2)

,OBJECTID,WOKEY,LOCATION,ADDRDESC,INITDT_dt,FLDSTARTDT_dt,FLDENDDT_dt,DURATION,DURATION_td,latitude,longitude,address,GEOID
0,1,2456,Holden pl SW bt SW Kenyon Holden ...,HOLDEN PL SW BETWEEN SW HOLDEN ST AND SW KENYO...,2010-03-29 07:00:00,2010-04-06 07:00:00,2010-04-06 07:00:00,8 days,8,47.531858,-122.363186,"SW Kenyon St, Seattle, WA, USA",530330114011
1,2,2514,"NE Pacific Street, one block west of Montlake ...",MONTLAKE BLVD NE AND NE PACIFIC ST ...,2010-03-30 07:00:00,2010-04-01 07:00:00,2010-04-01 07:00:00,2 days,2,47.649014,-122.304655,"Montlake Blvd NE & NE Pacific St, Seattle, WA ...",530330053022

In [54]:
df_both = pd.merge(df, df_econ, how='left', on='GEOID')

In [55]:
df_both.head(10)

,OBJECTID,WOKEY,LOCATION,ADDRDESC,INITDT_dt,FLDSTARTDT_dt,FLDENDDT_dt,DURATION,DURATION_td,latitude,longitude,address,GEOID,GEO.id,GEO.display-label,HD01_VD01,HD02_VD01
0,1,2456,Holden pl SW bt SW Kenyon Holden ...,HOLDEN PL SW BETWEEN SW HOLDEN ST AND SW KENYO...,2010-03-29 07:00:00,2010-04-06 07:00:00,2010-04-06 07:00:00,8 days,8,47.531858,-122.363186,"SW Kenyon St, Seattle, WA, USA",530330114011,1500000US530330114011,"Block Group 1, Census Tract 114.01, King Count...",307500,53269
1,2,2514,"NE Pacific Street, one block west of Montlake ...",MONTLAKE BLVD NE AND NE PACIFIC ST ...,2010-03-30 07:00:00,2010-04-01 07:00:00,2010-04-01 07:00:00,2 days,2,47.649014,-122.304655,"Montlake Blvd NE & NE Pacific St, Seattle, WA ...",530330053022,1500000US530330053022,"Block Group 2, Census Tract 53.02, King County...",-,**
2,3,2649,32nd Ave NE and NE 135th ...,NE 135TH ST BETWEEN 32ND AVE NE AND LAKE CITY ...,2010-03-31 07:00:00,2010-04-01 07:00:00,2010-04-01 07:00:00,1 days,1,47.707446,-122.301566,"Lake City Way NE, Seattle, WA, USA",530330011001,1500000US530330011001,"Block Group 1, Census Tract 11, King County, W...",416900,62441
3,4,1591,Charles st & 6 Ave S pothole next to traffic l...,S CHARLES ST BETWEEN 6TH AVE S AND MAYNARD AVE...,2010-03-15 07:00:00,2010-03-16 07:00:00,2010-03-16 07:00:00,1 days,1,47.597085,-122.325065,"Maynard Ave S, Seattle, WA, USA",530330091002,1500000US530330091002,"Block Group 2, Census Tract 91, King County, W...",328900,145688
4,6,5642,52nd St. & 18th Ave. NE ...,18TH AVE NE BETWEEN NE 52ND ST AND NE 55TH ST ...,2010-04-19 07:00:00,2010-04-22 07:00:00,2010-04-22 07:00:00,3 days,3,47.668522,-122.295630,"NE 55th St, Seattle, WA 98105, USA",530330042005,1500000US530330042005,"Block Group 5, Census Tract 42, King County, W...",637000,56463
5,7,7585,...,3RD AVE NW BETWEEN NW 125TH ST AND NW 127TH ST...,2010-05-03 07:00:00,2010-05-04 07:00:00,2010-05-04 07:00:00,1 days,1,47.721476,-122.364984,"NW 127th St, Seattle, WA 98177, USA",530330005002,1500000US530330005002,"Block Group 2, Census Tract 5, King County, Wa...",565200,53534
6,10,7211,Republican and Minor Ave N ...,MINOR AVE N AND REPUBLICAN ST ...,2010-04-29 07:00:00,2010-05-03 07:00:00,2010-05-03 07:00:00,4 days,4,47.623131,-122.333003,"Republican St & Minor Ave N, Seattle, WA 98109...",530330073001,1500000US530330073001,"Block Group 1, Census Tract 73, King County, W...",-,**
7,11,3168,...,17TH AVE W BETWEEN W DRAVUS ST AND W BERTONA S...,2010-04-02 07:00:00,2010-04-06 07:00:00,2010-04-06 07:00:00,4 days,4,47.650311,-122.388604,"W Bertona St, Seattle, WA, USA",530330058012,1500000US530330058012,"Block Group 2, Census Tract 58.01, King County...",255200,50905
8,13,6967,B/T Pike and Pine B/t 211 and 215 ...,PIKE ST BETWEEN 2ND AVE AND 3RD AVE ...,2010-04-28 07:00:00,2010-05-03 07:00:00,2010-05-03 07:00:00,5 days,5,47.610741,-122.338703,"3rd Ave, Seattle, WA, USA",530330081002,1500000US530330081002,"Block Group 2, Census Tract 81, King County, W...",384400,224247
9,14,7107,17th Ave NE Exit of University of Washington ...,NE 45TH ST BETWEEN 15TH AVE NE AND 16TH AVE NE...,2010-04-29 07:00:00,2010-05-03 07:00:00,2010-05-03 07:00:00,4 days,4,47.675800,-122.310849,"16th Ave NE, Seattle, WA, USA",530330026003,1500000US530330026003,"Block Group 3, Census Tract 26, King County, W...",450600,59449

In [56]:
df_both.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1320 entries, 0 to 1319
Data columns (total 17 columns):
OBJECTID             1320 non-null int64
WOKEY                1320 non-null int64
LOCATION             1320 non-null object
ADDRDESC             1320 non-null object
INITDT_dt            1320 non-null datetime64[ns]
FLDSTARTDT_dt        1320 non-null datetime64[ns]
FLDENDDT_dt          1320 non-null datetime64[ns]
DURATION             1320 non-null timedelta64[ns]
DURATION_td          1320 non-null float64
latitude             1320 non-null float64
longitude            1320 non-null float64
address              1320 non-null object
GEOID                1320 non-null object
GEO.id               1311 non-null object
GEO.display-label    1311 non-null object
HD01_VD01            1311 non-null object
HD02_VD01            1311 non-null object
dtypes: datetime64[ns](3), float64(3), int64(2), object(8), timedelta64[ns](1)
memory usage: 185.6+ KB

In [57]:
#df_both.drop(['GEO.display-label'],inplace=True,axis=1)

It worked.  Finally, I have some economic values.  I had to cast the econ GEOID column from np.int64 to unicode to match the potholes df.  Still some missing values.

In [58]:
type(float(df_both['HD01_VD01'][0]))

float

In [59]:
float(df_both['HD01_VD01'][0])

307500.0

In [60]:
#d = d.applymap(lambda x: np.nan if isinstance(x, basestring) and x.isspace() else x)

In [61]:
df_both['HD01_VD01'] = df_both['HD01_VD01'].convert_objects(convert_numeric=True)

In [62]:
df_both['HD02_VD01'] = df_both['HD02_VD01'].convert_objects(convert_numeric=True)

In [63]:
df_both.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1320 entries, 0 to 1319
Data columns (total 17 columns):
OBJECTID             1320 non-null int64
WOKEY                1320 non-null int64
LOCATION             1320 non-null object
ADDRDESC             1320 non-null object
INITDT_dt            1320 non-null datetime64[ns]
FLDSTARTDT_dt        1320 non-null datetime64[ns]
FLDENDDT_dt          1320 non-null datetime64[ns]
DURATION             1320 non-null timedelta64[ns]
DURATION_td          1320 non-null float64
latitude             1320 non-null float64
longitude            1320 non-null float64
address              1320 non-null object
GEOID                1320 non-null object
GEO.id               1311 non-null object
GEO.display-label    1311 non-null object
HD01_VD01            1239 non-null float64
HD02_VD01            1239 non-null float64
dtypes: datetime64[ns](3), float64(5), int64(2), object(6), timedelta64[ns](1)
memory usage: 185.6+ KB

In [64]:
df_both.head(15)

,OBJECTID,WOKEY,LOCATION,ADDRDESC,INITDT_dt,FLDSTARTDT_dt,FLDENDDT_dt,DURATION,DURATION_td,latitude,longitude,address,GEOID,GEO.id,GEO.display-label,HD01_VD01,HD02_VD01
0,1,2456,Holden pl SW bt SW Kenyon Holden ...,HOLDEN PL SW BETWEEN SW HOLDEN ST AND SW KENYO...,2010-03-29 07:00:00,2010-04-06 07:00:00,2010-04-06 07:00:00,8 days,8,47.531858,-122.363186,"SW Kenyon St, Seattle, WA, USA",530330114011,1500000US530330114011,"Block Group 1, Census Tract 114.01, King Count...",307500,53269
1,2,2514,"NE Pacific Street, one block west of Montlake ...",MONTLAKE BLVD NE AND NE PACIFIC ST ...,2010-03-30 07:00:00,2010-04-01 07:00:00,2010-04-01 07:00:00,2 days,2,47.649014,-122.304655,"Montlake Blvd NE & NE Pacific St, Seattle, WA ...",530330053022,1500000US530330053022,"Block Group 2, Census Tract 53.02, King County...",NaN,NaN
2,3,2649,32nd Ave NE and NE 135th ...,NE 135TH ST BETWEEN 32ND AVE NE AND LAKE CITY ...,2010-03-31 07:00:00,2010-04-01 07:00:00,2010-04-01 07:00:00,1 days,1,47.707446,-122.301566,"Lake City Way NE, Seattle, WA, USA",530330011001,1500000US530330011001,"Block Group 1, Census Tract 11, King County, W...",416900,62441
3,4,1591,Charles st & 6 Ave S pothole next to traffic l...,S CHARLES ST BETWEEN 6TH AVE S AND MAYNARD AVE...,2010-03-15 07:00:00,2010-03-16 07:00:00,2010-03-16 07:00:00,1 days,1,47.597085,-122.325065,"Maynard Ave S, Seattle, WA, USA",530330091002,1500000US530330091002,"Block Group 2, Census Tract 91, King County, W...",328900,145688
4,6,5642,52nd St. & 18th Ave. NE ...,18TH AVE NE BETWEEN NE 52ND ST AND NE 55TH ST ...,2010-04-19 07:00:00,2010-04-22 07:00:00,2010-04-22 07:00:00,3 days,3,47.668522,-122.295630,"NE 55th St, Seattle, WA 98105, USA",530330042005,1500000US530330042005,"Block Group 5, Census Tract 42, King County, W...",637000,56463
5,7,7585,...,3RD AVE NW BETWEEN NW 125TH ST AND NW 127TH ST...,2010-05-03 07:00:00,2010-05-04 07:00:00,2010-05-04 07:00:00,1 days,1,47.721476,-122.364984,"NW 127th St, Seattle, WA 98177, USA",530330005002,1500000US530330005002,"Block Group 2, Census Tract 5, King County, Wa...",565200,53534
6,10,7211,Republican and Minor Ave N ...,MINOR AVE N AND REPUBLICAN ST ...,2010-04-29 07:00:00,2010-05-03 07:00:00,2010-05-03 07:00:00,4 days,4,47.623131,-122.333003,"Republican St & Minor Ave N, Seattle, WA 98109...",530330073001,1500000US530330073001,"Block Group 1, Census Tract 73, King County, W...",NaN,NaN
7,11,3168,...,17TH AVE W BETWEEN W DRAVUS ST AND W BERTONA S...,2010-04-02 07:00:00,2010-04-06 07:00:00,2010-04-06 07:00:00,4 days,4,47.650311,-122.388604,"W Bertona St, Seattle, WA, USA",530330058012,1500000US530330058012,"Block Group 2, Census Tract 58.01, King County...",255200,50905
8,13,6967,B/T Pike and Pine B/t 211 and 215 ...,PIKE ST BETWEEN 2ND AVE AND 3RD AVE ...,2010-04-28 07:00:00,2010-05-03 07:00:00,2010-05-03 07:00:00,5 days,5,47.610741,-122.338703,"3rd Ave, Seattle, WA, USA",530330081002,1500000US530330081002,"Block Group 2, Census Tract 81, King County, W...",384400,224247
9,14,7107,17th Ave NE Exit of University of Washington ...,NE 45TH ST BETWEEN 15TH AVE NE AND 16TH AVE NE...,2010-04-29 07:00:00,2010-05-03 07:00:00,2010-05-03 07:00:00,4 days,4,47.675800,-122.310849,"16th Ave NE, Seattle, WA, USA",530330026003,1500000US530330026003,"Block Group 3, Census Tract 26, King County, W...",450600,59449
10,15,6242,51ST S & S Ryan ...,HILLSIDE DR E AND LAKE WASHINGTON BLVD E ...,2010-04-22 07:00:00,2010-04-22 07:00:00,2010-04-26 07:00:00,4 days,4,47.622480,-122.284664,"Lake Washington Blvd E & Hillside Dr E, Seattl...",530330078001,1500000US530330078001,"Block Group 1, Census Tract 78, King County, W...",NaN,NaN
11,16,5239,3708 2nd Ave S ...,2ND AVE S BETWEEN S SPOKANE (S RD) ST AND S AN...,2010-04-15 07:00:00,2010-04-16 07:00:00,2010-04-16 07:00:00,1 days,1,47.568293,-122.301841,"S Andover St, Seattle, WA, USA",530330100011,1500000US530330100011,"Block Group 1, Census Tract 100.01, King Count...",358200,39966
12,17,4589,112 NE 92nd ...,NE 92ND ST BETWEEN 1ST AVE NE AND 2ND AVE NE ...,2010-04-12 07:00:00,2010-04-14 07:00:00,2010-04-14 07:00:00,2 days,2,47.708664,-122.327308,"2nd Ave NE, Seattle, WA, USA",530330012004,1500000US530330012004,"Block Group 4, Census Tract 12, King County, W...",172000,22250
13,19,4582,N 85th St between Stone & Nesbitt Ave ...,N 85TH ST BETWEEN NESBIT AVE N AND MIDVALE AVE...,2010-04-12 07:00:00,2010-04-15 07:00:00,2010-04-15 07:00:00,3 days,3,47.729026,-122.343668,"Midvale Ave N, Seattle, WA, USA",530330003002,1500000US530330003002,"Block Group 2, Census Tract 3, King County, Wa...",307800,27440
14,20,4298,N 105th & Aurora N ...,N 105TH ST BETWEEN N NORTHGATE (E LEG) WAY AND...,2010-04-08 07:00:00,2010-04-12 07:00:00,2010-04-12 07:00:00,4 days,4,47.730551,-122.338184,"Densmore Ave N, Seattle, WA, USA",530330003002,1500000US530330003002,"Block Group 2, Census Tract 3, King County, Wa...",307800,27440

In [65]:
#view the NaNs

In [66]:
df_both[pd.isnull(df_both.HD01_VD01 )].shape

(81, 17)

Clearly, there are going to be NaNs for economic data.

In [67]:
shp.close()