In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.cross_validation import KFold
from sklearn.cross_validation import train_test_split
from sklearn.cross_validation import cross_val_score
import cPickle as pickle

In [3]:
%matplotlib inline

In [4]:
pd.set_option('display.max_columns', 500)

####Clean_before_model

In [5]:
df = pd.read_pickle('df_1to1999_features.pkl')

In [6]:
df.head(2)

,OBJECTID,WOKEY,LOCATION,ADDRDESC,INITDT_dt,FLDSTARTDT_dt,FLDENDDT_dt,DURATION,DURATION_td,latitude,longitude,address,Seattle_dist,Space_Needle_dist,Pike_Place_dist,Convention_Center_dist,Woodland_Park_dist,Queene_Anne_dist,INIT_Quarter,days_end_FY,INIT_month,neighborhood_label,GEOID,GEO.id,GEO.display-label,Median_Value,Margin_of_Error
0,1,2456,Holden pl SW bt SW Kenyon Holden ...,HOLDEN PL SW BETWEEN SW HOLDEN ST AND SW KENYO...,2010-03-29 07:00:00,2010-04-06 07:00:00,2010-04-06 07:00:00,8 days,8,47.531858,-122.363186,"SW Kenyon St, Seattle, WA, USA",5.338641,6.158729,5.467939,5.688451,9.453253,7.300465,1,3,3,93,530330114011,1500000US530330114011,"Block Group 1, Census Tract 114.01, King Count...",307500,53269
1,2,2514,"NE Pacific Street, one block west of Montlake ...",MONTLAKE BLVD NE AND NE PACIFIC ST ...,2010-03-30 07:00:00,2010-04-01 07:00:00,2010-04-01 07:00:00,2 days,2,47.649014,-122.304655,"Montlake Blvd NE & NE Pacific St, Seattle, WA ...",3.222458,2.867154,3.231487,2.889531,2.654837,2.610214,1,3,3,42,530330053022,1500000US530330053022,"Block Group 2, Census Tract 53.02, King County...",NaN,NaN

In [7]:
df.tail(2)

,OBJECTID,WOKEY,LOCATION,ADDRDESC,INITDT_dt,FLDSTARTDT_dt,FLDENDDT_dt,DURATION,DURATION_td,latitude,longitude,address,Seattle_dist,Space_Needle_dist,Pike_Place_dist,Convention_Center_dist,Woodland_Park_dist,Queene_Anne_dist,INIT_Quarter,days_end_FY,INIT_month,neighborhood_label,GEOID,GEO.id,GEO.display-label,Median_Value,Margin_of_Error
1318,1998,273829,8100 Occidental Ave S ...,OCCIDENTAL AVE S BETWEEN S KENYON ST AND S SUL...,2014-05-12 07:00:00,2014-05-16 07:00:00,2014-05-16 07:00:00,4 days,4,47.527606,-122.315635,"S Sullivan St, Seattle, WA, USA",5.484420,6.607923,5.807149,5.836553,9.897122,7.842734,2,1,5,69,530330264001,1500000US530330264001,"Block Group 1, Census Tract 264, King County, ...",272800,10533
1319,1999,270118,710 East Roy Street ...,ROY ST BETWEEN AURORA AVE N AND DEXTER AVE N ...,2014-04-18 07:00:00,2014-04-19 07:00:00,2014-04-19 07:00:00,1 days,1,47.632366,-122.342277,"Dexter Ave N, Seattle, WA 98109, USA",1.868875,0.882158,1.564524,1.531412,2.554804,0.809788,2,2,4,47,530330067001,1500000US530330067001,"Block Group 1, Census Tract 67, King County, W...",352200,14323

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1320 entries, 0 to 1319
Data columns (total 27 columns):
OBJECTID                  1320 non-null int64
WOKEY                     1320 non-null int64
LOCATION                  1320 non-null object
ADDRDESC                  1320 non-null object
INITDT_dt                 1320 non-null datetime64[ns]
FLDSTARTDT_dt             1320 non-null datetime64[ns]
FLDENDDT_dt               1320 non-null datetime64[ns]
DURATION                  1320 non-null timedelta64[ns]
DURATION_td               1320 non-null float64
latitude                  1320 non-null float64
longitude                 1320 non-null float64
address                   1320 non-null object
Seattle_dist              1320 non-null float64
Space_Needle_dist         1320 non-null float64
Pike_Place_dist           1320 non-null float64
Convention_Center_dist    1320 non-null float64
Woodland_Park_dist        1320 non-null float64
Queene_Anne_dist          1320 non-null float64
INIT_Quarter              1320 non-null int64
days_end_FY               1320 non-null int64
INIT_month                1320 non-null int64
neighborhood_label        1270 non-null float64
GEOID                     1270 non-null object
GEO.id                    1267 non-null object
GEO.display-label         1267 non-null object
Median_Value              1195 non-null float64
Margin_of_Error           1195 non-null float64
dtypes: datetime64[ns](3), float64(12), int64(5), object(6), timedelta64[ns](1)
memory usage: 288.8+ KB

1. Strip time of day from datetime.
2. Remove NaNs.
3. Drop OBJECTID, WOKEY, GEO.id, location, address, ADDRDESC, GEOID, GEO.display-label

In [13]:
df.ix[0,'INITDT_dt']

Timestamp('2010-03-29 07:00:00')

In [18]:
df.ix[0,'INITDT_dt'].strftime('%Y-%m-%d')

'2010-03-29'

In [24]:
df.ix[0,'INITDT_dt'].strftime('%Y-%m-%d').to_datetime()

AttributeError: 'str' object has no attribute 'to_datetime'

In [23]:
df.ix[0,'INITDT_dt'].to_datetime()

datetime.datetime(2010, 3, 29, 7, 0)

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1320 entries, 0 to 1319
Data columns (total 27 columns):
OBJECTID                  1320 non-null int64
WOKEY                     1320 non-null int64
LOCATION                  1320 non-null object
ADDRDESC                  1320 non-null object
INITDT_dt                 1320 non-null datetime64[ns]
FLDSTARTDT_dt             1320 non-null datetime64[ns]
FLDENDDT_dt               1320 non-null datetime64[ns]
DURATION                  1320 non-null timedelta64[ns]
DURATION_td               1320 non-null float64
latitude                  1320 non-null float64
longitude                 1320 non-null float64
address                   1320 non-null object
Seattle_dist              1320 non-null float64
Space_Needle_dist         1320 non-null float64
Pike_Place_dist           1320 non-null float64
Convention_Center_dist    1320 non-null float64
Woodland_Park_dist        1320 non-null float64
Queene_Anne_dist          1320 non-null float64
INIT_Quarter              1320 non-null int64
days_end_FY               1320 non-null int64
INIT_month                1320 non-null int64
neighborhood_label        1270 non-null float64
GEOID                     1270 non-null object
GEO.id                    1267 non-null object
GEO.display-label         1267 non-null object
Median_Value              1195 non-null float64
Margin_of_Error           1195 non-null float64
dtypes: datetime64[ns](3), float64(12), int64(5), object(6), timedelta64[ns](1)
memory usage: 288.8+ KB

In [27]:
df[pd.isnull(df.neighborhood_label)].shape

(50, 27)

In [29]:
df[pd.isnull(df.neighborhood_label)]

,OBJECTID,WOKEY,LOCATION,ADDRDESC,INITDT_dt,FLDSTARTDT_dt,FLDENDDT_dt,DURATION,DURATION_td,latitude,longitude,address,Seattle_dist,Space_Needle_dist,Pike_Place_dist,Convention_Center_dist,Woodland_Park_dist,Queene_Anne_dist,INIT_Quarter,days_end_FY,INIT_month,neighborhood_label,GEOID,GEO.id,GEO.display-label,Median_Value,Margin_of_Error
45,73,340491,S HUDSON ST BETWEEN UTAH AVE S AND 1ST AVE S ...,S HUDSON ST BETWEEN UTAH AVE S AND 1ST AVE S ...,2015-03-19 07:00:00,2015-03-24 07:00:00,2015-03-24 07:00:00,5 days 00:00:00,5,47.504919,-122.333648,"1st Avenue South, Seattle, WA, USA",6.998045,8.018738,7.251202,7.356061,11.342359,9.227181,1,3,3,NaN,NaN,NaN,NaN,NaN,NaN
58,96,344147,Between the Rainier Beach Lightrail station ML...,S HENDERSON ST BETWEEN RENTON AVE S AND 46TH A...,2015-04-11 07:00:00,2015-04-14 07:00:00,2015-04-14 07:00:00,3 days 00:00:00,3,47.496627,-122.276053,"46th Ave S, Seattle, WA, USA",8.011059,9.217857,8.403104,8.344274,12.418083,10.455491,2,2,4,NaN,NaN,NaN,NaN,NaN,NaN
79,127,332286,"There some potholes need to be filled, and som...",S THISTLE ST BETWEEN 39TH AVE S AND 42ND AVE S...,2015-02-13 08:00:00,2015-02-18 08:00:00,2015-02-18 08:00:00,5 days 00:00:00,5,47.500460,-122.280901,"42nd Ave S, Seattle, WA, USA",7.687691,8.888444,8.074185,8.023051,12.099407,10.126693,1,4,2,NaN,NaN,NaN,NaN,NaN,NaN
89,140,328646,"S Orcas St at 47th Ave S:\n\n- 4700 block, and...",S ORCAS ST BETWEEN 47TH AVE S AND 48TH AVE S ...,2015-01-27 08:00:00,2015-01-28 08:00:00,2015-01-28 08:00:00,1 days 00:00:00,1,47.505143,-122.273783,"48th Ave S, Seattle, WA, USA",7.495465,8.716740,7.901378,7.823483,11.889464,9.951672,1,5,1,NaN,NaN,NaN,NaN,NaN,NaN
101,155,328654,"203 BOREN AVE S, SEATTLE, WA ...",BOREN AVE S BETWEEN 12TH (TURN RD) AVE S AND 1...,2015-01-27 08:00:00,2015-01-30 08:00:00,2015-01-30 08:00:00,3 days 00:00:00,3,47.480500,-122.318022,"12th Ave S, Seattle, WA, USA",8.709469,9.782192,8.998477,9.065009,13.097079,11.003383,1,5,1,NaN,NaN,NaN,NaN,NaN,NaN
108,164,322076,14419 Greenwood Ave N ...,GREENWOOD AVE N BETWEEN N 144TH ST AND N 145TH...,2014-12-25 08:00:00,2015-01-08 08:00:00,2015-01-08 08:00:00,14 days 00:00:00,14,47.734186,-122.343984,"N 145th St, Seattle, WA 98133, USA",8.858898,7.857615,8.599319,8.503013,4.557635,6.713191,4,-6,12,NaN,NaN,NaN,NaN,NaN,NaN
179,280,314849,"14410 GREENWOOD AVE N ALPHA MONTESSORI, SEATTL...",GREENWOOD AVE N BETWEEN N 144TH ST AND N 145TH...,2014-11-25 08:00:00,2014-12-03 08:00:00,2014-12-03 08:00:00,8 days 00:00:00,8,47.734186,-122.343984,"N 145th St, Seattle, WA 98133, USA",8.858898,7.857615,8.599319,8.503013,4.557635,6.713191,4,-5,11,NaN,NaN,NaN,NaN,NaN,NaN
184,285,314970,14342 WALLINGFORD AVE N ...,WALLINGFORD AVE N BETWEEN N 143RD ST AND N 145...,2014-11-26 08:00:00,2014-12-04 08:00:00,2014-12-04 08:00:00,8 days 00:00:00,8,47.734186,-122.343984,"N 145th St, Seattle, WA 98133, USA",8.858898,7.857615,8.599319,8.503013,4.557635,6.713191,4,-5,11,NaN,NaN,NaN,NaN,NaN,NaN
205,323,360163,117 S WASHINGTON ST ...,S WASHINGTON ST BETWEEN OCCIDENTAL AVE S AND 2...,2015-06-29 07:00:00,2015-06-30 07:00:00,2015-06-30 07:00:00,1 days 00:00:00,1,47.426947,-122.333367,"2nd Ave S, Seattle, WA, USA",12.384409,13.392677,12.633540,12.742334,16.717316,14.589102,2,0,6,NaN,NaN,NaN,NaN,NaN,NaN
208,327,329289,A pothole is located in the north bound outer ...,GREENWOOD AVE N BETWEEN N 144TH ST AND N 145TH...,2015-01-30 08:00:00,2015-02-03 08:00:00,2015-02-03 08:00:00,4 days 00:00:00,4,47.734186,-122.343984,"N 145th St, Seattle, WA 98133, USA",8.858898,7.857615,8.599319,8.503013,4.557635,6.713191,1,5,1,NaN,NaN,NaN,NaN,NaN,NaN
214,335,358122,4532 S Juneau ...,S JUNEAU ST BETWEEN RAINIER AVE S AND 46TH AVE...,2015-06-15 07:00:00,2015-06-16 07:00:00,2015-06-16 07:00:00,1 days 00:00:00,1,47.496627,-122.276053,"46th Ave S, Seattle, WA, USA",8.011059,9.217857,8.403104,8.344274,12.418083,10.455491,2,0,6,NaN,NaN,NaN,NaN,NaN,NaN
226,351,326284,SW ROXBURY ST BETWEEN 8TH AVE SW AND 9TH AVE S...,SW ROXBURY ST BETWEEN 8TH AVE SW AND 9TH AVE S...,2015-01-14 08:00:00,2015-01-16 08:00:00,2015-01-16 08:00:00,2 days 00:00:00,2,47.492865,-122.345675,"9th Ave SW, Seattle, WA, USA",7.856237,8.819742,8.074595,8.214376,12.142272,10.006397,1,5,1,NaN,NaN,NaN,NaN,NaN,NaN
236,368,332082,S KENYON ST BETWEEN 2ND AVE S AND OCCIDENTAL A...,S KENYON ST BETWEEN OCCIDENTAL AVE S AND 2ND A...,2015-02-13 08:00:00,2015-02-18 08:00:00,2015-02-18 08:00:00,5 days 00:00:00,5,47.426947,-122.333367,"2nd Ave S, Seattle, WA, USA",12.384409,13.392677,12.633540,12.742334,16.717316,14.589102,1,4,2,NaN,NaN,NaN,NaN,NaN,NaN
253,390,310341,10248 Holyoke Way S ...,HOLYOKE WAY S BETWEEN S THAYER ST AND 68TH AVE...,2014-11-04 08:00:00,2014-11-05 08:00:00,2014-11-05 08:00:00,1 days 00:00:00,1,47.483083,-122.248990,"68th Ave S, Seattle, WA, USA",9.351933,10.589387,9.774787,9.671144,13.714688,11.819194,4,-5,11,NaN,NaN,NaN,NaN,NaN,NaN
344,524,286319,1229 SW Spokane St ...,SW SPOKANE ST BETWEEN 11TH (C RD) AVE SW AND S...,2014-07-13 07:00:00,2014-07-15 07:00:00,2014-07-15 07:00:00,2 days 00:00:00,2,47.744732,-122.320460,"Seattle, 815 NE 160th St, Shoreline, WA 98155,...",9.585362,8.687000,9.382472,9.227073,5.486662,7.613270,3,-1,7,NaN,NaN,NaN,NaN,NaN,NaN
346,527,311639,"Elmgrove Street, west of 8th Ave S. ...",SW ELMGROVE ST BETWEEN 8TH AVE SW AND 9TH AVE ...,2014-11-11 08:00:00,2014-11-17 08:00:00,2014-11-17 08:00:00,6 days 00:00:00,6,47.492865,-122.345675,"9th Ave SW, Seattle, WA, USA",7.856237,8.819742,8.074595,8.214376,12.142272,10.006397,4,-5,11,NaN,NaN,NaN,NaN,NaN,NaN
367,555,351330,S KENYON ST BETWEEN OCCIDENTAL AVE S AND 2ND A...,S KENYON ST BETWEEN OCCIDENTAL AVE S AND 2ND A...,2015-05-11 07:00:00,2015-05-13 07:00:00,2015-05-13 07:00:00,2 days 00:00:00,2,47.426947,-122.333367,"2nd Ave S, Seattle, WA, USA",12.384409,13.392677,12.633540,12.742334,16.717316,14.589102,2,1,5,NaN,NaN,NaN,NaN,NaN,NaN
479,708,117977,10811 35TH AVE SW ...,35TH AVE SW BETWEEN SW 108TH ST AND SW 110TH S...,2012-05-16 07:00:00,2012-05-22 07:00:00,2012-05-22 07:00:00,6 days 00:00:00,6,47.504948,-122.357773,"SW 110th St, Seattle, WA 98146, USA",7.098152,7.993222,7.274742,7.454020,11.303414,9.155300,2,1,5,NaN,NaN,NaN,NaN,NaN,NaN
500,736,77916,10021 51st S ...,51ST AVE S BETWEEN S GAZELLE ST AND S RYAN WAY...,2011-08-25 07:00:00,2011-08-26 07:00:00,2011-08-26 07:00:00,1 days 00:00:00,1,47.508586,-122.273084,"S Ryan Way, Seattle, WA 98178, USA",7.286636,8.513333,7.698063,7.612391,11.674275,9.746766,3,-2,8,NaN,NaN,NaN,NaN,NaN,NaN
512,757,264709,Description:\n\nMany Pot holes on E. Marginal....,EAST MARGINAL WAY S BETWEEN 1ST AVE S AND 1ST ...,2014-03-20 07:00:00,2014-03-21 07:00:00,2014-03-21 07:00:00,1 days 00:00:00,1,47.744732,-122.320460,"Seattle, 815 NE 160th St, Shoreline, WA 98155,...",9.585362,8.687000,9.382472,9.227073,5.486662,7.613270,1,3,3,NaN,NaN,NaN,NaN,NaN,NaN
562,830,199341,4625 SW Genesee ...,S GENESEE ST BETWEEN 46TH AVE S AND 47TH AVE S...,2013-05-13 07:00:00,2013-05-16 07:00:00,2013-05-16 07:00:00,3 days 00:00:00,3,47.505248,-122.274914,"47th Ave S, Seattle, WA, USA",7.469602,8.688792,7.873445,7.798500,11.866062,9.924204,2,1,5,NaN,NaN,NaN,NaN,NaN,NaN
593,876,103493,...,SW MYRTLE ST BETWEEN 17TH AVE SW AND 18TH AVE ...,2012-02-16 08:00:00,2012-02-16 08:00:00,2012-02-17 08:00:00,1 days 00:00:00,1,47.508587,-122.357771,"18th Ave SW, Seattle, WA, USA",6.850541,7.742187,7.024689,7.206156,11.052100,8.903950,1,4,2,NaN,NaN,NaN,NaN,NaN,NaN
615,905,273295,"4797 S ROXBURY ST, SEATTLE, WA\n\nDown the dea...",S ROXBURY ST BETWEEN MARCUS AVE S AND 48TH AVE...,2014-05-07 07:00:00,2014-05-08 07:00:00,2014-05-08 07:00:00,1 days 00:00:00,1,47.505143,-122.273783,"48th Ave S, Seattle, WA, USA",7.495465,8.716740,7.901378,7.823483,11.889464,9.951672,2,1,5,NaN,NaN,NaN,NaN,NaN,NaN
630,925,47683,...,S RYAN ST BETWEEN 72ND AVE S AND FOREST AVE S ...,2011-01-09 08:00:00,2011-01-10 08:00:00,2011-01-10 08:00:00,1 days 00:00:00,1,47.506464,-122.236419,"Forest Ave S, Seattle, WA 98178, USA",8.215543,9.482734,8.680666,8.508209,12.465674,10.684754,1,5,1,NaN,NaN,NaN,NaN,NaN,NaN
652,961,262184,"88 S HUDSON ST, SEATTLE, WA M ...",S HUDSON ST BETWEEN UTAH AVE S AND 1ST AVE S ...,2014-03-11 07:00:00,2014-03-12 07:00:00,2014-03-12 07:00:00,1 days 00:00:00,1,47.504919,-122.333648,"1st Avenue South, Seattle, WA, USA",6.998045,8.018738,7.251202,7.356061,11.342359,9.227181,1,3,3,NaN,NaN,NaN,NaN,NaN,NaN
724,1069,172584,4504 SW 100TH ST ...,45TH AVE SW BETWEEN SW ROXBURY PL AND SW 100TH...,2012-10-31 07:00:00,2012-11-02 07:00:00,2012-11-02 07:00:00,2 days 00:00:00,2,47.513679,-122.362219,"SW 100th St, Seattle, WA, USA",6.546070,7.404924,6.700736,6.899678,10.706085,8.554510,4,-4,10,NaN,NaN,NaN,NaN,NaN,NaN
741,1095,119107,3118 106TH ST SW ...,31ST AVE SW BETWEEN SW 106TH ST AND SW 108TH S...,2012-05-23 07:00:00,2012-05-24 07:00:00,2012-05-24 07:00:00,1 days 00:00:00,1,47.506492,-122.349974,"SW 108th St, Seattle, WA 98146, USA",6.939714,7.876794,7.140824,7.297172,11.196464,9.056242,2,1,5,NaN,NaN,NaN,NaN,NaN,NaN
765,1131,121958,14419 Greenwood Ave N Near address ...,GREENWOOD AVE N BETWEEN N 144TH ST AND N 145TH...,2012-06-06 07:00:00,2012-06-12 07:00:00,2012-06-12 07:00:00,6 days 00:00:00,6,47.734186,-122.343984,"N 145th St, Seattle, WA 98133, USA",8.858898,7.857615,8.599319,8.503013,4.557635,6.713191,2,0,6,NaN,NaN,NaN,NaN,NaN,NaN
784,1162,102233,S Forest and 4th Ave S ...,S FOREST ST BETWEEN 3RD AVE S AND 4TH AVE S ...,2012-02-08 08:00:00,2012-02-15 08:00:00,2012-02-15 08:00:00,7 days 00:00:00,7,47.503716,-122.328023,"4th Ave S, Seattle, WA, USA",7.083302,8.129460,7.353218,7.440567,11.449699,9.345333,1,4,2,NaN,NaN,NaN,NaN,NaN,NaN
805,1198,63088,B/T 46th Ave S and 48th Ave S on S Mead ...,S MEAD ST BETWEEN RAINIER AVE S AND 46TH AVE S...,2011-04-21 07:00:00,2011-04-26 07:00:00,2011-04-26 07:00:00,5 days 00:00:00,5,47.496627,-122.276053,"46th Ave S, Seattle, WA, USA",8.011059,9.217857,8.403104,8.344274,12.418083,10.455491,2,2,4,NaN,NaN,NaN,NaN,NaN,NaN
825,1226,57018,10617 39th Ave SW ...,39TH AVE SW BETWEEN SW 106TH ST AND SW 107TH S...,2011-03-11 08:00:00,2011-03-15 07:00:00,2011-03-15 07:00:00,3 days 23:00:00,3,47.507116,-122.361498,"SW 107th St, Seattle, WA 98146, USA",6.982826,7.854391,7.145655,7.337415,11.158038,9.007111,1,3,3,NaN,NaN,NaN,NaN,NaN,NaN
827,1231,74496,39th Ave S and S Cloverdale St ...,S CLOVERDALE ST BETWEEN 39TH AVE S AND 42ND AV...,2011-07-27 07:00:00,2011-07-28 07:00:00,2011-07-28 07:00:00,1 days 00:00:00,1,47.500460,-122.280901,"42nd Ave S, Seattle, WA, USA",7.687691,8.888444,8.074185,8.023051,12.099407,10.126693,3,-1,7,NaN,NaN,NaN,NaN,NaN,NaN
849,1264,48948,East of 9622 20th Ave S W--next to curb ...,20TH AVE SW BETWEEN SW ROXBURY ST AND SW 98TH ...,2011-01-14 08:00:00,2011-01-15 08:00:00,2011-01-15 08:00:00,1 days 00:00:00,1,47.515502,-122.365883,"SW 98th St, Seattle, WA, USA",6.462959,7.295704,6.602683,6.814725,10.588156,8.434512,1,5,1,NaN,NaN,NaN,NaN,NaN,NaN
905,1339,48460,5200-5298 S. Wallace st. seattle ...,S WALLACE ST BETWEEN 56TH PL S AND 53RD AVE S ...,2011-01-13 08:00:00,2011-03-04 08:00:00,2011-03-04 08:00:00,50 days 00:00:00,50,47.481400,-122.268409,"53rd Ave S, Seattle, WA, USA",9.122211,10.327675,9.513113,9.455374,13.528719,11.565587,1,5,1,NaN,NaN,NaN,NaN,NaN,NaN
920,1359,46794,...,MAGNOLIA BR BETWEEN 15TH AVE W AND MAGNOLIA (O...,2011-01-03 08:00:00,2011-01-04 08:00:00,2011-01-04 08:00:00,1 days 00:00:00,1,47.744732,-122.320460,"Seattle, 815 NE 160th St, Shoreline, WA 98155,...",9.585362,8.687000,9.382472,9.227073,5.486662,7.613270,1,5,1,NaN,NaN,NaN,NaN,NaN,NaN
982,1459,282923,Magnolia Bridge E/B ...,MAGNOLIA EB BR BETWEEN MAGNOLIA (E LEG) BR AND...,2014-06-25 07:00:00,2014-06-26 07:00:00,2014-06-26 07:00:00,1 days 00:00:00,1,47.744732,-122.320460,"Seattle, 815 NE 160th St, Shoreline, WA 98155,...",9.585362,8.687000,9.382472,9.227073,5.486662,7.613270,2,0,6,NaN,NaN,NaN,NaN,NaN,NaN
1024,1522,94927,145th Greenwood Ave N ...,GREENWOOD AVE N BETWEEN N 144TH ST AND N 145TH...,2011-12-08 08:00:00,2011-12-13 08:00:00,2011-12-13 08:00:00,5 days 00:00:00,5,47.734186,-122.343984,"N 145th St, Seattle, WA 98133, USA",8.858898,7.857615,8.599319,8.503013,4.557635,6.713191,4,-6,12,NaN,NaN,NaN,NaN,NaN,NaN
1026,1524,280711,4525 S Cloverdale ...,S CLOVERDALE ST BETWEEN 45TH AVE S AND 46TH AV...,2014-06-14 07:00:00,2014-06-18 07:00:00,2014-06-18 07:00:00,4 days 00:00:00,4,47.496627,-122.276053,"46th Ave S, Seattle, WA, USA",8.011059,9.217857,8.403104,8.344274,12.418083,10.455491,2,0,6,NaN,NaN,NaN,NaN,NaN,NaN
1030,1528,268740,Description:\n\nThere are several large pothol...,SW TRENTON ST BETWEEN 8TH AVE SW AND 9TH AVE S...,2014-04-11 07:00:00,2014-04-16 07:00:00,2014-04-16 07:00:00,5 days 00:00:00,5,47.492865,-122.345675,"9th Ave SW, Seattle, WA, USA",7.856237,8.819742,8.074595,8.214376,12.142272,10.006397,2,2,4,NaN,NaN,NaN,NaN,NaN,NaN
1067,1586,2376,...,S DIRECTOR ST BETWEEN 14TH AVE S AND 15TH PL S...,2010-03-28 07:00:00,2010-03-28 07:00:00,2010-03-30 07:00:00,2 days 00:00:00,2,47.521644,-122.313488,"15th Pl S, Seattle, WA 98108, USA",5.906510,7.031932,6.231044,6.258152,10.320421,8.266697,1,3,3,NaN,NaN,NaN,NaN,NaN,NaN
1076,1601,77960,51st Ave S from Rainier Ave S to S Hazel St. ...,S HAZEL ST BETWEEN 51ST AVE S AND 53RD AVE S ...,2011-08-25 07:00:00,2011-08-31 07:00:00,2011-08-31 07:00:00,6 days 00:00:00,6,47.481400,-122.268409,"53rd Ave S, Seattle, WA, USA",9.122211,10.327675,9.513113,9.455374,13.528719,11.565587,3,-2,8,NaN,NaN,NaN,NaN,NaN,NaN
1087,1620,76248,24th SW & SW Roxbury ...,SW ROXBURY ST BETWEEN 24TH AVE SW AND 25TH AVE...,2011-08-12 07:00:00,2011-08-16 07:00:00,2011-08-16 07:00:00,4 days 00:00:00,4,47.510018,-122.364308,"25th Ave SW, Seattle, WA, USA",6.814240,7.665378,6.965114,7.167493,10.962849,8.810160,3,-2,8,NaN,NaN,NaN,NaN,NaN,NaN
1112,1667,117062,231 S HINDS ST ...,S HINDS ST BETWEEN 3RD AVE S AND 4TH AVE S ...,2012-05-10 07:00:00,2012-05-15 07:00:00,2012-05-15 07:00:00,5 days 00:00:00,5,47.503716,-122.328023,"4th Ave S, Seattle, WA, USA",7.083302,8.129460,7.353218,7.440567,11.449699,9.345333,2,1,5,NaN,NaN,NaN,NaN,NaN,NaN
1114,1673,110212,"10819 34TH AVE SW, ...",34TH AVE SW BETWEEN SW 108TH ST AND SW 110TH S...,2012-03-27 07:00:00,2012-03-30 07:00:00,2012-03-30 07:00:00,3 days 00:00:00,3,47.504948,-122.357773,"SW 110th St, Seattle, WA 98146, USA",7.098152,7.993222,7.274742,7.454020,11.303414,9.155300,1,3,3,NaN,NaN,NaN,NaN,NaN,NaN
1132,1705,204369,12th S & S Boren ...,BOREN AVE S BETWEEN 12TH (TURN RD) AVE S AND 1...,2013-06-07 07:00:00,2013-06-11 07:00:00,2013-06-11 07:00:00,4 days 00:00:00,4,47.480500,-122.318022,"12th Ave S, Seattle, WA, USA",8.709469,9.782192,8.998477,9.065009,13.097079,11.003383,2,0,6,NaN,NaN,NaN,NaN,NaN,NaN
1142,1718,49509,Webster Ave S and 44th Ave S ...,S WEBSTER ST BETWEEN 44TH AVE S AND 45TH AVE S...,2011-01-19 08:00:00,2011-02-01 08:00:00,2011-02-01 08:00:00,13 days 00:00:00,13,47.458872,-122.276804,"45th Ave S, Seattle, WA, USA",10.502082,11.669828,10.861060,10.844880,14.923883,12.908163,1,5,1,NaN,NaN,NaN,NaN,NaN,NaN
1147,1724,261161,"1499 SW SPOKANE ST, SEATTLE, WA ...",SW SPOKANE ST BETWEEN 11TH (C RD) AVE SW AND S...,2014-03-06 08:00:00,2014-03-12 07:00:00,2014-03-12 07:00:00,5 days 23:00:00,5,47.744732,-122.320460,"Seattle, 815 NE 160th St, Shoreline, WA 98155,...",9.585362,8.687000,9.382472,9.227073,5.486662,7.613270,1,3,3,NaN,NaN,NaN,NaN,NaN,NaN
1202,1808,234477,4722 S Brandon St ...,S BRANDON ST BETWEEN 47TH (E LEG) AVE S AND 48...,2013-11-13 08:00:00,2013-11-18 08:00:00,2013-11-18 08:00:00,5 days 00:00:00,5,47.505143,-122.273783,"48th Ave S, Seattle, WA, USA",7.495465,8.716740,7.901378,7.823483,11.889464,9.951672,4,-5,11,NaN,NaN,NaN,NaN,NaN,NaN
1203,1809,205073,10030 36TH AVE SW ...,36TH AVE SW BETWEEN DEAD END 3 AND SW 102ND ST...,2013-06-12 07:00:00,2013-06-13 07:00:00,2013-06-13 07:00:00,1 days 00:00:00,1,47.511871,-122.360073,"SW 102nd St, Seattle, WA 98146, USA",6.647637,7.522048,6.811423,7.002240,10.827684,8.677648,2,0,6,NaN,NaN,NaN,NaN,NaN,NaN
1212,1836,175490,...,S HOLGATE ST BETWEEN OCCIDENTAL AVE S AND 3RD ...,2012-11-24 08:00:00,2012-11-28 08:00:00,2012-11-28 08:00:00,4 days 00:00:00,4,47.504675,-122.329821,"3rd Ave S, Seattle, WA, USA",7.015343,8.053810,7.280106,7.372896,11.375311,9.267585,4,-5,11,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
df[pd.isnull(df.Median_Value)]

,OBJECTID,WOKEY,LOCATION,ADDRDESC,INITDT_dt,FLDSTARTDT_dt,FLDENDDT_dt,DURATION,DURATION_td,latitude,longitude,address,Seattle_dist,Space_Needle_dist,Pike_Place_dist,Convention_Center_dist,Woodland_Park_dist,Queene_Anne_dist,INIT_Quarter,days_end_FY,INIT_month,neighborhood_label,GEOID,GEO.id,GEO.display-label,Median_Value,Margin_of_Error
1,2,2514,"NE Pacific Street, one block west of Montlake ...",MONTLAKE BLVD NE AND NE PACIFIC ST ...,2010-03-30 07:00:00,2010-04-01 07:00:00,2010-04-01 07:00:00,2 days 00:00:00,2,47.649014,-122.304655,"Montlake Blvd NE & NE Pacific St, Seattle, WA ...",3.222458,2.867154,3.231487,2.889531,2.654837,2.610214,1,3,3,42,530330053022,1500000US530330053022,"Block Group 2, Census Tract 53.02, King County...",NaN,NaN
6,10,7211,Republican and Minor Ave N ...,MINOR AVE N AND REPUBLICAN ST ...,2010-04-29 07:00:00,2010-05-03 07:00:00,2010-05-03 07:00:00,4 days 00:00:00,4,47.623131,-122.333003,"Republican St & Minor Ave N, Seattle, WA 98109...",1.169861,0.781462,1.021139,0.813571,3.281758,1.527051,2,2,4,49,530330073001,1500000US530330073001,"Block Group 1, Census Tract 73, King County, W...",NaN,NaN
10,15,6242,51ST S & S Ryan ...,HILLSIDE DR E AND LAKE WASHINGTON BLVD E ...,2010-04-22 07:00:00,2010-04-22 07:00:00,2010-04-26 07:00:00,4 days 00:00:00,4,47.622480,-122.284664,"Lake Washington Blvd E & Hillside Dr E, Seattl...",2.483533,3.021072,2.828254,2.326059,4.527405,3.573024,2,2,4,54,530330078001,1500000US530330078001,"Block Group 1, Census Tract 78, King County, W...",NaN,NaN
23,38,342639,"2102 22ND AVE S, SEATTLE, WA 98144 ...",22ND AVE S BETWEEN S HILL ST AND S WALKER ST ...,2015-04-01 07:00:00,2015-04-06 07:00:00,2015-04-06 07:00:00,5 days 00:00:00,5,47.583702,-122.314112,"S Walker St, Seattle, WA, USA",1.766965,3.027356,2.225497,2.081495,6.144999,4.240382,2,2,4,79,530330094004,1500000US530330094004,"Block Group 4, Census Tract 94, King County, W...",NaN,NaN
45,73,340491,S HUDSON ST BETWEEN UTAH AVE S AND 1ST AVE S ...,S HUDSON ST BETWEEN UTAH AVE S AND 1ST AVE S ...,2015-03-19 07:00:00,2015-03-24 07:00:00,2015-03-24 07:00:00,5 days 00:00:00,5,47.504919,-122.333648,"1st Avenue South, Seattle, WA, USA",6.998045,8.018738,7.251202,7.356061,11.342359,9.227181,1,3,3,NaN,NaN,NaN,NaN,NaN,NaN
58,96,344147,Between the Rainier Beach Lightrail station ML...,S HENDERSON ST BETWEEN RENTON AVE S AND 46TH A...,2015-04-11 07:00:00,2015-04-14 07:00:00,2015-04-14 07:00:00,3 days 00:00:00,3,47.496627,-122.276053,"46th Ave S, Seattle, WA, USA",8.011059,9.217857,8.403104,8.344274,12.418083,10.455491,2,2,4,NaN,NaN,NaN,NaN,NaN,NaN
67,111,343927,Stewart and Boren ...,STEWART ST BETWEEN BOREN AVE AND MINOR AVE ...,2015-04-09 07:00:00,2015-04-13 07:00:00,2015-04-13 07:00:00,4 days 00:00:00,4,47.612826,-122.326770,"Minor Ave, Seattle, WA, USA",0.519894,1.177662,0.751792,0.249940,4.048375,2.238507,2,2,4,63,530330084002,1500000US530330084002,"Block Group 2, Census Tract 84, King County, W...",NaN,NaN
74,119,332537,6TH AVE BETWEEN PIKE ST AND PINE ST ...,6TH AVE BETWEEN PIKE ST AND PINE ST ...,2015-02-17 08:00:00,2015-02-20 08:00:00,2015-02-20 08:00:00,3 days 00:00:00,3,47.612370,-122.334827,"Pine St, Seattle, WA, USA",0.444644,0.878418,0.389780,0.161885,3.978763,2.041349,1,4,2,62,530330082001,1500000US530330082001,"Block Group 1, Census Tract 82, King County, W...",NaN,NaN
79,127,332286,"There some potholes need to be filled, and som...",S THISTLE ST BETWEEN 39TH AVE S AND 42ND AVE S...,2015-02-13 08:00:00,2015-02-18 08:00:00,2015-02-18 08:00:00,5 days 00:00:00,5,47.500460,-122.280901,"42nd Ave S, Seattle, WA, USA",7.687691,8.888444,8.074185,8.023051,12.099407,10.126693,1,4,2,NaN,NaN,NaN,NaN,NaN,NaN
89,140,328646,"S Orcas St at 47th Ave S:\n\n- 4700 block, and...",S ORCAS ST BETWEEN 47TH AVE S AND 48TH AVE S ...,2015-01-27 08:00:00,2015-01-28 08:00:00,2015-01-28 08:00:00,1 days 00:00:00,1,47.505143,-122.273783,"48th Ave S, Seattle, WA, USA",7.495465,8.716740,7.901378,7.823483,11.889464,9.951672,1,5,1,NaN,NaN,NaN,NaN,NaN,NaN
101,155,328654,"203 BOREN AVE S, SEATTLE, WA ...",BOREN AVE S BETWEEN 12TH (TURN RD) AVE S AND 1...,2015-01-27 08:00:00,2015-01-30 08:00:00,2015-01-30 08:00:00,3 days 00:00:00,3,47.480500,-122.318022,"12th Ave S, Seattle, WA, USA",8.709469,9.782192,8.998477,9.065009,13.097079,11.003383,1,5,1,NaN,NaN,NaN,NaN,NaN,NaN
108,164,322076,14419 Greenwood Ave N ...,GREENWOOD AVE N BETWEEN N 144TH ST AND N 145TH...,2014-12-25 08:00:00,2015-01-08 08:00:00,2015-01-08 08:00:00,14 days 00:00:00,14,47.734186,-122.343984,"N 145th St, Seattle, WA 98133, USA",8.858898,7.857615,8.599319,8.503013,4.557635,6.713191,4,-6,12,NaN,NaN,NaN,NaN,NaN,NaN
114,171,319529,"1116 OLIVE WAY, SEATTLE, WA 98101 ...",OLIVE WAY BETWEEN BOREN AVE AND MINOR AVE ...,2014-12-15 08:00:00,2014-12-17 08:00:00,2014-12-17 08:00:00,2 days 00:00:00,2,47.612826,-122.326770,"Minor Ave, Seattle, WA, USA",0.519894,1.177662,0.751792,0.249940,4.048375,2.238507,4,-6,12,63,530330084002,1500000US530330084002,"Block Group 2, Census Tract 84, King County, W...",NaN,NaN
123,180,320411,DENNY WAY BETWEEN AURORA NB AVE N AND DEXTER A...,DENNY WAY BETWEEN AURORA NB AVE N AND DEXTER A...,2014-12-18 08:00:00,2014-12-22 08:00:00,2014-12-22 08:00:00,4 days 00:00:00,4,47.618190,-122.342398,"Dexter Ave, Seattle, WA 98121, USA",0.958050,0.358961,0.585256,0.686639,3.517834,1.515738,4,-6,12,60,530330072002,1500000US530330072002,"Block Group 2, Census Tract 72, King County, W...",NaN,NaN
152,236,317928,Western and 1st B/T Bell and Blanchard ...,1ST AVE BETWEEN BLANCHARD ST AND BELL ST ...,2014-12-11 08:00:00,2014-12-15 08:00:00,2014-12-15 08:00:00,4 days 00:00:00,4,47.615276,-122.344060,"Bell St, Seattle, WA 98121, USA",0.840286,0.435833,0.393635,0.637657,3.706866,1.663748,4,-6,12,60,530330072002,1500000US530330072002,"Block Group 2, Census Tract 72, King County, W...",NaN,NaN
170,261,315531,infront of bus stop in the turn lane ...,MONTLAKE BLVD NE BETWEEN NE 45TH (RP) ST AND N...,2014-12-01 08:00:00,2014-12-02 08:00:00,2014-12-02 08:00:00,1 days 00:00:00,1,47.661257,-122.298669,"NE 45th St, Seattle, WA 98105, USA",4.110454,3.675534,4.099720,3.774306,2.614563,3.216126,4,-6,12,36,530330053023,1500000US530330053023,"Block Group 3, Census Tract 53.02, King County...",NaN,NaN
177,277,314968,TEXAS WAY ...,DISCOVERY PARK BLVD BETWEEN 36TH AVE W AND TEX...,2014-11-26 08:00:00,2014-12-02 08:00:00,2014-12-03 08:00:00,7 days 00:00:00,7,47.661739,-122.405550,"Texas Way, Seattle, WA 98199, USA",5.146926,3.875283,4.654882,4.898755,2.467547,2.785997,4,-5,11,50,530330057001,1500000US530330057001,"Block Group 1, Census Tract 57, King County, W...",NaN,NaN
179,280,314849,"14410 GREENWOOD AVE N ALPHA MONTESSORI, SEATTL...",GREENWOOD AVE N BETWEEN N 144TH ST AND N 145TH...,2014-11-25 08:00:00,2014-12-03 08:00:00,2014-12-03 08:00:00,8 days 00:00:00,8,47.734186,-122.343984,"N 145th St, Seattle, WA 98133, USA",8.858898,7.857615,8.599319,8.503013,4.557635,6.713191,4,-5,11,NaN,NaN,NaN,NaN,NaN,NaN
184,285,314970,14342 WALLINGFORD AVE N ...,WALLINGFORD AVE N BETWEEN N 143RD ST AND N 145...,2014-11-26 08:00:00,2014-12-04 08:00:00,2014-12-04 08:00:00,8 days 00:00:00,8,47.734186,-122.343984,"N 145th St, Seattle, WA 98133, USA",8.858898,7.857615,8.599319,8.503013,4.557635,6.713191,4,-5,11,NaN,NaN,NaN,NaN,NaN,NaN
193,299,370372,E MCGILVRA ST BETWEEN CANTERBURY LN E AND MCGI...,E MCGILVRA ST BETWEEN CANTERBURY LN E AND MCGI...,2015-07-10 07:00:00,2015-07-14 07:00:00,2015-07-14 07:00:00,4 days 00:00:00,4,47.630959,-122.281316,"McGilvra Blvd E, Seattle, WA 98112, USA",2.923037,3.255190,3.199766,2.713256,4.259283,3.603856,3,-1,7,99,530330063002,1500000US530330063002,"Block Group 2, Census Tract 63, King County, W...",NaN,NaN
196,302,360720,19TH AVE NE BETWEEN NE 45TH ST AND NE 47TH ST ...,19TH AVE NE BETWEEN NE 45TH ST AND NE 47TH ST ...,2015-07-01 07:00:00,2015-07-07 07:00:00,2015-07-07 07:00:00,6 days 00:00:00,6,47.663142,-122.300923,"NE 47th St, Seattle, WA 98105, USA",4.193559,3.711228,4.163541,3.853071,2.488529,3.196457,3,-1,7,42,530330043022,1500000US530330043022,"Block Group 2, Census Tract 43.02, King County...",NaN,NaN
202,316,357555,200 BLANCHARD ST ...,2ND AVE BETWEEN BLANCHARD ST AND BELL ST ...,2015-06-11 07:00:00,2015-06-15 07:00:00,2015-06-15 07:00:00,4 days 00:00:00,4,47.615276,-122.344060,"Bell St, Seattle, WA 98121, USA",0.840286,0.435833,0.393635,0.637657,3.706866,1.663748,2,0,6,60,530330072002,1500000US530330072002,"Block Group 2, Census Tract 72, King County, W...",NaN,NaN
205,323,360163,117 S WASHINGTON ST ...,S WASHINGTON ST BETWEEN OCCIDENTAL AVE S AND 2...,2015-06-29 07:00:00,2015-06-30 07:00:00,2015-06-30 07:00:00,1 days 00:00:00,1,47.426947,-122.333367,"2nd Ave S, Seattle, WA, USA",12.384409,13.392677,12.633540,12.742334,16.717316,14.589102,2,0,6,NaN,NaN,NaN,NaN,NaN,NaN
207,326,320507,Pothole in road driving north ...,MARY GATES MEMORIAL DR NE BETWEEN NE 41ST ST A...,2014-12-18 08:00:00,2014-12-19 08:00:00,2014-12-19 08:00:00,1 days 00:00:00,1,47.661257,-122.298669,"NE 45th St, Seattle, WA 98105, USA",4.110454,3.675534,4.099720,3.774306,2.614563,3.216126,4,-6,12,36,530330053023,1500000US530330053023,"Block Group 3, Census Tract 53.02, King County...",NaN,NaN
208,327,329289,A pothole is located in the north bound outer ...,GREENWOOD AVE N BETWEEN N 144TH ST AND N 145TH...,2015-01-30 08:00:00,2015-02-03 08:00:00,2015-02-03 08:00:00,4 days 00:00:00,4,47.734186,-122.343984,"N 145th St, Seattle, WA 98133, USA",8.858898,7.857615,8.599319,8.503013,4.557635,6.713191,1,5,1,NaN,NaN,NaN,NaN,NaN,NaN
214,335,358122,4532 S Juneau ...,S JUNEAU ST BETWEEN RAINIER AVE S AND 46TH AVE...,2015-06-15 07:00:00,2015-06-16 07:00:00,2015-06-16 07:00:00,1 days 00:00:00,1,47.496627,-122.276053,"46th Ave S, Seattle, WA, USA",8.011059,9.217857,8.403104,8.344274,12.418083,10.455491,2,0,6,NaN,NaN,NaN,NaN,NaN,NaN
218,339,332420,"4514 18TH AVE NE, SEATTLE, WA ...",18TH AVE NE BETWEEN NE 45TH ST AND NE 47TH ST ...,2015-02-14 08:00:00,2015-02-17 08:00:00,2015-02-17 08:00:00,3 days 00:00:00,3,47.663142,-122.300923,"NE 47th St, Seattle, WA 98105, USA",4.193559,3.711228,4.163541,3.853071,2.488529,3.196457,1,4,2,42,530330043022,1500000US530330043022,"Block Group 2, Census Tract 43.02, King County...",NaN,NaN
226,351,326284,SW ROXBURY ST BETWEEN 8TH AVE SW AND 9TH AVE S...,SW ROXBURY ST BETWEEN 8TH AVE SW AND 9TH AVE S...,2015-01-14 08:00:00,2015-01-16 08:00:00,2015-01-16 08:00:00,2 days 00:00:00,2,47.492865,-122.345675,"9th Ave SW, Seattle, WA, USA",7.856237,8.819742,8.074595,8.214376,12.142272,10.006397,1,5,1,NaN,NaN,NaN,NaN,NaN,NaN
232,361,329292,"westbound lane of E Boston, just east of 14th ...",E BOSTON ST BETWEEN 14TH AVE E AND 15TH AVE E ...,2015-01-30 08:00:00,2015-02-02 08:00:00,2015-02-02 08:00:00,3 days 00:00:00,3,47.630648,-122.312517,"15th Ave E, Seattle, WA, USA",1.919568,1.854321,2.002937,1.603561,3.246382,2.170480,1,5,1,101,530330064002,1500000US530330064002,"Block Group 2, Census Tract 64, King County, W...",NaN,NaN
234,363,327404,\nPothole left side n bound lane. In front of ...,10TH AVE E BETWEEN E ROY (W LEG) ST AND E ALOH...,2015-01-21 08:00:00,2015-01-22 08:00:00,2015-01-22 08:00:00,1 days 00:00:00,1,47.626864,-122.309303,"E Aloha St, Seattle, WA, USA",1.779672,1.918002,1.939862,1.495148,3.546108,2.384233,1,5,1,101,530330064002,1500000US530330064002,"Block Group 2, Census Tract 64, King County, W...",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1026,1524,280711,4525 S Cloverdale ...,S CLOVERDALE ST BETWEEN 45TH AVE S AND 46TH AV...,2014-06-14 07:00:00,2014-06-18 07:00:00,2014-06-18 07:00:00,4 days 00:00:00,4,47.496627,-122.276053,"46th Ave S, Seattle, WA, USA",8.011059,9.217857,8.403104,8.344274,12.418083,10.455491,2,0,6,NaN,NaN,NaN,NaN,NaN,NaN
1030,1528,268740,Description:\n\nThere are several large pothol...,SW TRENTON ST BETWEEN 8TH AVE SW AND 9TH AVE S...,2014-04-11 07:00:00,2014-04-16 07:00:00,2014-04-16 07:00:00,5 days 00:00:00,5,47.492865,-122.345675,"9th Ave SW, Seattle, WA, USA",7.856237,8.819742,8.074595,8.214376,12.142272,10.006397,2,2,4,NaN,NaN,NaN,NaN,NaN,NaN
1035,1539,297477,"\n1921 UTAH AVE S, SEATTLE, WA ...",UTAH AVE S BETWEEN S HOLGATE ST AND S WALKER S...,2014-09-15 07:00:00,2014-09-18 07:00:00,2014-09-18 07:00:00,3 days 00:00:00,3,47.583702,-122.314112,"S Walker St, Seattle, WA, USA",1.766965,3.027356,2.225497,2.081495,6.144999,4.240382,3,-3,9,79,530330094004,1500000US530330094004,"Block Group 4, Census Tract 94, King County, W...",NaN,NaN
1037,1541,52623,7th Ave NE from NE 42nd Street to NE 45th Stre...,7TH AVE NE AND NE 42ND ST ...,2011-02-08 08:00:00,2011-02-14 08:00:00,2011-02-14 08:00:00,6 days 00:00:00,6,47.657518,-122.320837,"7th Ave NE & NE 42nd St, Seattle, WA 98105, USA",3.583346,2.881304,3.449517,3.226880,1.710051,2.215969,1,4,2,42,530330052001,1500000US530330052001,"Block Group 1, Census Tract 52, King County, W...",NaN,NaN
1064,1583,45410,...,VALLEY ST BETWEEN FAIRVIEW AVE N AND MINOR AVE...,2010-12-23 08:00:00,2010-12-23 08:00:00,2011-01-04 08:00:00,12 days 00:00:00,12,47.623131,-122.333003,"Minor Ave N, Seattle, WA 98109, USA",1.169861,0.781462,1.021139,0.813571,3.281758,1.527051,4,-6,12,49,530330073001,1500000US530330073001,"Block Group 1, Census Tract 73, King County, W...",NaN,NaN
1067,1586,2376,...,S DIRECTOR ST BETWEEN 14TH AVE S AND 15TH PL S...,2010-03-28 07:00:00,2010-03-28 07:00:00,2010-03-30 07:00:00,2 days 00:00:00,2,47.521644,-122.313488,"15th Pl S, Seattle, WA 98108, USA",5.906510,7.031932,6.231044,6.258152,10.320421,8.266697,1,3,3,NaN,NaN,NaN,NaN,NaN,NaN
1076,1601,77960,51st Ave S from Rainier Ave S to S Hazel St. ...,S HAZEL ST BETWEEN 51ST AVE S AND 53RD AVE S ...,2011-08-25 07:00:00,2011-08-31 07:00:00,2011-08-31 07:00:00,6 days 00:00:00,6,47.481400,-122.268409,"53rd Ave S, Seattle, WA, USA",9.122211,10.327675,9.513113,9.455374,13.528719,11.565587,3,-2,8,NaN,NaN,NaN,NaN,NaN,NaN
1087,1620,76248,24th SW & SW Roxbury ...,SW ROXBURY ST BETWEEN 24TH AVE SW AND 25TH AVE...,2011-08-12 07:00:00,2011-08-16 07:00:00,2011-08-16 07:00:00,4 days 00:00:00,4,47.510018,-122.364308,"25th Ave SW, Seattle, WA, USA",6.814240,7.665378,6.965114,7.167493,10.962849,8.810160,3,-2,8,NaN,NaN,NaN,NaN,NaN,NaN
1112,1667,117062,231 S HINDS ST ...,S HINDS ST BETWEEN 3RD AVE S AND 4TH AVE S ...,2012-05-10 07:00:00,2012-05-15 07:00:00,2012-05-15 07:00:00,5 days 00:00:00,5,47.503716,-122.328023,"4th Ave S, Seattle, WA, USA",7.083302,8.129460,7.353218,7.440567,11.449699,9.345333,2,1,5,NaN,NaN,NaN,NaN,NaN,NaN
1113,1670,27498,...,N 34TH ST BETWEEN FREMONT AVE N AND TROLL AVE ...,2010-07-14 07:00:00,2010-07-16 07:00:00,2010-07-16 07:00:00,2 days 00:00:00,2,47.649682,-122.347366,"Troll Ave N, Seattle, WA 98103, USA",3.087144,2.017629,2.771386,2.745082,1.335319,0.976301,3,-1,7,33,530330049002,1500000US530330049002,"Block Group 2, Census Tract 49, King County, W...",NaN,NaN
1114,1673,110212,"10819 34TH AVE SW, ...",34TH AVE SW BETWEEN SW 108TH ST AND SW 110TH S...,2012-03-27 07:00:00,2012-03-30 07:00:00,2012-03-30 07:00:00,3 days 00:00:00,3,47.504948,-122.357773,"SW 110th St, Seattle, WA 98146, USA",7.098152,7.993222,7.274742,7.454020,11.303414,9.155300,1,3,3,NaN,NaN,NaN,NaN,NaN,NaN
1122,1690,101433,NE Ravenna between Brooklyn and 11th Ave NE ...,NE RAVENNA EB BLVD BETWEEN BROOKLYN AVE NE AND...,2012-02-01 08:00:00,2012-02-02 08:00:00,2012-02-02 08:00:00,1 days 00:00:00,1,47.661282,-122.313145,"University Way NE, Seattle, WA 98105, USA",3.906033,3.283562,3.811718,3.553905,1.955455,2.658794,1,4,2,42,530330053012,1500000US530330053012,"Block Group 2, Census Tract 53.01, King County...",NaN,NaN
1123,1691,59725,Montlake Blvd NE to NE Pacific Street. ...,MONTLAKE BLVD NE AND NE PACIFIC ST ...,2011-03-25 07:00:00,2011-03-26 07:00:00,2011-03-29 07:00:00,4 days 00:00:00,4,47.649014,-122.304655,"Montlake Blvd NE & NE Pacific St, Seattle, WA ...",3.222458,2.867154,3.231487,2.889531,2.654837,2.610214,1,3,3,42,530330053022,1500000US530330053022,"Block Group 2, Census Tract 53.02, King County...",NaN,NaN
1132,1705,204369,12th S & S Boren ...,BOREN AVE S BETWEEN 12TH (TURN RD) AVE S AND 1...,2013-06-07 07:00:00,2013-06-11 07:00:00,2013-06-11 07:00:00,4 days 00:00:00,4,47.480500,-122.318022,"12th Ave S, Seattle, WA, USA",8.709469,9.782192,8.998477,9.065009,13.097079,11.003383,2,0,6,NaN,NaN,NaN,NaN,NaN,NaN
1142,1718,49509,Webster Ave S and 44th Ave S ...,S WEBSTER ST BETWEEN 44TH AVE S AND 45TH AVE S...,2011-01-19 08:00:00,2011-02-01 08:00:00,2011-02-01 08:00:00,13 days 00:00:00,13,47.458872,-122.276804,"45th Ave S, Seattle, WA, USA",10.502082,11.669828,10.861060,10.844880,14.923883,12.908163,1,5,1,NaN,NaN,NaN,NaN,NaN,NaN
1147,1724,261161,"1499 SW SPOKANE ST, SEATTLE, WA ...",SW SPOKANE ST BETWEEN 11TH (C RD) AVE SW AND S...,2014-03-06 08:00:00,2014-03-12 07:00:00,2014-03-12 07:00:00,5 days 23:00:00,5,47.744732,-122.320460,"Seattle, 815 NE 160th St, Shoreline, WA 98155,...",9.585362,8.687000,9.382472,9.227073,5.486662,7.613270,1,3,3,NaN,NaN,NaN,NaN,NaN,NaN
1168,1758,268688,potholes in both crosswalks crossing Thomas St...,THOMAS ST BETWEEN MINOR AVE N AND PONTIUS AVE ...,2014-04-11 07:00:00,2014-04-16 07:00:00,2014-04-16 07:00:00,5 days 00:00:00,5,47.621689,-122.331715,"Pontius Ave N, Seattle, WA 98109, USA",1.069515,0.824362,0.960866,0.711558,3.394808,1.637910,2,2,4,49,530330073001,1500000US530330073001,"Block Group 1, Census Tract 73, King County, W...",NaN,NaN
1188,1787,57526,Boren Ave B/T Terrace anf Jefferson ...,BOREN AVE BETWEEN TERRACE ST AND JEFFERSON ST ...,2011-03-15 07:00:00,2011-03-18 07:00:00,2011-03-18 07:00:00,3 days 00:00:00,3,47.604302,-122.325326,"Jefferson St, Seattle, WA 98104, USA",0.341579,1.582801,0.872422,0.572590,4.630743,2.750282,1,3,3,64,530330085003,1500000US530330085003,"Block Group 3, Census Tract 85, King County, W...",NaN,NaN
1192,1792,270449,1051 LK WASH BLVD ...,LAKE WASHINGTON BLVD BETWEEN E SPRING ST AND M...,2014-04-21 07:00:00,2014-04-23 07:00:00,2014-04-23 07:00:00,2 days 00:00:00,2,47.615226,-122.283890,"Madrona Dr, Seattle, WA 98122, USA",2.335498,3.076036,2.750124,2.248208,4.916604,3.782263,2,2,4,53,530330078001,1500000US530330078001,"Block Group 1, Census Tract 78, King County, W...",NaN,NaN
1202,1808,234477,4722 S Brandon St ...,S BRANDON ST BETWEEN 47TH (E LEG) AVE S AND 48...,2013-11-13 08:00:00,2013-11-18 08:00:00,2013-11-18 08:00:00,5 days 00:00:00,5,47.505143,-122.273783,"48th Ave S, Seattle, WA, USA",7.495465,8.716740,7.901378,7.823483,11.889464,9.951672,4,-5,11,NaN,NaN,NaN,NaN,NaN,NaN
1203,1809,205073,10030 36TH AVE SW ...,36TH AVE SW BETWEEN DEAD END 3 AND SW 102ND ST...,2013-06-12 07:00:00,2013-06-13 07:00:00,2013-06-13 07:00:00,1 days 00:00:00,1,47.511871,-122.360073,"SW 102nd St, Seattle, WA 98146, USA",6.647637,7.522048,6.811423,7.002240,10.827684,8.677648,2,0,6,NaN,NaN,NaN,NaN,NaN,NaN
1205,1813,226503,535 36th E ...,36TH AVE E BETWEEN LAKE WASHINGTON BLVD E AND ...,2013-10-06 07:00:00,2013-10-06 07:00:00,2013-10-09 07:00:00,3 days 00:00:00,3,47.624385,-122.287915,"E Ford Pl, Seattle, WA 98112, USA",2.414836,2.878582,2.730384,2.232810,4.326874,3.390478,4,-4,10,54,530330063004,1500000US530330063004,"Block Group 4, Census Tract 63, King County, W...",NaN,NaN
1212,1836,175490,...,S HOLGATE ST BETWEEN OCCIDENTAL AVE S AND 3RD ...,2012-11-24 08:00:00,2012-11-28 08:00:00,2012-11-28 08:00:00,4 days 00:00:00,4,47.504675,-122.329821,"3rd Ave S, Seattle, WA, USA",7.015343,8.053810,7.280106,7.372896,11.375311,9.267585,4,-5,11,NaN,NaN,NaN,NaN,NaN,NaN
1213,1837,6101,Hillside DR E b/t 39th E & Lake Wash BLVD E ...,HILLSIDE DR E AND LAKE WASHINGTON BLVD E ...,2010-04-22 07:00:00,2010-04-29 07:00:00,2010-04-29 07:00:00,7 days 00:00:00,7,47.622480,-122.284664,"Lake Washington Blvd E & Hillside Dr E, Seattl...",2.483533,3.021072,2.828254,2.326059,4.527405,3.573024,2,2,4,54,530330078001,1500000US530330078001,"Block Group 1, Census Tract 78, King County, W...",NaN,NaN

In [30]:
df.apply(lambda x: np.sum(pd.isnull(x)/float(1320)))

OBJECTID                  0.000000
WOKEY                     0.000000
LOCATION                  0.000000
ADDRDESC                  0.000000
INITDT_dt                 0.000000
FLDSTARTDT_dt             0.000000
FLDENDDT_dt               0.000000
DURATION                  0.000000
DURATION_td               0.000000
latitude                  0.000000
longitude                 0.000000
address                   0.000000
Seattle_dist              0.000000
Space_Needle_dist         0.000000
Pike_Place_dist           0.000000
Convention_Center_dist    0.000000
Woodland_Park_dist        0.000000
Queene_Anne_dist          0.000000
INIT_Quarter              0.000000
days_end_FY               0.000000
INIT_month                0.000000
neighborhood_label        0.037879
GEOID                     0.037879
GEO.id                    0.040152
GEO.display-label         0.040152
Median_Value              0.094697
Margin_of_Error           0.094697
dtype: float64

I'm getting a lot of NaNs, unfortunately.  Not much I can do about it.  At least check if there's anything special about those.

In [31]:
df['b_no_Median_Value'] = pd.isnull(df.Median_Value)
df['b_no_neighborhood_label'] = pd.isnull(df.neighborhood_label)

In [32]:
df.groupby('b_no_Median_Value').describe().T

b_no_Median_Value       False                                                  \
                        count                    mean                     std
Convention_Center_dist   1195                4.183748                2.322072
DURATION                 1195  5 days 02:02:24.602510  7 days 17:51:21.741990
DURATION_td              1195                 5.07113                7.741584
INIT_Quarter             1195                2.148117                1.145519
INIT_month               1195                5.453556                3.618787
Margin_of_Error          1195                72200.27                69581.76
Median_Value             1195                422552.1                151182.7
OBJECTID                 1195                990.7724                569.1657
Pike_Place_dist          1195                4.277746                2.263327
Queene_Anne_dist         1195                4.263067                2.048653
Seattle_dist             1195                4.281244                2.389904
Space_Needle_dist        1195                4.206452                2.094269
WOKEY                    1195                204479.5                115447.4
Woodland_Park_dist       1195                 4.61304                2.627334
b_no_neighborhood_label  1195                       0                       0
days_end_FY              1195               0.5464435                3.618787
latitude                 1195                47.63198              0.06212967
longitude                1195               -122.3329              0.03355882
neighborhood_label       1195                79.48033                27.40536

b_no_Median_Value                                                           \
                                     min              25%              50%
Convention_Center_dist        0.07096169         1.934475         4.291005
DURATION                 0 days 23:00:00  1 days 00:00:00  3 days 00:00:00
DURATION_td                            0                1                3
INIT_Quarter                           1                1                2
INIT_month                             1                3                4
Margin_of_Error                     7920            34980            50905
Median_Value                      162800           318900           379800
OBJECTID                               1              507              980
Pike_Place_dist                0.1344163         2.305565         4.222965
Queene_Anne_dist               0.1769855         2.633943         4.123668
Seattle_dist                   0.1331334         2.137361         4.297578
Space_Needle_dist              0.1713758         2.343887            4.297
WOKEY                               1591            81921           226499
Woodland_Park_dist             0.4342049         2.699879          3.86328
b_no_neighborhood_label            False                0                0
days_end_FY                           -6               -2                2
latitude                        47.49927         47.57776         47.63059
longitude                      -122.4134        -122.3614        -122.3294
neighborhood_label                    27               57               81

b_no_Median_Value                                          True   \
                                     75%               max count
Convention_Center_dist          6.080232          8.586268   125
DURATION                 5 days 00:00:00  74 days 00:00:00   125
DURATION_td                            5                74   125
INIT_Quarter                           3                 4   125
INIT_month                             8                12   125
Margin_of_Error                    81419            649096     0
Median_Value                      482900            961800     0
OBJECTID                          1467.5              1999   125
Pike_Place_dist                  6.12059          8.746878   125
Queene_Anne_dist                5.684985          10.46154   125
Seattle_dist                    6.296223          8.937087   125
Space_Needle_dist                5.96364          9.228337   125
WOKEY                             315779            379514   125
Woodland_Park_dist              6.608657          12.38429   125
b_no_neighborhood_label                0             False   125
days_end_FY                            3                 5   125
latitude                        47.69205          47.73412   125
longitude                      -122.3047          -122.249   125
neighborhood_label                   102               119    75

b_no_Median_Value                                                        \
                                           mean                     std
Convention_Center_dist                 4.705457                3.335206
DURATION                 4 days 09:23:02.400000  5 days 11:39:37.706033
DURATION_td                               4.368                5.486841
INIT_Quarter                              2.192                1.119447
INIT_month                                5.536                3.493182
Margin_of_Error                             NaN                     NaN
Median_Value                                NaN                     NaN
OBJECTID                                938.944                581.8518
Pike_Place_dist                        4.872045                3.213101
Queene_Anne_dist                       5.409915                3.677936
Seattle_dist                           4.768319                 3.17697
Space_Needle_dist                      4.992964                 3.41586
WOKEY                                  201751.2                116665.1
Woodland_Park_dist                     6.286251                4.290477
b_no_neighborhood_label                     0.4               0.4918694
days_end_FY                               0.464                3.493182
latitude                                47.5996              0.07999255
longitude                             -122.3157              0.02765077
neighborhood_label                        59.96                22.73255

b_no_Median_Value                                                           \
                                     min              25%              50%
Convention_Center_dist         0.1404493         2.081495         3.774306
DURATION                 1 days 00:00:00  1 days 00:00:00  3 days 00:00:00
DURATION_td                            1                1                3
INIT_Quarter                           1                1                2
INIT_month                             1                3                5
Margin_of_Error                      NaN              NaN              NaN
Median_Value                         NaN              NaN              NaN
OBJECTID                               2              370              903
Pike_Place_dist                 0.378528         2.225497          4.09972
Queene_Anne_dist               0.9763013         2.384233         3.390478
Seattle_dist                   0.2195585         1.919568         4.110454
Space_Needle_dist              0.3589607         2.017629         3.675534
WOKEY                               2376            77960           223433
Woodland_Park_dist             0.7662334         3.178725         4.527405
b_no_neighborhood_label            False                0                0
days_end_FY                           -6               -2                1
latitude                        47.42695         47.50712         47.62248
longitude                      -122.4056        -122.3334        -122.3141
neighborhood_label                    33               42               53

b_no_Median_Value
                                     75%               max
Convention_Center_dist          7.823483          12.74233
DURATION                 5 days 00:00:00  50 days 00:00:00
DURATION_td                            5                50
INIT_Quarter                           3                 4
INIT_month                             8                12
Margin_of_Error                      NaN               NaN
Median_Value                         NaN               NaN
OBJECTID                            1498              1993
Pike_Place_dist                 7.901378          12.63354
Queene_Anne_dist                9.056242           14.5891
Seattle_dist                    7.495465          12.38441
Space_Needle_dist                8.05381          13.39268
WOKEY                             314970            370372
Woodland_Park_dist              11.19646          16.71732
b_no_neighborhood_label                1              True
days_end_FY                            3                 5
latitude                        47.65533          47.74473
longitude                      -122.3009         -122.2364
neighborhood_label                    65               101

In [33]:
df.groupby('b_no_neighborhood_label').describe().T

b_no_neighborhood_label False                                                  \
                        count                    mean                     std
Convention_Center_dist   1270                4.067331                2.319918
DURATION                 1270  5 days 00:49:22.204724  7 days 13:51:57.561749
DURATION_td              1270                5.020472                7.575492
INIT_Quarter             1270                2.155906                1.144119
INIT_month               1270                5.471654                3.612045
Margin_of_Error          1195                72200.27                69581.76
Median_Value             1195                422552.1                151182.7
OBJECTID                 1270                986.4323                570.4433
Pike_Place_dist          1270                4.172632                2.256617
Queene_Anne_dist         1270                 4.16684                2.033101
Seattle_dist             1270                 4.17276                2.380292
Space_Needle_dist        1270                4.099937                2.091399
WOKEY                    1270                204202.9                115602.9
Woodland_Park_dist       1270                4.537947                2.580753
b_no_Median_Value        1270              0.05905512               0.2358207
days_end_FY              1270               0.5283465                3.612045
latitude                 1270                 47.6321              0.06051499
longitude                1270               -122.3318              0.03323926
neighborhood_label       1270                78.32756                27.53162

b_no_neighborhood_label                                                     \
                                     min              25%              50%
Convention_Center_dist        0.07096169         1.902415         4.057406
DURATION                 0 days 23:00:00  1 days 00:00:00  3 days 00:00:00
DURATION_td                            0                1                3
INIT_Quarter                           1                1                2
INIT_month                             1                3                4
Margin_of_Error                     7920            34980            50905
Median_Value                      162800           318900           379800
OBJECTID                               1            497.5              972
Pike_Place_dist                0.1344163         2.223049         4.085213
Queene_Anne_dist               0.1769855         2.589964         3.927013
Seattle_dist                   0.1331334         2.098615         4.110454
Space_Needle_dist              0.1713758         2.305509         4.088108
WOKEY                               1591         80857.25           226287
Woodland_Park_dist             0.4342049         2.675035         3.795869
b_no_Median_Value                  False                0                0
days_end_FY                           -6               -2                2
latitude                        47.49927         47.58317         47.63055
longitude                      -122.4134        -122.3583        -122.3279
neighborhood_label                    27               55               80

b_no_neighborhood_label                                    True   \
                                     75%               max count
Convention_Center_dist          6.001171          8.586268    50
DURATION                 5 days 00:00:00  74 days 00:00:00    50
DURATION_td                            5                74    50
INIT_Quarter                           3                 4    50
INIT_month                             8                12    50
Margin_of_Error                    81419            649096     0
Median_Value                      482900            961800     0
OBJECTID                          1466.5              1999    50
Pike_Place_dist                 5.978558          8.746878    50
Queene_Anne_dist                5.581019          10.46154    50
Seattle_dist                    6.180574          8.937087    50
Space_Needle_dist               5.870899          9.228337    50
WOKEY                             315714            379514    50
Woodland_Park_dist              6.144999          12.38429    50
b_no_Median_Value                      0              True    50
days_end_FY                            3                 5    50
latitude                        47.68874          47.73412    50
longitude                      -122.3044          -122.249    50
neighborhood_label                   101               119     0

b_no_neighborhood_label                                           \
                                    mean                     std
Convention_Center_dist          8.445007                1.403398
DURATION                 4 days 15:19:12  7 days 03:53:22.385864
DURATION_td                          4.6                7.162829
INIT_Quarter                        2.06                1.114103
INIT_month                           5.2                3.469988
Margin_of_Error                      NaN                     NaN
Median_Value                         NaN                     NaN
OBJECTID                          971.44                573.7394
Pike_Place_dist                 8.433388                1.436521
Queene_Anne_dist                9.574348                1.944715
Seattle_dist                    8.254443                1.476036
Space_Needle_dist               8.878206                1.462427
WOKEY                           204684.2                114586.9
Woodland_Park_dist              10.70343                3.383351
b_no_Median_Value                      1                       0
days_end_FY                          0.8                3.469988
latitude                        47.54808               0.1044194
longitude                      -122.3176               0.0353739
neighborhood_label                   NaN                     NaN

b_no_neighborhood_label                                                     \
                                     min              25%              50%
Convention_Center_dist          6.258152          7.44393         8.279325
DURATION                 1 days 00:00:00  1 days 00:00:00  3 days 11:30:00
DURATION_td                            1                1                3
INIT_Quarter                           1                1                2
INIT_month                             1             2.25                5
Margin_of_Error                      NaN              NaN              NaN
Median_Value                         NaN              NaN              NaN
OBJECTID                              73            373.5             1015
Pike_Place_dist                 6.231044         7.298384          8.23885
Queene_Anne_dist                6.713191         8.464512         9.345333
Seattle_dist                     5.90651         7.087014         7.933648
Space_Needle_dist               7.031932          7.86241            8.687
WOKEY                               2376          96753.5           219775
Woodland_Park_dist              4.557635         10.61764          11.4497
b_no_Median_Value                   True                1                1
days_end_FY                           -6               -1                1
latitude                        47.42695         47.49663         47.50505
longitude                      -122.3659         -122.344         -122.328
neighborhood_label                   NaN              NaN              NaN

b_no_neighborhood_label
                                     75%               max
Convention_Center_dist          9.065009          12.74233
DURATION                 5 days 00:00:00  50 days 00:00:00
DURATION_td                            5                50
INIT_Quarter                           3                 4
INIT_month                             7                12
Margin_of_Error                      NaN               NaN
Median_Value                         NaN               NaN
OBJECTID                          1523.5              1836
Pike_Place_dist                 8.998477          12.63354
Queene_Anne_dist                10.45549           14.5891
Seattle_dist                    8.858898          12.38441
Space_Needle_dist               9.217857          13.39268
WOKEY                           314939.8            360163
Woodland_Park_dist              12.41808          16.71732
b_no_Median_Value                      1              True
days_end_FY                         3.75                 5
latitude                        47.51505          47.74473
longitude                      -122.2762         -122.2364
neighborhood_label                   NaN               NaN

In [34]:
from scipy import stats
def ttest_by(vals, by):
    '''Compute a t-test on a column based on an indicator for which sample the values are in.'''
    vals1 = vals[by]
    vals2 = vals[-by]
    
    return stats.ttest_ind(vals1, vals2, equal_var='False')

In [35]:
ttest_by(df.DURATION_td, pd.isnull(df.neighborhood_label))

(-0.38573039720753949, 0.6997585971572523)

In [36]:
ttest_by(df.DURATION_td, pd.isnull(df.Median_Value))

(-0.98962499138830928, 0.32253909063218278)

At least there doesn't seem to be a significant difference between NaNs and non-NaNs.

In [38]:
df[df.b_no_Median_Value != True].shape

(1195, 29)

In [39]:
df_clean = df[df.b_no_Median_Value != True]

In [40]:
df_clean[pd.isnull(df.neighborhood_label)]

C:\Users\andersrmr\Anaconda\lib\site-packages\pandas\core\frame.py:1825: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  "DataFrame index.", UserWarning)

Empty DataFrame
Columns: [OBJECTID, WOKEY, LOCATION, ADDRDESC, INITDT_dt, FLDSTARTDT_dt, FLDENDDT_dt, DURATION, DURATION_td, latitude, longitude, address, Seattle_dist, Space_Needle_dist, Pike_Place_dist, Convention_Center_dist, Woodland_Park_dist, Queene_Anne_dist, INIT_Quarter, days_end_FY, INIT_month, neighborhood_label, GEOID, GEO.id, GEO.display-label, Median_Value, Margin_of_Error, b_no_Median_Value, b_no_neighborhood_label]
Index: []

Interesting that Median Value = NaN is a superset of neighborhood_label = NaN.

In [41]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1195 entries, 0 to 1319
Data columns (total 29 columns):
OBJECTID                   1195 non-null int64
WOKEY                      1195 non-null int64
LOCATION                   1195 non-null object
ADDRDESC                   1195 non-null object
INITDT_dt                  1195 non-null datetime64[ns]
FLDSTARTDT_dt              1195 non-null datetime64[ns]
FLDENDDT_dt                1195 non-null datetime64[ns]
DURATION                   1195 non-null timedelta64[ns]
DURATION_td                1195 non-null float64
latitude                   1195 non-null float64
longitude                  1195 non-null float64
address                    1195 non-null object
Seattle_dist               1195 non-null float64
Space_Needle_dist          1195 non-null float64
Pike_Place_dist            1195 non-null float64
Convention_Center_dist     1195 non-null float64
Woodland_Park_dist         1195 non-null float64
Queene_Anne_dist           1195 non-null float64
INIT_Quarter               1195 non-null int64
days_end_FY                1195 non-null int64
INIT_month                 1195 non-null int64
neighborhood_label         1195 non-null float64
GEOID                      1195 non-null object
GEO.id                     1195 non-null object
GEO.display-label          1195 non-null object
Median_Value               1195 non-null float64
Margin_of_Error            1195 non-null float64
b_no_Median_Value          1195 non-null bool
b_no_neighborhood_label    1195 non-null bool
dtypes: bool(2), datetime64[ns](3), float64(12), int64(5), object(6), timedelta64[ns](1)
memory usage: 263.7+ KB

In [49]:
df[np.isfinite(df['Median_Value'])]

,OBJECTID,WOKEY,LOCATION,ADDRDESC,INITDT_dt,FLDSTARTDT_dt,FLDENDDT_dt,DURATION,DURATION_td,latitude,longitude,address,Seattle_dist,Space_Needle_dist,Pike_Place_dist,Convention_Center_dist,Woodland_Park_dist,Queene_Anne_dist,INIT_Quarter,days_end_FY,INIT_month,neighborhood_label,GEOID,GEO.id,GEO.display-label,Median_Value,Margin_of_Error,b_no_Median_Value,b_no_neighborhood_label
0,1,2456,Holden pl SW bt SW Kenyon Holden ...,HOLDEN PL SW BETWEEN SW HOLDEN ST AND SW KENYO...,2010-03-29 07:00:00,2010-04-06 07:00:00,2010-04-06 07:00:00,8 days,8,47.531858,-122.363186,"SW Kenyon St, Seattle, WA, USA",5.338641,6.158729,5.467939,5.688451,9.453253,7.300465,1,3,3,93,530330114011,1500000US530330114011,"Block Group 1, Census Tract 114.01, King Count...",307500,53269,False,False
2,3,2649,32nd Ave NE and NE 135th ...,NE 135TH ST BETWEEN 32ND AVE NE AND LAKE CITY ...,2010-03-31 07:00:00,2010-04-01 07:00:00,2010-04-01 07:00:00,1 days,1,47.707446,-122.301566,"Lake City Way NE, Seattle, WA, USA",7.137526,6.405817,7.012778,6.783446,3.623119,5.502601,1,3,3,104,530330011001,1500000US530330011001,"Block Group 1, Census Tract 11, King County, W...",416900,62441,False,False
3,4,1591,Charles st & 6 Ave S pothole next to traffic l...,S CHARLES ST BETWEEN 6TH AVE S AND MAYNARD AVE...,2010-03-15 07:00:00,2010-03-16 07:00:00,2010-03-16 07:00:00,1 days,1,47.597085,-122.325065,"Maynard Ave S, Seattle, WA, USA",0.710334,1.974308,1.184267,1.035443,5.113765,3.183602,1,3,3,61,530330091002,1500000US530330091002,"Block Group 2, Census Tract 91, King County, W...",328900,145688,False,False
4,6,5642,52nd St. & 18th Ave. NE ...,18TH AVE NE BETWEEN NE 52ND ST AND NE 55TH ST ...,2010-04-19 07:00:00,2010-04-22 07:00:00,2010-04-22 07:00:00,3 days,3,47.668522,-122.295630,"NE 55th St, Seattle, WA 98105, USA",4.628992,4.156594,4.607589,4.291005,2.707355,3.612252,2,2,4,36,530330042005,1500000US530330042005,"Block Group 5, Census Tract 42, King County, W...",637000,56463,False,False
5,7,7585,...,3RD AVE NW BETWEEN NW 125TH ST AND NW 127TH ST...,2010-05-03 07:00:00,2010-05-04 07:00:00,2010-05-04 07:00:00,1 days,1,47.721476,-122.364984,"NW 127th St, Seattle, WA 98177, USA",8.110129,7.014027,7.793727,7.762688,3.695250,5.813108,2,1,5,110,530330005002,1500000US530330005002,"Block Group 2, Census Tract 5, King County, Wa...",565200,53534,False,False
7,11,3168,...,17TH AVE W BETWEEN W DRAVUS ST AND W BERTONA S...,2010-04-02 07:00:00,2010-04-06 07:00:00,2010-04-06 07:00:00,4 days,4,47.650311,-122.388604,"W Bertona St, Seattle, WA, USA",4.031574,2.758997,3.544222,3.781162,2.061169,1.686262,2,2,4,50,530330058012,1500000US530330058012,"Block Group 2, Census Tract 58.01, King County...",255200,50905,False,False
8,13,6967,B/T Pike and Pine B/t 211 and 215 ...,PIKE ST BETWEEN 2ND AVE AND 3RD AVE ...,2010-04-28 07:00:00,2010-05-03 07:00:00,2010-05-03 07:00:00,5 days,5,47.610741,-122.338703,"3rd Ave, Seattle, WA, USA",0.440475,0.836150,0.177650,0.331137,4.053555,2.052527,2,2,4,62,530330081002,1500000US530330081002,"Block Group 2, Census Tract 81, King County, W...",384400,224247,False,False
9,14,7107,17th Ave NE Exit of University of Washington ...,NE 45TH ST BETWEEN 15TH AVE NE AND 16TH AVE NE...,2010-04-29 07:00:00,2010-05-03 07:00:00,2010-05-03 07:00:00,4 days,4,47.675800,-122.310849,"16th Ave NE, Seattle, WA, USA",4.908781,4.220325,4.794037,4.554949,2.059034,3.439953,2,2,4,36,530330026003,1500000US530330026003,"Block Group 3, Census Tract 26, King County, W...",450600,59449,False,False
11,16,5239,3708 2nd Ave S ...,2ND AVE S BETWEEN S SPOKANE (S RD) ST AND S AN...,2010-04-15 07:00:00,2010-04-16 07:00:00,2010-04-16 07:00:00,1 days,1,47.568293,-122.301841,"S Andover St, Seattle, WA, USA",2.976221,4.233906,3.427501,3.287720,7.336160,5.449602,2,2,4,79,530330100011,1500000US530330100011,"Block Group 1, Census Tract 100.01, King Count...",358200,39966,False,False
12,17,4589,112 NE 92nd ...,NE 92ND ST BETWEEN 1ST AVE NE AND 2ND AVE NE ...,2010-04-12 07:00:00,2010-04-14 07:00:00,2010-04-14 07:00:00,2 days,2,47.708664,-122.327308,"2nd Ave NE, Seattle, WA, USA",7.081667,6.176169,6.870865,6.723444,3.032093,5.121324,2,2,4,113,530330012004,1500000US530330012004,"Block Group 4, Census Tract 12, King County, W...",172000,22250,False,False
13,19,4582,N 85th St between Stone & Nesbitt Ave ...,N 85TH ST BETWEEN NESBIT AVE N AND MIDVALE AVE...,2010-04-12 07:00:00,2010-04-15 07:00:00,2010-04-15 07:00:00,3 days,3,47.729026,-122.343668,"Midvale Ave N, Seattle, WA, USA",8.502184,7.501803,8.242703,8.146342,4.204639,6.359978,2,2,4,112,530330003002,1500000US530330003002,"Block Group 2, Census Tract 3, King County, Wa...",307800,27440,False,False
14,20,4298,N 105th & Aurora N ...,N 105TH ST BETWEEN N NORTHGATE (E LEG) WAY AND...,2010-04-08 07:00:00,2010-04-12 07:00:00,2010-04-12 07:00:00,4 days,4,47.730551,-122.338184,"Densmore Ave N, Seattle, WA, USA",8.595077,7.620234,8.349911,8.238105,4.344465,6.496049,2,2,4,112,530330003002,1500000US530330003002,"Block Group 2, Census Tract 3, King County, Wa...",307800,27440,False,False
15,21,5555,8757 Jones Ave NW ...,JONES AVE NW BETWEEN NW 87TH ST AND NW 89TH PL...,2010-04-19 07:00:00,2010-04-20 07:00:00,2010-04-20 07:00:00,1 days,1,47.693551,-122.385820,"NW 89th Pl, Seattle, WA 98117, USA",6.534993,5.326850,6.139202,6.213459,2.288939,4.087838,2,2,4,114,530330016002,1500000US530330016002,"Block Group 2, Census Tract 16, King County, W...",650300,28621,False,False
16,22,2168,...,S ELMGROVE ST BETWEEN 5TH AVE S AND 7TH AVE S ...,2010-03-24 07:00:00,2010-03-25 07:00:00,2010-03-25 07:00:00,1 days,1,47.561221,-122.324266,"7th Ave S, Seattle, WA, USA",3.129374,4.259283,3.453748,3.483147,7.540115,5.497001,1,3,3,67,530330093003,1500000US530330093003,"Block Group 3, Census Tract 93, King County, W...",373000,27407,False,False
17,24,7731,NW 100th: between Dibble NW & 9th NW ...,14TH AVE NW BETWEEN NW 59TH ST AND NW 60TH ST ...,2010-05-04 07:00:00,2010-05-05 07:00:00,2010-05-05 07:00:00,1 days,1,47.672365,-122.381132,"NW 60th St, Seattle, WA 98107, USA",5.112407,3.879138,4.694294,4.803881,1.309643,2.643687,2,1,5,28,530330033003,1500000US530330033003,"Block Group 3, Census Tract 33, King County, W...",409900,34796,False,False
18,25,6586,51st and Hazel ...,RAINIER AVE S BETWEEN 51ST AVE S AND STURTEVAN...,2010-04-26 07:00:00,2010-04-27 07:00:00,2010-04-27 07:00:00,1 days,1,47.518237,-122.268508,"Sturtevant Ave S, Seattle, WA 98118, USA",6.765437,8.011169,7.198251,7.080924,11.119857,9.236332,2,2,4,85,530330118004,1500000US530330118004,"Block Group 4, Census Tract 118, King County, ...",238800,113360,False,False
19,26,1593,S Lane St & Maynard Ave S in middle of interse...,S LANE ST BETWEEN MAYNARD AVE S AND 7TH AVE S ...,2010-03-15 07:00:00,2010-03-16 07:00:00,2010-03-16 07:00:00,1 days,1,47.561221,-122.324266,"7th Ave S, Seattle, WA, USA",3.129374,4.259283,3.453748,3.483147,7.540115,5.497001,1,3,3,67,530330093003,1500000US530330093003,"Block Group 3, Census Tract 93, King County, W...",373000,27407,False,False
20,27,340645,"2528 24TH AVE E, SEATTLE, WA ...",24TH AVE E BETWEEN E MILLER ST AND EAST MONTLA...,2015-03-19 07:00:00,2015-03-20 07:00:00,2015-03-20 07:00:00,1 days,1,47.643274,-122.303345,"E Montlake Pl E, Seattle, WA 98112, USA",2.890849,2.659917,2.943739,2.569761,2.925583,2.578072,1,3,3,98,530330062002,1500000US530330062002,"Block Group 2, Census Tract 62, King County, W...",750900,66986,False,False
21,29,342634,"410 5TH AVE S, SEATTLE, WA ...",5TH AVE S BETWEEN S JACKSON ST AND S KING ST ...,2015-04-01 07:00:00,2015-04-06 07:00:00,2015-04-06 07:00:00,5 days,5,47.598329,-122.311574,"S King St, Seattle, WA, USA",1.101665,2.334580,1.632809,1.302539,5.233324,3.463025,2,2,4,58,530330090002,1500000US530330090002,"Block Group 2, Census Tract 90, King County, W...",327700,41678,False,False
22,33,342083,The section of street directly under the Unive...,NE PACIFIC ST BETWEEN UNIVERSITY WAY NE AND 15...,2015-03-29 07:00:00,2015-03-31 07:00:00,2015-03-31 07:00:00,2 days,2,47.714049,-122.312501,"15th Ave NE, Seattle, WA, USA",7.505991,6.686514,7.339694,7.148641,3.683545,5.698669,1,3,3,113,530330007004,1500000US530330007004,"Block Group 4, Census Tract 7, King County, Wa...",366300,36726,False,False
24,39,2027,nw 140 and 2 ave nw ...,NW 140TH ST BETWEEN 2ND AVE NW AND 3RD AVE NW ...,2010-03-22 07:00:00,2010-03-24 07:00:00,2010-03-24 07:00:00,2 days,2,47.716002,-122.360934,"3rd Ave NW, Seattle, WA, USA",7.703872,6.619859,7.394563,7.355173,3.296629,5.427379,1,3,3,110,530330005002,1500000US530330005002,"Block Group 2, Census Tract 5, King County, Wa...",565200,53534,False,False
25,40,343622,E HAMLIN ST BETWEEN MONTLAKE BLVD E AND 24TH A...,E HAMLIN ST BETWEEN MONTLAKE BLVD E AND 24TH A...,2015-04-08 07:00:00,2015-04-09 07:00:00,2015-04-09 07:00:00,1 days,1,47.632286,-122.301604,"24th Ave E, Seattle, WA 98112, USA",2.295818,2.370598,2.454543,2.014377,3.489242,2.652548,2,2,4,101,530330062001,1500000US530330062001,"Block Group 1, Census Tract 62, King County, W...",721400,61113,False,False
26,42,339582,1801 6th Ave ...,6TH AVE BETWEEN OLIVE WAY AND STEWART ST ...,2015-03-13 07:00:00,2015-03-14 07:00:00,2015-03-14 07:00:00,1 days,1,47.614951,-122.335297,"Stewart St, Seattle, WA, USA",0.622437,0.757474,0.484134,0.298510,3.800034,1.879788,1,3,3,60,530330073003,1500000US530330073003,"Block Group 3, Census Tract 73, King County, W...",454700,92592,False,False
27,44,342135,37 W CREMONA ST ...,W CREMONA ST BETWEEN QUEEN ANNE AVE N AND 3RD ...,2015-03-30 07:00:00,2015-04-01 07:00:00,2015-04-01 07:00:00,2 days,2,47.635962,-122.360952,"3rd Ave W, Seattle, WA 98119, USA",2.458600,1.198905,2.013558,2.179713,2.276375,0.176986,1,3,3,44,530330068002,1500000US530330068002,"Block Group 2, Census Tract 68, King County, W...",667000,78118,False,False
28,45,336433,Southbound lane of Beacon Ave. S. and S. Othel...,BEACON (E RD) AVE S BETWEEN S MYRTLE ST AND S ...,2015-02-27 08:00:00,2015-03-02 08:00:00,2015-03-02 08:00:00,3 days,3,47.537023,-122.293035,"S Othello St, Seattle, WA, USA",5.116312,6.338432,5.523118,5.445978,9.516991,7.572531,1,4,2,81,530330110021,1500000US530330110021,"Block Group 1, Census Tract 110.02, King Count...",279600,17462,False,False
29,46,340560,2532 NW MARKET ST ...,NW MARKET ST BETWEEN 24TH AVE NW AND 26TH AVE ...,2015-03-19 07:00:00,2015-03-22 07:00:00,2015-03-22 07:00:00,3 days,3,47.683119,-122.389789,"26th Ave NW, Seattle, WA, USA",5.957667,4.721023,5.536371,5.649530,1.964388,3.487548,1,3,3,27,530330031002,1500000US530330031002,"Block Group 2, Census Tract 31, King County, W...",428200,79011,False,False
30,47,340281,2101 ALASKAN WAY ...,ALASKAN WAY BETWEEN LENORA ST AND BLANCHARD ST...,2015-03-18 07:00:00,2015-03-19 07:00:00,2015-03-19 07:00:00,1 days,1,47.614923,-122.342216,"Blanchard St, Seattle, WA 98121, USA",0.766176,0.507525,0.359476,0.549416,3.742369,1.721076,1,3,3,60,530330072001,1500000US530330072001,"Block Group 1, Census Tract 72, King County, W...",384100,52281,False,False
31,52,342246,Intersection of s Lucile at 32nd ave s. ...,32ND AVE S BETWEEN S LUCILE ST AND S ORCAS ST ...,2015-03-30 07:00:00,2015-03-31 07:00:00,2015-03-31 07:00:00,1 days,1,47.550915,-122.297681,"S Orcas St, Seattle, WA, USA",4.144515,5.378682,4.564394,4.469926,8.536412,6.608575,1,3,3,80,530330104012,1500000US530330104012,"Block Group 2, Census Tract 104.01, King Count...",402300,49560,False,False
32,54,341364,"4199 7TH AVE NE, SEATTLE, WA 98105 ...",7TH AVE NE BETWEEN NE 40TH ST AND NE 42ND ST ...,2015-03-24 07:00:00,2015-03-25 07:00:00,2015-03-25 07:00:00,1 days,1,47.659178,-122.290099,"NE 42nd St, Seattle, WA 98105, USA",4.151229,3.843544,4.194343,3.830182,3.035403,3.502067,1,3,3,40,530330041005,1500000US530330041005,"Block Group 5, Census Tract 41, King County, W...",883400,134814,False,False
33,55,340982,GARFIELD ST BETWEEN 1ST S AVE N AND WARREN AVE...,GARFIELD ST BETWEEN 1ST (S LEG) AVE N AND WARR...,2015-03-23 07:00:00,2015-03-24 07:00:00,2015-03-24 07:00:00,1 days,1,47.634024,-122.354406,"Warren Ave N, Seattle, WA 98109, USA",2.186511,0.964094,1.773303,1.889971,2.384818,0.288323,1,3,3,43,530330068001,1500000US530330068001,"Block Group 1, Census Tract 68, King County, W...",640500,70287,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1288,1955,42409,8626 35th SW ...,35TH AVE SW BETWEEN SW CLOVERDALE (S LEG) ST A...,2010-12-03 08:00:00,2010-12-06 08:00:00,2010-12-06 08:00:00,3 days,3,47.524675,-122.368642,"SW Trenton St, Seattle, WA, USA",5.886704,6.682183,6.004128,6.234988,9.963670,7.808719,4,-6,12,94,530330114012,1500000US530330114012,"Block Group 2, Census Tract 114.01, King Count...",238800,25318,False,False
1289,1957,266879,9334 23rd Ave NW ...,23RD AVE NW BETWEEN NW 93RD ST AND NW 94TH ST ...,2014-03-31 07:00:00,2014-04-03 07:00:00,2014-04-03 07:00:00,3 days,3,47.697506,-122.392969,"NW 94th St, Seattle, WA 98117, USA",6.918365,5.697106,6.511496,6.601604,2.714878,4.459061,1,3,3,114,530330015001,1500000US530330015001,"Block Group 1, Census Tract 15, King County, W...",546500,60413,False,False
1290,1958,59572,11740 Greenwood N ...,GREENWOOD AVE N BETWEEN N 117TH ST AND N 120TH...,2011-03-23 07:00:00,2011-03-24 07:00:00,2011-03-24 07:00:00,1 days,1,47.715943,-122.339496,"N 120th St, Seattle, WA 98133, USA",7.588991,6.609152,7.339629,7.232449,3.340787,5.488919,1,3,3,112,530330006004,1500000US530330006004,"Block Group 4, Census Tract 6, King County, Wa...",356300,45698,False,False
1291,1959,54915,...,GREENWOOD AVE N AND HOLMAN RD N ...,2011-02-27 08:00:00,2011-03-01 08:00:00,2011-03-01 08:00:00,2 days,2,47.705085,-122.355428,"Greenwood Ave N & Holman Rd N, Seattle, WA 981...",6.917379,5.850262,6.617294,6.567309,2.526163,4.672673,1,4,2,111,530330014002,1500000US530330014002,"Block Group 2, Census Tract 14, King County, W...",364900,32837,False,False
1292,1960,262170,EB right hand side ...,SW ORCHARD ST BETWEEN DELRIDGE WAY SW AND SYLV...,2014-03-11 07:00:00,2014-03-12 07:00:00,2014-03-12 07:00:00,1 days,1,47.540143,-122.366783,"Sylvan Way SW, Seattle, WA, USA",4.844139,5.611907,4.942299,5.188402,8.891567,6.736721,1,3,3,92,530330107012,1500000US530330107012,"Block Group 2, Census Tract 107.01, King Count...",292000,17973,False,False
1293,1961,268683,Edge of the street is gone Part of street is g...,STURGUS AVE S BETWEEN S MASSACHUSETTS ST AND S...,2014-04-11 07:00:00,2014-04-22 07:00:00,2014-04-22 07:00:00,11 days,11,47.587751,-122.309489,"S State St, Seattle, WA 98144, USA",1.655242,2.928668,2.153854,1.934475,5.950153,4.112285,2,2,4,79,530330094005,1500000US530330094005,"Block Group 5, Census Tract 94, King County, W...",307300,55893,False,False
1294,1963,61249,E Boston and 10th Ave E ...,E BOSTON ST BETWEEN 10TH AVE E AND FEDERAL AVE...,2011-04-07 07:00:00,2011-04-15 07:00:00,2011-04-15 07:00:00,8 days,8,47.631537,-122.319159,"Federal Ave E, Seattle, WA 98102, USA",1.850803,1.599806,1.851846,1.509816,3.021018,1.854373,2,2,4,100,530330065001,1500000US530330065001,"Block Group 1, Census Tract 65, King County, W...",811900,145100,False,False
1295,1964,268079,8TH AVE S BETWEEN AIRPORT WAY S AND S LUCILE S...,8TH AVE S BETWEEN AIRPORT WAY S AND S LUCILE S...,2014-04-08 07:00:00,2014-04-09 07:00:00,2014-04-09 07:00:00,1 days,1,47.552304,-122.300847,"S Lucile St, Seattle, WA, USA",3.999866,5.227291,4.412369,4.328848,8.400471,6.459391,2,2,4,80,530330104012,1500000US530330104012,"Block Group 2, Census Tract 104.01, King Count...",402300,49560,False,False
1296,1966,267154,5704 Wilson Ave S entie street hot mix ...,WILSON AVE S BETWEEN S ORCAS ST AND 55TH AVE S...,2014-04-01 07:00:00,2014-04-03 07:00:00,2014-04-03 07:00:00,2 days,2,47.516827,-122.264093,"55th Ave S, Seattle, WA, USA",6.945193,8.195603,7.383908,7.257144,11.285834,9.417703,2,2,4,85,530330118003,1500000US530330118003,"Block Group 3, Census Tract 118, King County, ...",264700,41541,False,False
1297,1967,273340,ROANOKE ST BETWEEN 10TH E AVE E AND DELMAR DR...,E ROANOKE ST BETWEEN 10TH (E LEG) AVE E AND DE...,2014-05-08 07:00:00,2014-05-13 07:00:00,2014-05-13 07:00:00,5 days,5,47.641726,-122.315847,"Delmar Dr E, Seattle, WA, USA",2.568038,2.141600,2.530486,2.222491,2.558198,1.984905,2,1,5,98,530330062003,1500000US530330062003,"Block Group 3, Census Tract 62, King County, W...",907700,107139,False,False
1298,1968,61207,N 112th St and Phinney Ave N ...,PHINNEY AVE N BETWEEN N 112TH ST AND N 115TH S...,2011-04-07 07:00:00,2011-04-18 07:00:00,2011-04-18 07:00:00,11 days,11,47.712325,-122.344799,"N 115th St, Seattle, WA, USA",7.355164,6.346868,7.089650,7.000133,3.053014,5.207412,2,2,4,112,530330006003,1500000US530330006003,"Block Group 3, Census Tract 6, King County, Wa...",327600,101494,False,False
1299,1969,268333,4045 7th Ave S ...,7TH AVE S BETWEEN S ANDOVER ST AND S DAKOTA ST...,2014-04-09 07:00:00,2014-04-10 07:00:00,2014-04-10 07:00:00,1 days,1,47.565993,-122.297900,"S Dakota St, Seattle, WA, USA",3.204724,4.466366,3.662174,3.511184,7.547903,5.678127,2,2,4,88,530330100013,1500000US530330100013,"Block Group 3, Census Tract 100.01, King Count...",371800,43512,False,False
1300,1971,266806,35TH AVE NE BETWEEN NE 104TH ST AND NE 105TH S...,35TH AVE NE BETWEEN NE 104TH ST AND NE 105TH S...,2014-03-31 07:00:00,2014-04-03 07:00:00,2014-04-03 07:00:00,3 days,3,47.704670,-122.302317,"NE 105th St, Seattle, WA 98125, USA",6.942599,6.213911,6.818686,6.588558,3.458908,5.317741,1,3,3,102,530330011002,1500000US530330011002,"Block Group 2, Census Tract 11, King County, W...",402100,30225,False,False
1301,1973,278355,In front of mailboxes\n\n ...,1ST AVE NE BETWEEN N 122ND ST AND CORLISS AVE ...,2014-06-05 07:00:00,2014-06-11 07:00:00,2014-06-11 07:00:00,6 days,6,47.710445,-122.331354,"Corliss Ave N, Seattle, WA, USA",7.201347,6.269615,6.977110,6.843456,3.076210,5.191419,2,0,6,112,530330012005,1500000US530330012005,"Block Group 5, Census Tract 12, King County, W...",200800,41955,False,False
1302,1974,262390,MERIDIAN AVE N BETWEEN N 105TH ST AND N 106TH ...,MERIDIAN AVE N BETWEEN N 105TH ST AND N 106TH ...,2014-03-12 07:00:00,2014-03-18 07:00:00,2014-03-18 07:00:00,6 days,6,47.705969,-122.332569,"N 106th St, Seattle, WA 98133, USA",6.892054,5.955584,6.664647,6.534317,2.766492,4.877618,1,3,3,115,530330012005,1500000US530330012005,"Block Group 5, Census Tract 12, King County, W...",200800,41955,False,False
1303,1975,269951,...,25TH AVE E BETWEEN E JOHN ST AND E MADISON ST ...,2014-04-18 07:00:00,2014-04-23 07:00:00,2014-04-23 07:00:00,5 days,5,47.622865,-122.297075,"E Madison St, Seattle, WA, USA",1.999137,2.443696,2.294901,1.800418,4.114863,3.013918,2,2,4,57,530330077002,1500000US530330077002,"Block Group 2, Census Tract 77, King County, W...",426400,30486,False,False
1305,1980,264424,10th Ave E and E Prospect ...,10TH AVE E BETWEEN E ALOHA ST AND E PROSPECT S...,2014-03-18 07:00:00,2014-03-19 07:00:00,2014-03-19 07:00:00,1 days,1,47.629277,-122.301650,"E Prospect St, Seattle, WA, USA",2.135162,2.305509,2.326340,1.869420,3.640005,2.686527,1,3,3,101,530330064001,1500000US530330064001,"Block Group 1, Census Tract 64, King County, W...",619900,32637,False,False
1306,1981,60328,32nd Ave NE at NE 135th St ...,32ND AVE NE BETWEEN NE 135TH ST AND NE 137TH S...,2011-03-31 07:00:00,2011-04-01 07:00:00,2011-04-01 07:00:00,1 days,1,47.728424,-122.307966,"NE 137th St, Seattle, WA 98125, USA",8.517984,7.700831,8.354946,8.160924,4.653555,6.701461,1,3,3,105,530330002006,1500000US530330002006,"Block Group 6, Census Tract 2, King County, Wa...",347300,18719,False,False
1307,1982,43971,: Sylvan Way that wraps around the Home Depo...,DELRIDGE WAY SW BETWEEN SW ORCHARD ST AND SYLV...,2010-12-14 08:00:00,2010-12-15 08:00:00,2010-12-15 08:00:00,1 days,1,47.540143,-122.366783,"Sylvan Way SW, Seattle, WA, USA",4.844139,5.611907,4.942299,5.188402,8.891567,6.736721,4,-6,12,92,530330107012,1500000US530330107012,"Block Group 2, Census Tract 107.01, King Count...",292000,17973,False,False

In [52]:
np.any(pd.isnull(df.Median_Value))

True

In [53]:
df.isnull().values.any()

True

In [54]:
df_clean.isnull().values.any()

False

In [55]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1195 entries, 0 to 1319
Data columns (total 29 columns):
OBJECTID                   1195 non-null int64
WOKEY                      1195 non-null int64
LOCATION                   1195 non-null object
ADDRDESC                   1195 non-null object
INITDT_dt                  1195 non-null datetime64[ns]
FLDSTARTDT_dt              1195 non-null datetime64[ns]
FLDENDDT_dt                1195 non-null datetime64[ns]
DURATION                   1195 non-null timedelta64[ns]
DURATION_td                1195 non-null float64
latitude                   1195 non-null float64
longitude                  1195 non-null float64
address                    1195 non-null object
Seattle_dist               1195 non-null float64
Space_Needle_dist          1195 non-null float64
Pike_Place_dist            1195 non-null float64
Convention_Center_dist     1195 non-null float64
Woodland_Park_dist         1195 non-null float64
Queene_Anne_dist           1195 non-null float64
INIT_Quarter               1195 non-null int64
days_end_FY                1195 non-null int64
INIT_month                 1195 non-null int64
neighborhood_label         1195 non-null float64
GEOID                      1195 non-null object
GEO.id                     1195 non-null object
GEO.display-label          1195 non-null object
Median_Value               1195 non-null float64
Margin_of_Error            1195 non-null float64
b_no_Median_Value          1195 non-null bool
b_no_neighborhood_label    1195 non-null bool
dtypes: bool(2), datetime64[ns](3), float64(12), int64(5), object(6), timedelta64[ns](1)
memory usage: 263.7+ KB

In [56]:
df_all = df_clean.ix[:, ['neighborhood_label','INIT_Quarter','INIT_month','days_end_FY', 'Median_Value',
                                        'Queene_Anne_dist','Woodland_Park_dist','Space_Needle_dist',
                                       'Seattle_dist','latitude','longitude','INITDT_dt','FLDENDDT_dt',
                                       'Convention_Center_dist','Pike_Place_dist','Margin_of_Error']]

In [57]:
df_all.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1195 entries, 0 to 1319
Data columns (total 16 columns):
neighborhood_label        1195 non-null float64
INIT_Quarter              1195 non-null int64
INIT_month                1195 non-null int64
days_end_FY               1195 non-null int64
Median_Value              1195 non-null float64
Queene_Anne_dist          1195 non-null float64
Woodland_Park_dist        1195 non-null float64
Space_Needle_dist         1195 non-null float64
Seattle_dist              1195 non-null float64
latitude                  1195 non-null float64
longitude                 1195 non-null float64
INITDT_dt                 1195 non-null datetime64[ns]
FLDENDDT_dt               1195 non-null datetime64[ns]
Convention_Center_dist    1195 non-null float64
Pike_Place_dist           1195 non-null float64
Margin_of_Error           1195 non-null float64
dtypes: datetime64[ns](2), float64(11), int64(3)
memory usage: 158.7 KB

In [62]:
df_data = pd.concat([df_all.ix[:, ['Queene_Anne_dist','Woodland_Park_dist',
                    'Space_Needle_dist','Convention_Center_dist','Pike_Place_dist',
                    'Seattle_dist','latitude','longitude','Median_Value','Margin_of_Error']],
                    df_all.neighborhood_label.astype('category'), 
                    df_all.INIT_Quarter.astype('category'), 
                    df_all.INIT_month.astype('int')], axis=1)

In [63]:
df_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1195 entries, 0 to 1319
Data columns (total 13 columns):
Queene_Anne_dist          1195 non-null float64
Woodland_Park_dist        1195 non-null float64
Space_Needle_dist         1195 non-null float64
Convention_Center_dist    1195 non-null float64
Pike_Place_dist           1195 non-null float64
Seattle_dist              1195 non-null float64
latitude                  1195 non-null float64
longitude                 1195 non-null float64
Median_Value              1195 non-null float64
Margin_of_Error           1195 non-null float64
neighborhood_label        1195 non-null category
INIT_Quarter              1195 non-null category
INIT_month                1195 non-null int32
dtypes: category(2), float64(10), int32(1)
memory usage: 110.4 KB

In [64]:
y = df_clean['DURATION_td']
X = df_data